[2020-04-22 22:58] gutschke commented on #175
I didn't even realize that the bump at the front of the pin was intentional. It made it harder to move, so I smoothed it out. Agreed, it's not going to fall out. If we don't worry about the magnets falling out (which they do on occasion), we absolutely don't need to worry about the pin.

Same here. Things didn't start to work, until I trimmed the pin by about 1mm. And yes, I then use the small scr

[2020-04-22 23:04] AbeFM commented on #175
There's no reason not to print it. You can "upgrade" anything you want, but
a printed pin won't hold you back.

The VERY best thing you can do it add the LED. That was the first step on
my path to Working. And, um, I still use it constantly, from across the
room I can tell what's going on since it sticks up and all.

On Wed, Apr 22, 2020 at 3:58 PM gutschke <notifications@github.com> wrote:

[2020-04-26 06:14] gutschke commented on #175
I received my SMD LED and installed it. And of course, nothing worked afterwards. I guess, taking the hat off and replacing the IR board shifted things just enough that the old calibration was now wrong. And interestingly enough, I could now see the ON-OFF-ON behavior that @AbeFM had mentioned.

A minor adjustment to the screw that pushes the pin, and everything went back to normal. No more ON-OFF

[2020-04-26 14:30] sergiofagundes commented on #152
Hi, I'm using TZB firmware: 2.1.8-TZB77 commit 2386 with MM-control-01-2.1.8-RC2.

I have a Prusa MK3 bear full, not a S type. Can I still use the newer TZB firmwares on it or I need to upgrade my MK3 to MK3S and my MMU2 to MMU2S to use the newer firmwares.

Thank you

[2020-04-27 21:44] AbeFM commented on #175
Another small subtlety: The Bondtech gears are NOT round. I took them out,
measured them, and drew lines on the fat spots. When I close the door I
always check that the high spots are perpendicular to each other so they
sort of average out.

On Sat, Apr 25, 2020 at 11:14 PM gutschke <notifications@github.com> wrote:

[2020-04-28 17:52] gutschke commented on #175
Ah, they don't make it easy now, do they. It had never occurred to me to check the gears. I can see how poor alignment due to varying thickness could every so often make it hard for the initial push of the tip of the filament into the gears. Thanks for this suggestion. I'll make sure to measure my gears the next time I take the extruder apart. For now, thanks to the status LED, I seem to have if c

[2020-04-28 21:57] AbeFM commented on #175
What I was finding was that the door would move back and forth even when
empty, or with fixed filament size in it.

The overall problem is the deflection of the idler, especially with softer
materials, is small compared to the natural variations from things like off
center holes. I believe I used a Dial Indicator to find my high spots -
it's not high overall that matters, but the off-centeredness

[2020-04-29 00:20] sergiofagundes commented on #152
Can I edit the configuration_prusa.h  and change the #define IR_SENSOR to #define PAT9125 and use the MK3S firmware on the MK3 and still use the MMU2S firmware ?

[2020-04-29 00:30] TheZeroBeast commented on #152
Sorry @sergiofagundes, been a busy few days. No the latest FW is not configured for the PAT91XX sensors anymore, a lot of code changed to support the IR_SENSOR which doesn't translate to the laser sensor.

[2020-04-29 00:32] TheZeroBeast commented on #175
@gutschke, no, not easy but reliability comes with a little effort.

[2020-04-30 14:26] sergiofagundes commented on #152
Hi, I'm now printing you new designed extruder for MK3S and will update the new firmware.

Is the manual bowden length calibration still necessary or it's like the original prusa mk3s mmu2s that calculates automatically the tube length ?

Thank you

[2020-05-11 01:13] sergiofagundes commented on #152
I have converted to the MKS3 using the TZB new extruder and new firmwares from TZB, but can't pass the calibration after the lcd shows to use a paper...  the firmware goes down and stops with a calibration failure. Some one can help with this ?

[2020-05-11 02:47] TheZeroBeast commented on #152
Open a thread and we can discuss @sergiofagundes

Is the mmu Bowden length calibrated already?

[2020-05-11 10:58] sergiofagundes opened #177 "XYZ Calibration error"
I have printed the new TZB extruder and update from MK3 MMU2 to MK3S MMU2S latest firmware from TZB also. Before I was using TZB firmware 2.1.8-TZB77 2386 with MMU2S MM-control-01-2.1.8-RC2 with the original prusa extruder.

Before upgrade the calibration passed without problems.

After upgrade there's an error after the printer says about to put a piece of paper during the calibration, the print

[2020-05-11 13:55] sergiofagundes commented on #177
Sorry, I have mistake labeled as a bug, but it's not a bug, it's a help for calibration, problably is just something wrong with my settings, not a firmware bug.

[2020-05-11 14:05] sergiofagundes commented on #177
After the error to check the axes, I used the move axis to check where the Z axis is, and it shows +5, but the nozzle is much less than this (almost touching the bed), also the X axis is showing +5, and Y axis shows +1.

If I try to do a Calibration / Auto Home, the Z beggins to raise till it touches to top of printer and the X axis goes to left and begins to go to the bed and stops perfectly wher

[2020-05-11 19:34] gutschke commented on #177
I ran into calibration errors after upgrading the extruder. Turns out, I had removed the zip ties for the heater and thermistor cable. And when I put them pack on, I didn't align them exactly the same way as before. That was enough for the extruder to hit the XZ frame. It was only off by a millimeter or two. But that was enough so that calibration no longer completed. So, make absolutely sure, you

[2020-05-11 23:38] sergiofagundes commented on #177
I'm testing all day, I think the problem is with the Z axis, It doesn't goes all the all to the top of printer, it only goes a few mms high and the calibration shows a message to continue and use a paper...

[2020-05-12 00:07] gutschke commented on #177
What happens if you turn off the printer and spin both lead screws by hand to move the Z axis all the way to the top? Does that work? Is it easy, or does it bind on something? How about doing the same thing when moving all the way to the bottom?

I think the stock PTFE tube that connects the MMU2S with the extruder might be just a little bit too short after removing the chimney. I replaced it with

[2020-05-12 00:27] sergiofagundes commented on #177
I got it to work !!!! I followed the Bear document on the web and got it to pass all calibration.

I'm very happy again! The TZB is the only firmware I can get to work with my Prusa since I'm using 3rd party motors and the original Prusa firmware I can't fine tune like TZB.

Thanks for the help

[2020-05-19 18:10] gutschke opened #178 "Prusa just released 3.9.0"
https://github.com/prusa3d/Prusa-Firmware/releases/tag/v3.9.0

This is just a place holder bug to remind you to rebase whenever you get the opportunity. Thanks

[2020-06-02 00:30] TheZeroBeast commented on #178
Indeed, on my list.

[2020-06-02 00:31] #177 closed, assigned to TheZeroBeast

[2020-06-02 00:41] TheZeroBeast commented on #175
Correct PTFE extruder length published here
https://www.prusaprinters.org/prints/7690-tzb-mk3smk25smmu2s-extruder-mmu2s-no-tower-v2

[2020-06-02 00:41] #175 closed, assigned to nobody

[2020-06-02 00:45] TheZeroBeast commented on #170
I vote for not implementing any changes. If this issue raises it's ugly head you'd need to do maintenance on mmu & knurled gears. Closing off.

[2020-06-02 00:46] TheZeroBeast commented on #165
All these changes are already implemented and released.

[2020-06-02 00:46] #165 closed, assigned to nobody

[2020-06-02 00:47] TheZeroBeast commented on #167
Minimised initial load was implemented in release 3.0.3.

[2020-06-02 00:47] #167 closed, assigned to nobody

[2020-06-02 00:50] AbeFM commented on #170
That's not what happens. I don't get chewed filament. And there's nothing to do WITHOUT opening it up (in a sealed system) to pull the filament back. At a minimum, a way to pull it back with the buttons needs to be implemented.

If you don't, you break off filament in the selector, or jam the selector on the folded over filament.

You can tell me you *think* it's ground my filament, but in the ten

[2020-06-02 00:52] AbeFM commented on #167
I didn't catch that in the release notes, and I didn't install the release. Thanks for doing that!

[2020-06-02 00:53] TheZeroBeast commented on #170
Ok, so how does it not get the filament to the FINDA when loading? I haven't even seen this when printing with FLEX little own with hard plastics that always load true.

[2020-06-02 15:37] AbeFM commented on #170
Its when I'm first loading the machine on a manual filament change. Trying
to get filament into the mmu before a print. Press the button and the
machine feeds some distance, say 5 inches. If you took a coupe seconds to
get the filament to grip the Bondtechs, then it feeds partway towards the
finda but times out.

At this point there's filament partially extended into the selector but not
all the w

[2020-06-05 12:13] TheZeroBeast commented on #170
Hmm, I think I understand. I'll try adding a fix 🤔

[2020-06-05 12:35] TheZeroBeast commented on #178
Update for to public. I have Rebased and started testing the update to Prusa 3.9.0 Final.

[2020-06-05 13:39] gizzburn commented on #178
Nice work Robert..

[2020-06-08 02:12] TheZeroBeast commented on #170
hi @AbeFM ,

I added an auto retract at each load fail. released with 3.0.4
Its worth noting that the right button in error state retracts and the left extrudes.
centre than re-homes and retries.

[2020-06-08 02:12] #170 closed, assigned to nobody

[2020-06-08 02:14] TheZeroBeast commented on #178
@gizzburn, all done mate. Release 3.0.4 has been rebased to 3.9.0

[2020-06-08 02:14] #178 closed, assigned to nobody

[2020-06-08 03:30] alackofcolor opened #179 "MMU2S Heatbreak Jam/Clog Detected"
I see this error state listed in the Wiki, but it doesn't list any information on what causes it or how it's triggered. I'm seeing it with tips that are perfectly shaped, but maybe slightly large in their diameter. Clipping them off usually fixes it, but what's actually being detected to trigger the warning? Is this a stock Prusa error, or one that's added in this firmware?

[2020-06-08 09:04] fromanza commented on #179
I too have seen this error and the printer usually loads when trying the second time. I assumed there is a stepper current 'overload' detected, like the skipped belt detection stall guard thats working but thats a guess?

[2020-06-08 09:41] TheZeroBeast commented on #179
Hey guys,

This error state is a stock PRUSA one.

It tries to fit the tip into top of the heatbreak, if it doesn’t fit the filament is no longer present in bondtech gears which then throws this error.

If you’re PTFE section inside extruder is degrading it won’t help this situation.

[2020-06-08 13:50] alackofcolor commented on #179
How does it leave the Bondtech gears by virtue of being jammed in at the top of the heartbreak? Does it always push the filament forward and then reverse it, causing it to leave the Bondtech gears if it was never able to advance before reversing?

[2020-06-08 17:45] AbeFM commented on #179
It sounds like what I was seeing until I adjusted the load distance down.
TZB said he also adjusted this default number down in the last release -
which I haven't tried yet. I'm not sure if it's your issue, it seemed to
stem from leaving behind a little too much filament on the previous unload
that the fresh stuff bumps into. If that's the case, perhaps loading slower
makes sense? Mine's been good

[2020-06-08 17:47] AbeFM commented on #170
Awesome! I'll check that out as soon as I get the new firmware. It should
solve the problem.

On Sun, Jun 7, 2020 at 7:13 PM Robert McKenzie <notifications@github.com>
wrote:

[2020-06-09 05:24] TheZeroBeast commented on #179
Hi @alackofcolor, it always does for all filaments but flex.
Do you understand why it does it?

If the nozzle is jammed and can not extrude there is usually a small amount of material on the heatbreak. The new load comes down and can't push it so gears slip then retract out of gears to catch this situation.

If you don't then it continues to attempt to print, not extruding. Stuffs the print.

@Abe

[2020-06-10 10:44] peacemaker85 opened #180 "Source code?"
I can't seem to find the source code for the printer firmware itself. New to github so sorry if i missed it, but i really need it due to a blown thermistor port on my board.

Thanks in advance! :-)

[2020-06-10 17:30] kajsilander78 commented on #180
If you start clicking from here: https://github.com/TheZeroBeast

[2020-06-10 19:19] peacemaker85 commented on #180
I've tried checking https://github.com/TheZeroBeast/TZB-MK3S-Firmware if that is what you mean, but that one only has the source that's based on the old 3.9.0-RC1 firmware, not the new one.

[2020-06-10 19:24] kajsilander78 commented on #180
Not out yet. He have just started with the new version.

[2020-06-10 19:27] peacemaker85 commented on #180
Uhm, yes it is. https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/releases  :-)

[2020-06-10 20:30] kajsilander78 commented on #180
Yes, the mmu firmware is rebased, not the printer firmware. As I understand... ;) Not sure if I'm right.

[2020-06-10 21:15] peacemaker85 commented on #180
Well i'm not sure either, but the official prusa firmware only updates the printer firmware, and not the mmu firmware, i assumed 3.0.4 was updated to 3.9.0. Oh yeah. Robert also wrote in the release notes that 3.0.4 is rebased to 3.9.0. Sorry if i come ff as a smart ass. I just love this firmware and can't wait to get my MMU to make sense again. :-)

[2020-06-14 04:29] TheZeroBeast commented on #180
Hi @peacemaker85, sorry forgot to hit commit on that repo.
https://github.com/TheZeroBeast/TZB-MK3S-Firmware

[2020-06-14 04:30] TheZeroBeast commented on #180
When I rebase both MMU and MK3 get rebuild with my latest changes. I release both on the MMU2S release page, at least HEX wise. Source is now committed up 👍

[2020-06-14 08:45] peacemaker85 commented on #180
Yay, thanks! Keep up the great work!

[2020-06-14 08:45] #180 closed, assigned to nobody

[2020-06-14 17:23] sergiofagundes opened #181 "TZB firmware stuck on boot screen"
**TZB-MMU2S Release Version**
3.0.4

**Describe the bug**
After installing new firmwares 3.04, the printer stays at "Original Prusa i3 Prusa Research ..." I've upgrade from 3.03.

Steps to reproduce the behavior:
1. Upgraded first the MMU2S firmware (If I try to upgrade the printer firmware first I can't)
2. Upgraded the printer firmware
3. Screen shows verifying 100% and stuck at it.
4. I tried h

[2020-06-16 00:59] TheZeroBeast commented on #181
Hi @sergiofagundes, what printer version are you flashing and are you flashing via PRUSASlicer?

[2020-06-16 14:49] sergiofagundes commented on #181
I have flashed version 3.0.4 on the MMU2S first. After I flashed the printer (einsy), also version 3.04. I used the Prusaslicer for this. Before, I was using 3.0.3.

I have compiled with Arduino 1.85. Using Arduino I have to change the line bellow on eeprom.h:
static constexpr M500_conf * const EEPROM_M500_base = reinterpret_cast<M500_conf*>(20); //offset for storing settings using M500

I have to

[2020-06-16 15:47] sergiofagundes commented on #181
Got it!

Changed the Arduino board from:
Prusa Research AVR Boards
to
Prusa Research AVR MK3 Rambo Einsy

Now it worked, strange is that older versions of TZB till 3.0.3 works with the newer Prusa Research AVR Boards.

The only thing I see strange is that in Support it shows:
Fil. Sensor v.:
unknown state

But in Sensor Info it shows IR sensor changing value (0 to 1) if I manually press the screw

[2020-06-16 18:14] gutschke commented on #181
_Fil. Sensor v.: unknown state_

I believe this is the first release of the firmware, where Prusa added code to detect the type of filament sensor that you have. The choices are: new IR sensor, older laser sensor, different unsupported sensor, or none.

Had you bought the printer with this particular firmware pre-installed, it presumably would have tested and saved the correct values in the EEPROM

[2020-06-16 22:11] sergiofagundes commented on #181
It worked following your instruction. Now it detect it as a 0.3 revision or older.

Thank you

[2020-06-17 22:42] #181 closed, assigned to TheZeroBeast

[2020-06-20 09:48] TheZeroBeast commented on #181
Good to hear it's working for you mate 👍
I wasn't aware the Arduino board selection had changed either, I only build with PlatformIO.

[2020-07-07 17:53] michaelbeljaars opened #182 "MMU2 setup menu"
I am not sure if it is a bug, or if I have just overlooked the option, but in the readme it mentions this functionality:

- LCD Guided MMU2S SETUP menu for more intuitive BOWDEN calibration

which I am not able to find anywhere in the menu structure of my MK3S + MMU2S (TZB-MK3S_EINSy10a-3.0.4-BN2481.hex and
TZB-MMU2S-3.0.4-BN364.hex firmware respectively). I have a hunch that I need to do this cal

[2020-07-07 17:55] peacemaker85 commented on #182
Bowden length calibration is described in great detail on the wiki https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/wiki/Bowden-Length-Calibration :-)

[2020-07-07 18:04] michaelbeljaars commented on #182
Great! Thanks! So but no LCD guided option yet?

Great work btw @TheZeroBeast , my MMU2 is already working better than ever before. I had almost given up, but now I have regained faith that I might actually get it to work!

[2020-07-07 19:09] gutschke commented on #182
If you updated the firmware for both Einsy and the MMU2S, then the MMU2S can send messages to the LCD. This will be used during Bowden calibration

[2020-08-10 03:22] #182 closed, assigned to TheZeroBeast

[2020-09-25 16:56] glytch-kira commented on #179
Hi TZB, I really love your firmware and extruder, and hoping you can help me out here.
I repeatedly get this problem even though there is no clog or jam in my extruder.
My best guess is that it happens because it retracts so far during testing that only the thin tip remains in the extruder gears and doesn't activate the IR-sensor. I was unable to get it to reliably detect the filament in the last

[2020-09-25 22:25] TheZeroBeast commented on #179
Hi @AnimWar,

If you're using the standard e3d v6 that comes with the MK3S I would recommend finding the hardware problem and fixing it.

If it's one of the third party hotends that I haven't used before there could be merit in adjusting the values for the jam det. retinue.

The method is in the printer firmware called **can_load()**, in file **mmu.ccp** on line **1087**
[https://github.com/TheZer

[2020-09-27 09:29] timemaster5 opened #183 "Prusa-Firmware 3.9.1"
Thanks for a great job. Just a notification that Prusa has recently released a final of 3.9.1.

[2020-10-09 00:12] XRyu opened #184 "Add MMU Tensioning Helper"
A very interesting PR in upstream MMU2S-Firmware: https://github.com/prusa3d/MM-control-01/pull/175
Might be great to integreat in TZB? :)

[2020-10-12 23:33] Ruhkukah commented on #183
Hi timemaster5 and all, since TZB hasn't updated his firmware to 3.9.1 yet I decided to merge changes of his firmware and Prusa's FW 3.9.1. This is my first attempt with Github and I haven't figured everything out yet, so I did it in my own repository: https://github.com/Ruhkukah/Prusa-Firmware/tree/TZB-Full-Ruhkukah-3.9.1. Basically, I took 3.9.1 files and transferred all TZB's changes meanwhile

[2020-10-12 23:37] Ruhkukah opened #185 "Updated FW to 3.9.1"
Hi TZB, I decided to merge changes from your firmware with Prusa's FW 3.9.1. This is my first attempt with Github and I haven't figured everything out yet, so I did it in my own repository: https://github.com/Ruhkukah/Prusa-Firmware/tree/TZB-Full-Ruhkukah-3.9.1. Basically, I took 3.9.1 files and transferred all your changes meanwhile adapting to the new flavor of 3.9.1 (for example, they made many

[2020-10-12 23:40] Ruhkukah commented on #185
Also, I tried to merge changes to your firmware directly from 3.9.1 but there were too many changes. I ended up modifying 3.9.0 with the code from your FW and then updated changes from 3.9.1 to the modified 3.9.0

[2020-10-13 08:21] timemaster5 commented on #183
thank you for this, I am gonna flash it today 👍

[2020-10-13 08:33] XRyu commented on #185
@Ruhkukah can you enable issues on your repo too? as it looks you're going to be the spiritual successor of TZB for now ;)
I would love to see your FW built with the BMG + Mosquitto Magnum + SE HT Thermistor :)

[2020-10-13 12:05] Ruhkukah commented on #185
@XRyu done! see here https://github.com/Ruhkukah/Prusa-Firmware/tree/TZB-Full-Ruhkukah-3.9.1/MK3S_Bondtech-16-EINSy10a-SE_HT-Mosquito_Magnum

Let me know your feedback on how it works

[2020-10-13 12:06] Ruhkukah commented on #183
You are welcome. Let me know how it works

[2020-10-13 15:41] XRyu commented on #185
Wow that was very quick! :D Which of the two files am i supposed to use - whats the difference with bootloader? :)
Just a thought - how about pulling in the PlatformIO-parts too? Or is it something now wanted, even though it seems to make building easier and faster? :)
Have just seen the PR here in the Upstream repo: https://github.com/prusa3d/Prusa-Firmware/pull/2747

Anyway, i am going to flash

[2020-10-13 16:00] Ruhkukah commented on #185
These are two types of files that Arduino exports after compilation. Since I use Arduino to flash my Prusa directly, I don't know exactly which of these two files to use, so I uploaded both of them. Please let me know which one of these works.

Regarding PlatforIO - I may explore it later this week. For now I wanted to keep as close to stock compilation recommendations as possible to minimize any

[2020-10-13 20:24] XRyu commented on #185
Ah alright. Flashing with Octoprint warned me to flash the with_bootloader file, which might corrupt the boards bootloader.
just a question - when the TZB-Firmware was flashed there was the name of the build displayed after starting e.g. "TZB-MK3S-BMGMM" or the like. Now its not :)

[2020-10-13 20:36] Ruhkukah commented on #185
@XRyu I am confused. Which file did you end up flashing with - without the bootloader or with the bootloader?
Also, what is the name of the build that is displayed after you start the printer? I can't check mine, since I am in the middle of print

[2020-10-14 09:37] XRyu commented on #185
@Ruhkukah I flashed the file without the bootloader :)
And i was wrong (Octoprint was just faster than me having a look) - It shows "Bondtech-MM-TZB MK3s" right after the start.

[2020-10-15 13:50] timemaster5 commented on #183
It looks goo. I see new options in the menu (Preheat -> PC ). Don’t know yet how to test the LA. MMU works great as before on this fw:) so I can’t see any issue so far.

[2020-10-15 17:26] Ruhkukah commented on #183
Awesome. You can easily test LA by running a calibration code from Prusa: https://help.prusa3d.com/en/article/linear-advance_2252

[2020-10-16 11:30] timemaster5 commented on #183
Thank you for sending that link. I meant how to check the fixed LA15 instead, sorry for the confusion. The LA15 was there already in the previous version of the firmware. But I think it must work as TBZ changes are not related to this part of code anyway.

[2020-10-16 12:44] Ruhkukah commented on #183
Yes, you are right - his changes do not modify any LA functions. On that note, I am looking to port his MMU FW mods into the Marlin 2 firmware, which I heard is even better than Prusa's one. But for that I need to replace Einsy with SKR BTT board first

[2020-11-10 03:40] CarterAlmo opened #186 "Unable to connect with octoprint or simplify3d"
I just installed version 3.0.4 on my prusa MK3S with the MMU2S but no matter how hard I try to connect through the serial port it is impossible.

[2020-11-10 04:05] #186 closed, assigned to nobody

[2020-11-13 15:31] danielalexis commented on #185
@XRyu Hi! i will be updating my repo to include new versions!

[2020-11-17 23:09] WarrenSchultz commented on #185
@Ruhkukah  I haven't been set up to build firmware for a while. If I do a pull from your source tree, does it compile MK3S_Bondtech-16-EINSy10a-SE_HT-Thermistor automatically? (If you want to upload the hex for that, I can test if you're not set up to do so, otherwise, I'll set up my environment again.)

[2020-11-22 11:34] Ruhkukah commented on #185
Hi @WarrenSchultz, not sure that I fully understand your question but here is my take on it: you need to compile a branch found here: https://github.com/Ruhkukah/Prusa-Firmware/tree/TZB-Full-Ruhkukah-3.9.1/Firmware
Since you want to use a **MK3S_Bondtech-16-EINSy10a-SE_HT-Thermistor** configuration, you need to copy an appropriate file from the **variants TZB** folder and rename it to **Configurat

[2020-11-23 16:35] Naugrimohtar opened #187 "3.9.0 cut feature not enabled in TZB?"
I am looking to enable the MMU2s cutter using the settings that seem to be released in the 3.9.0 Prusa firmware release but I cannot seem to find them in TZB. Is this implemented? For example see timestamp ~12:30 in this video by Chris' Basement -- https://www.youtube.com/watch?v=LpoCYmSb7wo&ab_channel=ChrisRiley

[2020-11-23 20:41] WarrenSchultz commented on #185
@Ruhkukah

Thanks for the tips, ran into an issue with paths on the precompiled binaries causing git to not like pulling down to WSL, so I'm looking for a way around that, but if it's something you can fix on your side, you might want to for anyone else.
Thanks again

![image](https://user-images.githubusercontent.com/8450968/100013077-41fd4000-2da2-11eb-915d-2d5727842e1d.png)

[2020-11-24 04:55] TheZeroBeast commented on #187
Not a bug mate, different firmware. Possibility to add in the future.

[2020-11-24 21:38] XRyu commented on #187
@TheZeroBeast Welcome back on board Captain :D Nice to see you back :)

[2020-11-24 21:47] TheZeroBeast commented on #187
Never gone, just GitHub notifications don’t seam to reach me reliably😂

[2020-11-24 21:49] XRyu commented on #187
Haha 😂🤣 i know its OT, but are you gonna merge the latest stuff like Ruhkuka did and update your versions? :D

[2020-11-24 21:51] TheZeroBeast commented on #187
Yes I will be merging, I just haven’t needed to yet from 3.9.0
Let me go review 3.9.1 changes

Edit: yeah, 3.9.2 now I see and yes, a few good improvements we could benefit from 🤔

[2020-11-24 21:55] TheZeroBeast commented on #185
Hey guys, sorry, just saw this thread. I’ll rebase to 3.9.2 on printer FW this week for us 👍

Incoming, I have some time off shortly sorry guys.

[2020-11-24 21:57] TheZeroBeast commented on #184
Hey mate, I’m not confident this is required, I have been printing with my mmu for almost a year with the same spring tension without issue. Two full rotations past flush with top casing if memory serves me correctly.

Could you elaborate on the benefits?

[2020-11-24 22:06] XRyu commented on #184
At mine this has often been an issue :) i have not tried the changes as i dont know how to integrate something of the PRs :)
but i often had problems with the tension, especially when beginning, and the needed tensioning even changed with the weather (could not believe of this myself, a change of 5-7°C room temperature made a change on how good the filament loaded through MMU) and i have seen this

[2020-12-06 17:14] Huang-TS opened #188 "Add an option for user to modify the number of attempts when getting a load fail"
**Is your feature request related to a problem? Please describe.**
Some load fail can be simply solved by few more attempt.
Increasing the number of attempts can reduce the number of pause.

**Describe the solution you'd like**
Add an option for user to set the number of attempts when encountering load fail
Such as 1, 2, 3, or 5.

[2020-12-07 12:13] timemaster5 commented on #183
@Ruhkukah have you noticed any TEMP RUNAWAYS after flashing your modified firmware?
I am having these issues quite a lot now, and starting to think that they are not caused by the printer itself. So far I have changed the whole extruder together with thermistor and heat block, and wires and one week ago disconnected a power panic wire from the PSU. But problems are back after a few prints. It coul

[2020-12-07 14:46] Ruhkukah commented on #183
Hmm, no issues for me at all. I googled this: https://help.prusa3d.com/en/article/thermal-runaway-temperature-drops_2131
As far as I remember the code for thermal runaways was not modified in the firmware. I suggest that you flash some stock firmware from Prusa and see if it solves your issue. If it does, I'll need to look into the issue but I highly doubt that a firmware is responsible for throwi

[2020-12-07 15:02] timemaster5 commented on #183
Thank you for you response. If you are not having similar issues, than I also doubt it is a firmware thing. Maybe my EINSY board is really bad. It could also be a Beta of Prusa Slicer as I saw the thermal runaway now twice at very similar moment of the same print. This should be easy to confirm just by using the latest stable one.

I think ignore it for now, I was just curious if someone observed

[2020-12-07 19:50] Ruhkukah commented on #183
Look, I highly doubt that Prusa Slicer has anything to do with that. I can't think of a way that gcode commands from PrusaSlicer would affect the algorithm of thermal runaway. Just to check - have you done a PID calibration?
Also, if you have a suspicion that your Einsy is fried then I suggest switch the hotend thermistor to another input port on the Einsy (see here https://help.prusa3d.com/en/gui

[2020-12-08 10:04] timemaster5 commented on #183
I didn't know, there are some spare ports, thanks for that, I will try.

My thinking behind the Prusa Slicer problem was that I am using their Alpha release because of some latest features. So I thought maybe some unsafe gcode could get into the final file and cause delays in PID loop or something like that.

I've done PID calibration multiple times, will try again too.

[2020-12-20 01:17] sergiofagundes commented on #152
Any recommendations for a prusa bear full mk3s carriage and x axis compatible for this extruder on thingiverse ? Thanks

[2020-12-21 02:58] TheZeroBeast commented on #152
Hi @sergiofagundes,

I have not used any bear upgrades sorry mate. It is the same mount as stock PRUSA extruder so if the upgrade you find is compatible with stock the. You should be fine.

[2020-12-24 00:23] viper2g1 opened #189 "Please add a variant for MK3S Bondtech Mosquito SE HT Thermistor"
On the supported printers section of the firmware releases page there is no specific configuration for an MK3S with Bondtech, Mosquito, and a Slice HT Thermistor.

There is a similar option for the Bondtech, Mosquito Magnum, and the Slice HT Thermistor.

I do not know if those are interchangeable since there are specific different versions for the following:

MK3S Bondtech Mosquito
MK3S Bondtech M

[2020-12-26 10:34] TheZeroBeast commented on #183
Hi guys, now rebased upstream to 3.9.2, check it out [here](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/releases).

[2020-12-26 10:34] #183 closed, assigned to nobody

[2020-12-26 10:34] TheZeroBeast commented on #185
Hi guys, now rebased upstream to 3.9.2, check it out [here](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/releases).

[2020-12-26 10:34] #185 closed, assigned to nobody

[2020-12-26 10:36] TheZeroBeast commented on #189
Hey, I'll see if there's much difference with the magnum config and get it added mate.

[2020-12-28 00:32] sergiofagundes opened #190 "thermal protection"
**Describe the solution you'd like**
Check that the temperature is actually increasing when a heater is on. If the temperature fails to rise enough within a certain time period (by default, 2 degrees in 20 seconds), the machine will shut down with a “Heating failed” error. This will detect a disconnected, loose, or misconfigured thermistor, or a disconnected heater.

Today I was initiating a print

[2020-12-29 21:33] sergiofagundes commented on #152
Hi, can you share the source file of the extruder (tzbmk3s-back). I'd like to make a remix in Fusion 360 to use the BL Touch like this thing: https://www.thingiverse.com/thing:3561570

[2021-01-01 14:51] gizzburn opened #191 "Pinda Probe Bug?"
Hi Robert not sure if this is a bug, but when I upgraded to the latest version of FW I had some strange errors, one was when the carriage started to move to start the 7x7 bed level checks is shuddered in a couple of spots in the first 4 check's, like it was binding on something.
But after that it would not pass the 7x7 checks, it kept wanting to Calibrate the Z, It would just stay there until I pr

[2021-01-02 14:17] gizzburn commented on #191
Hi Robert my mistake I realised what had happened, I had put my USB cable in the control box in front of the main loom to the extruder when I plugged it back in after the update, this was enough to cause the problem.
I found it by doing the same thing today when I tried the FW again.

So all is well and no bug..

Keep up the great work.

[2021-01-02 19:36] eurohell opened #192 "Problem loading Filament on a MMU single mode print"
Hi,

i had to upgrade my printers from 3.0.4 to 3.1.0 because of upgrading SUPERpinda. Now i got a strange behaviour when starting a single-color-print with a cold extruder. in 3.0.4 it was the way, that when you choose the filament slot, the filament will be loaded until the ir sensor is triggered and the MMU LED lights green. Then it waited for heating up the nozzle and then it was loaded into t

[2021-01-03 21:29] TheZeroBeast commented on #191
No worries mate, happy printing.

[2021-01-03 21:29] #191 closed, assigned to TheZeroBeast

[2021-01-03 21:32] TheZeroBeast commented on #192
I'll have a look, it's most likely introduced from the upstream pull (AKA, I missed adding my code for that part in or somethingp)

[2021-01-03 21:33] TheZeroBeast commented on #190
Sorry mate, this is something I'm going to leave to the parent firmware if not addressed as you say.

[2021-01-03 21:33] #190 closed, assigned to nobody

[2021-01-11 23:20] TheZeroBeast commented on #179
Stale thread, if you're still in need of assistance please replay back to this thread.

[2021-01-11 23:20] #179 closed, assigned to nobody

[2021-01-12 00:26] TheZeroBeast commented on #189
I've added this into the next release which is immanent.
Testing is happening this week to check on #192 issue then release.

[2021-01-12 01:16] AbeFM commented on #179
I remember having issues here, and shortening up the load made mine
reliable. I need to dig into it before trying the new firmware, it didn't
work well without it, for me. I'm assuming making that editable over serial
or the menus would be too involved to be worthwhile to work into the
firmware?

On Mon, Jan 11, 2021 at 3:20 PM Robert McKenzie <notifications@github.com>
wrote:

[2021-01-19 03:30] TheZeroBeast commented on #187
FYI @Naugrimohtar, I'm coding cut now for testing and release in TZB 3.2.0 release.

[2021-01-19 13:13] Naugrimohtar commented on #187
Excellent! Thank you!

On Mon, Jan 18, 2021 at 9:30 PM Robert McKenzie <notifications@github.com>
wrote:

[2021-01-21 00:03] Naugrimohtar opened #193 "Doesn’t retry on a clog/jam"
Occasionally I get a clog/jam error and when I go and check, all looks good so I acknowledge, it retires with no issue. When I watch it happen, it doesn’t seem to try to reload itself, I thought it  retries with the standard build

[2021-01-21 00:58] TheZeroBeast commented on #193
Hey @Naugrimohtar,
I'm not sure if stock tries again but it does have the cutter enabled which cuts and they tries again.

I have just finished testing my implementation of the cutter on selector which will be an option in the next release.

[2021-01-21 01:13] TheZeroBeast commented on #193
I just reviewed stock code and I had removed retry 3 times and pause for assistance, I will setup something similar on the next release, it might help at times.

[2021-01-21 01:56] TheZeroBeast commented on #193
I just implemented this in my codebase for testing this weekend before release 3.2.0
[TZB-MK3S-FW Commit](https://github.com/TheZeroBeast/TZB-MK3S-Firmware/commit/6ae43bc7e67ca7f5a0e80502f0c1f14dbb82738a)

[2021-01-21 06:01] TheZeroBeast commented on #192
Fixed as above, indeed a regression, release with 3.2.0 of my TZB code.

[2021-01-21 06:01] #192 closed, assigned to nobody

[2021-01-21 17:21] XRyu opened #194 "M112 with Octoprint on MMU Single Mode"
Hey TZB, can you have a look if you lost some part in the firmware regarding the Octoprint causing M112?
I have these more often lately when printing in Single Mode -
Its mentioned here on 3.9.1 (last point in 3.9.1): https://github.com/prusa3d/Prusa-Firmware/releases

[2021-01-21 21:54] gizzburn opened #195 "Min Temp"
Hi Robert, would you be able to put an option in the menu to alter the Min temp setting. My printer is in my garage and its been around freezing here in the North UK.
I am having to use a heat gun on my printer to warm it up so it does error with min temp warning.
With a setting that could be tweaked would be helpful.

thanks MJ.

[2021-01-22 00:20] TheZeroBeast commented on #194
M112 issue will be all fixed in my next release as it’s rebased to stock 3.9.3

[2021-01-22 03:38] TheZeroBeast commented on #195
Hey mate, are you using a MK3S/+? If so I can add a customer gizzburn build to my releases with a lower min_temp.

[2021-01-22 03:40] TheZeroBeast commented on #194
How often are you getting the error?

[2021-01-22 09:02] TheZeroBeast commented on #193
[Resolved in Release 3.2.0](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/releases/tag/3.2.0)
Please comment if you have any questions.

[2021-01-22 09:02] #193 closed, assigned to nobody

[2021-01-22 09:02] TheZeroBeast commented on #189
[Resolved in Release 3.2.0](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/releases/tag/3.2.0)
Please comment if you have any questions.

[2021-01-22 09:02] #189 closed, assigned to nobody

[2021-01-22 09:02] TheZeroBeast commented on #187
[Resolved in Release 3.2.0](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/releases/tag/3.2.0)
Please comment if you have any questions.

[2021-01-22 09:02] #187 closed, assigned to TheZeroBeast

[2021-01-22 09:10] TheZeroBeast commented on #153
FYI peoples, I just uploaded a [new selector](https://www.thingiverse.com/thing:4732836). Not much different to last one I had but has some print improvements and blade support.

[2021-01-22 09:15] TheZeroBeast commented on #152
I'm working on modifying R6 Extruder(sneak peak) with my NO-TOWER and reduced filament path (yes R6 filament path is still not as tight as my last extruder design and I will be keeping this aspect for those that want less trouble with FLEX printing.
<img width="529" alt="Screen Shot 2021-01-22 at 7 12 51 pm" src="https://user-images.githubusercontent.com/20939095/105470892-d7a34600-5ce5-11eb-9456-

[2021-01-22 14:08] gizzburn commented on #195
Hi Robert I am using a Mk3s with MMU2s and a Bondtech BMG extruder.

MJ.

[2021-01-23 13:52] CaiJonas commented on #152
That looks good. Will you share the step file? I am using your old design with the dragon hotend. I am planning to use the dragonhotend without the upper part with the round mounting part. I want to bolt it direktly into the plastic.

Best Regards
Cai

[2021-01-23 20:56] Naugrimohtar commented on #152
I’m excited about this!

[2021-01-23 23:09] XRyu commented on #194
I made 4 attempts yesterday, had 2 times the problem, after having it and resetting the printer it
works. i think it has something todo with the printer waiting for new
commands from octoprint and octoprint waiting for the printer to warm up.
after the reset and reconnection it wont take as log to heat up.

I will try to flash to the new version tomorrow :) so much thanks for your
work! :D

Am Fr.

[2021-01-24 10:48] TheZeroBeast commented on #195
Ok, so I have added a customer variant for you mate with minimum temp @ 1c, be warned that thermistors are the reason for the 10c setting, I copied the blurb from FW below.

I will also add this to the latest **releases** page and all future releases with have a build for you.
Ok, so I have added a customer variant for you mate with minimum temp @ 1c, be warned that thermistors are the reason for

[2021-01-24 10:48] #195 closed, assigned to nobody

[2021-01-24 19:15] tmolberg opened #196 "Support for Skelestruder"
---
name: Support for Skelestruder
about: Skelestruder seems to be an overall better design x end wise. Using it with singel yields better results in terms of print.
title: ''
labels: enhancement
assignees: ''

---

**Is your feature request related to a problem? Please describe.**
Yes. Modifying the einsy mk3s firmware to accomodate shorter filament path yields "unwatned" results. During load pro

[2021-01-24 20:10] AbeFM commented on #196
1) I was using the Skele for at least a year before switching to TZB extruder. Aside from the Skele being cooler since it's open and geared, I didn't find the prusa-based one to be worse. I'd reconsider the extruder switch entirely.
2) Weird loading issues aren't entirely exclusive to the Skele. I tweaked the loading distance on the "stock" TZB extruder because I was always getting "unfixable" jam

[2021-01-24 20:15] AbeFM commented on #152
Robert,
Is there anything else you're doing? Anything that would make the door
switch more sensitive and to more more freely would be great. I seem to be
able to adjust (through the use of set screw in the door) the set up to
work where I need it, but it's basically impossible for me to find a
setting that works for ninjaflex one day and PLA the next.

Maybe printing the body in CF play (for stiff

[2021-01-24 23:02] tmolberg commented on #196
To give some updates, it might not be firmware related but I still find the loading sequence somewhat weird considering its first doing a load, then retract and then load again. Any thoughts on why its doing this or if this is something that could be improved on?

In regards to what I did wrong initially to give some pointers;
1. Did not have the 1.85 ptfe liner inside the hotend - Very imported f

[2021-01-25 09:31] fila612 opened #197 "Bear Exxa Extruder"
Hello,
just a short question:
i flashed my MK3S with the TZB-MK3S_EINSy10a-3.2.0-BN2495.hex File.
Unfortunately the calibration failed.
So if i want use the TZB MMU Firmware i have to edit the BEAR specific adaptions in the source code, isn't it?
I cannot found the source code for the eons board or ca i use the BEAR Firmware with the TZB MMU Firmware?

Sorry i don't know how to remove the label bu

[2021-01-26 11:50] fila612 commented on #197
So, just found SourceCode and changed the Bear parameters.
FW seems to be working, but i think its not usable temporary without a MMU (e.g. for long single filament prints).
Sometimes i start my MK3S without the MMU and then i don't see content in the terminal and when there was some lines, the are "MMU loop, state=5".
So that seems the FW is only usable für non Bear MK3s and only if the MMU are a

[2021-01-27 03:42] TheZeroBeast commented on #197
No need at all for the mmu to be connected, something else will be happening here.

[2021-01-27 21:26] fila612 commented on #197
so for me i found a solution, that a adapt my printer at the z axes to run stock FW on my Bear with EXXA.
Should i close this issue or are you interested to provide also a MK3S variant?

[2021-01-27 21:31] fila612 opened #198 "Multi Language build"
Hi TZB,

is it possible to build your release with multi language support?
i'm not an expert but it seems that should be possible using the Prusa files e.g. "lang" folder.

maybe i can help you, if i can ;)

thanks

[2021-01-27 22:30] TheZeroBeast commented on #198
yep, possibly, I haven't had any luck trying before, I'll try and see what hurdle appear.

[2021-01-27 22:40] TheZeroBeast commented on #197
So, just to be clear, you're running [this](https://github.com/gregsaun/bear_extruder_and_x_axis) on a PRUSA MK3S?
I will definingly be adding support, I might even upgrade one of my printers, the X ends look beefy.

[2021-01-27 22:48] TheZeroBeast commented on #196
Hi @tmolberg,

If there is demand to have a Skelestruder variant created then I can sure add it, I'll get a build ready for you to test.

@AbeFM

 - I still think this is a hardware issue and required to catch jams/malformed tips causing missed layers on that colour.
   - Also to note the latest TZB FW has the cutter setting so in this case it would clip the tip and load successfully.

[2021-01-27 23:20] fila612 commented on #197
Yes, thats the Bear 2.1 what i‘m Running on my MK3s.
There are two options:
1) adapt the z-top-caps from the bear setup (6mm higher) to run stock firmware, see [bear compatibility](https://github.com/gregsaun/bear_extruder_and_x_axis/blob/master/README.md#compatibility)
2) add the bear exxa specific Parameters (documented in the [Bear firmware release](https://github.com/bear-lab-3d/Prusa-Firmware

[2021-01-27 23:21] fila612 commented on #198
Thanks,
Same here,
Got some Compiler errors and i have no idea to fix them.

[2021-02-03 00:54] TheZeroBeast commented on #152
@AbeFM, this is the nature of the method we're using to sense, for extremely soft filament the bondtech gears barely separate.
I reviewed the model and there isn't much room to change the pivot point to increase lever deflection.

[2021-02-03 03:48] TheZeroBeast commented on #152
I've finished installing the first version of TZB3-Extruder with BLTouch optional mount.
Testing tonight on my [TZB-MK3-FW](https://github.com/TheZeroBeast/TZB-MK3S-Firmware) that I have setup to use the BLTouch for MBL in conjunction with PINDA for initial calibration and XYZ homing.

I know, it's a bad photo but all I have currently, top plate needs revision asap as well.
![TZB3-1](https://user-

[2021-02-03 22:03] AbeFM commented on #152
What do you expect to gain from the BL touch? I'd imagine it wouldn't work
too well on the textured bed - but it's giving me fantasies of "continue
print" by positioning probe over highest point and letting printer figure
out where to start the file from. :-)

On Tue, Feb 2, 2021 at 7:48 PM Robert McKenzie <notifications@github.com>
wrote:

[2021-02-03 22:11] TheZeroBeast commented on #152
It is supposed to be a lot more accurate and repeatable than the super pinda with std. deviation <10micron.

That's an interesting thought, find top of failed print haha

[2021-02-04 18:04] TheClark opened #199 "Heatbreak Jam Retry Stops Working If Manual Intervention Required"
I have had this happen twice now.

A heat break jam occurs.  Very nicely this latest firmware retries a few times, which is great.

After a certain number of retries, a manual intervention is required.

After cutting the tip and hitting retry, the LCD indicates that a retry is happening.  However the stepper motors on the MMU do not move at all.

It looks like some kind of bug where retries are no

[2021-02-04 18:19] AbeFM commented on #152
In a recent firmware update a very cheap printer had a "continue from Z"
function - thought manually measuring is often a bit of a pain. It'd be a
bit of a task to shoehorn that in, but it's good to have rolling around in
the back of your head. :-)

I'm not against folks adding whatever they want.... But I've not had any
issues with z-height since the 7x7 grid thing. Just plain zero problems. I
do

[2021-02-04 19:13] sergiofagundes commented on #152
About Bltouch extruder, when will you release the stl files to print ? I want to use the Bltouch to use glass on my prusa lol... I know the flexible PEI sheets are nice, but when we are out of PEI sheets the glass is cheap and easily available anywhere. ;-)

[2021-02-05 08:47] TheZeroBeast commented on #199
Thanks man, I'll try replicate and squash 👍

[2021-02-05 10:05] TheZeroBeast commented on #194
Hey @XRyu, did you get a chance to try this out on the latest release of my code?

Also, this is my list of octoprint long running commands, it may play a roll in this error and stopping it.
`G4, G28, G29, G30, G32, G80, M400, M226, M600, M860, M190, M109, M701, M702`

[2021-02-11 13:47] XRyu commented on #194
Hey @TheZeroBeast, thank you!
After installing the latest release with my first testprint everything worked :)
Sadly i had an incident, got a jam in the heatbreak of my Mosquito Magnum with Prusa PLA, so i had to disassemble etc. When re-assembling i seemingly took to much force, broke the Bondtech Shaft Gear :'D Had to order replacement, after that i also seemed to have broken my HT-Thermistor so

[2021-02-12 12:30] TheZeroBeast commented on #199
Hi @TheClark, replicated and fixed the issue with [this](https://github.com/TheZeroBeast/TZB-MK3S-Firmware/commit/4b0e7c792c972a819506b4c0ab556c20a56d6340) commit on the Printer side.

It will be in the next release.

[2021-02-12 12:30] #199 closed, assigned to nobody

[2021-02-12 12:32] TheZeroBeast commented on #194
@XRyu,

Annoying when a bunch of failures happen at once but glad you're now back up and running.

[2021-02-12 12:32] #194 closed, assigned to TheZeroBeast

[2021-02-12 17:45] TheClark commented on #199
Love that it is basically a one liner, nice debugging!  Now the work to figure out that one line, that is the tricky part.  Much appreciated.  Cannot wait to check it out.

[2021-03-03 17:09] Naugrimohtar opened #200 "LCD Issue - can the firmware force a screen refresh or is there a GCODE that can do that?"
My MK3s (+MMU2s) has an issue where the LCD becomes blank occasionally. Sometimes while printing. Other times while just sitting. If I press the button, the display will refresh and be OK for a while. Sometimes this is not OK as is the case when I am being prompted for something, such as to select which filament or if a filament swap was successful. (no OK because if I press the button, I make a s

[2021-03-04 15:42] DRracer commented on #200
This is more likely an ESD issue on the printer, the MMU doesn't have access to the LCD. Which dialogs cause problems on your machine?

[2021-03-04 18:47] Naugrimohtar commented on #200
I suspect you are right it is an ESD issue rather than anything TZB related but I mention it here for several reasons:

You guys know excellent work arounds such as a gcode command maybe I could send via OctoPrint when this happens, or if there is any feature in the firmware that I could leverage to force a full re-draw of the screen as what happens when I click the button.

As far as screens, the

[2021-03-09 15:49] eurohell commented on #199
Got a very similar bug:

When changing filament on the wipe tower, a heatbreak jam occurs. The Extruder moves to a waiting position at the left back corner. When i get it to know, i push the button to retry, hotend starts heating. When about 5°C below target, the extruder moves to the wipe tower without filament loaded, moves down in contact to wipe tower and  instantly moves up and back to waitin

[2021-03-09 20:27] TheZeroBeast commented on #199
Hey @eurohell, that sounds like it’s I like e with this bug and the fix.

[2021-03-09 20:31] TheZeroBeast commented on #200
Hi @Naugrimohtar, I don’t know of a gcode to refresh the screen and the printer side is 99.8% PRUSA stock code so it’s strange you’re getting this issue.

What version of my code are you running on mk3 & mmu?

One test you could do is load stock and see if issue persists and report back

[2021-03-09 22:55] AbeFM commented on #200
I get this constantly as well. They sent me a new screen, which fixed it
for a month. Running old firmware... But he's not the only guy seeing this.

                  Thanks!
                          -Abe.
Sent from my "smart"phone, please excuse brevity and Swype-oes

On Tue, Mar 9, 2021, 12:31 PM Robert McKenzie <notifications@github.com>
wrote:

[2021-03-11 00:02] alackofcolor opened #201 "Unable to Flash MMU2 Firmware"
I've been running a previous version of the TZB-MMU2S firmware for a while now, before deciding to update tonight. Well when I try and flash the firmware in PrusaSlicer, the MMU2 is listed as Arduino Leonardo, instead of as an MMU2. It seems people have had a similar problem here:

https://forum.prusaprinters.org/forum/original-prusa-i3-mmu2s-mmu2-hardware-firmware-and-software-help/no-connection-

[2021-03-16 00:35] TheZeroBeast commented on #201
Hi @alackofcolor,

Try follow [this](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/wiki/Flashing-Procedure) procedure in the wiki as it works even if previous upload had been interrupted.

[2021-03-16 00:36] TheZeroBeast commented on #200
Interesting, @AbeFM, how long do you have your machine running for this happens?

[2021-03-16 00:38] TheZeroBeast commented on #152
Code and extruder design is in final stages of testing. I've been doing a bunch of TPU prints, still haven't jammed the extruder and the first layers are now spot on and temperature independent thanks to the BLTOUCH.

[2021-03-16 00:42] TheZeroBeast commented on #152
The 7x7 grid with PINDA2 is good when printing the same plastic with PINDA pre-heat gcodes but even when temp table is setup there is drift when going between low temp and high temp plastics.

Changes to add the probe are lengthy involving embedding the sensor into the xyz cal, z home and G28 meshbed leveling.
I chose to do it this way so that the xyz cal can still use PINDA to do skew/perp. corre

[2021-03-16 00:51] alackofcolor commented on #201
Hello. Thanks for the reply. That seemed to do it. I had noticed that it correctly identified the MMU on startup and then went to Arduino Leonardo after a few seconds. I suppose your instructions to do it under 5 seconds is because of that? I noticed in the Wiki that it says to do the same thing for the printer, but I had no trouble flashing the printer and PrusaSlicer correctly identifies without

[2021-03-16 00:56] TheZeroBeast commented on #201
Hi @alackofcolor, glad this helped.

The 5s for the printer is there to cover for when the previous flash didn't finish/take.

The flashing MMU like this is because I use PlatformIO to build instead of PRUSAs custom Arduino board file.

If you even load stock binary back onto the MMU it will show as MMU after the 5s in PRUSA Slicer.

[2021-03-16 01:48] AbeFM commented on #152
How do you deal with the powder coated beds?

I do actually HAVE a BL-touch. How many reads do you take, or, how long does getting the MBL done take now?

[2021-03-16 01:50] AbeFM commented on #200
That's a reasonable question. I'll keep an eye out for it, I know
sometimes, it's definitely static. I feel like sometimes it happens after
not being on very long, but I KNOW it happens after a long time. I also get
scrambled screens (like bad serial, wrong characters showing up but doesn't
look like when it's blank). Generally, getting the screen to refresh
(pressing the button and hoping it's no

[2021-03-16 02:05] TheZeroBeast commented on #152
There is no dealing, it just works.

The probe count is set as you did for the PINDA but personally I use 3 probes.
I coded a high-sigma catch that checks that all probes (at a location) are within 25um and if not it starts that spot again, it can try 4 cycles on a location before an error is thrown.

That might be why the textured bed just works because the random times the probe does something f

[2021-03-16 02:09] #201 closed, assigned to nobody

[2021-03-16 02:33] AbeFM commented on #152
Maybe the probe tip is fat compared to the texture. It seems crazy, but I
will go with "just works". Looking forward to trying it.

What do you print your extruders out of?

On Mon, Mar 15, 2021 at 7:06 PM Robert McKenzie ***@***.***>
wrote:

[2021-03-16 02:35] TheZeroBeast commented on #152
Yep, it's not very pointy.

PETG, that is still PrusaPETG from a roll I bought when I got the printers.

[2021-03-16 11:37] Naugrimohtar commented on #200
For me it’s is quite random. Sometimes within minutes of turning on, sometimes hours, sometimes days. Usually while printing, very rarely while just sitting.

[2021-03-16 15:42] AbeFM commented on #200
I would tend to agree that I have the same experience - but I haven't
really "logged" it. That's my impression, though.

Do you ever get a scrambled screen?

                  Thanks!
                          -Abe.
Sent from my "smart"phone, please excuse brevity and Swype-oes

On Tue, Mar 16, 2021, 4:37 AM Naugrimohtar ***@***.***> wrote:

[2021-03-16 15:47] AbeFM commented on #200
https://photos.app.goo.gl/Ln4CGsPY6bnranTJ6 this isn't really what we're talking about, this might be why I got the screen replaced.

[2021-03-23 16:55] frasier2k commented on #197
Is there any chance that you release an additional variant for this?

[2021-04-01 20:22] Naugrimohtar commented on #200
I do not get garbled text, just blank.

[2021-04-01 23:59] AbeFM commented on #200
I suspect I have two issues. :-)

                  Thanks!
                          -Abe.
Sent from my "smart"phone, please excuse brevity and Swype-oes

On Thu, Apr 1, 2021, 1:22 PM Naugrimohtar ***@***.***> wrote:

[2021-04-24 18:05] AbeFM commented on #152
Is this released yet? I broke my old extruder and would rather print the
new one. Where do I find it?

On Mon, Mar 15, 2021 at 7:36 PM Robert McKenzie ***@***.***>
wrote:

[2021-04-25 16:25] ra100 opened #202 "MK2.5S Bear calibration fails"
Ensure you're running the latest **RELEASE** and you've checked the **Wiki** for answers before reporting. Any issues reported regarding previous **RELEASES** will automatically be closed and not responded to, this ensures the developer maintains focus & streamlines the development process.

**TZB-MMU2S Release Version**
3.2.0

**Describe the bug**
I've had to run XYZ Calibration and it fails on Z

[2021-04-26 06:38] ra100 commented on #202
Sorry, my mistake, I didn't run full calibration on Calib FW, after I've tried again, run XYZ+Z+PID calibration. Then switched to TZB, I run PID calibration and set E-Steps `M92 E....`, all is fine now.

[2021-04-26 06:38] #202 closed, assigned to TheZeroBeast

[2021-05-07 23:52] Redferne opened #203 "Question: Drop in replacement of Prusa MMU firmware?"
Sorry for daft question, but could really figure out if this firmware can replace the original MMU firmware? Or is it required to flash the custom printer firmware as well? Was hunting around for a custom MMU firmware which has OLED support for the MMU itself. Found this excellent https://github.com/cjbaar/MM-control-01 project, however it is quite outdated and I'm having issues compiling with Pla

[2021-05-08 00:10] TheZeroBeast commented on #152
@AbeFM, I've just released it [here](https://www.prusaprinters.org/prints/66215-tzb-mk3smk25smmu2s-extruder-mmu2s-no-tower-v3), if you would like to take a look.

[2021-05-08 10:54] timemaster5 opened #204 "New Prusa Firmware version 3.10.0"
@TheZeroBeast, I remember you said some time ago that notifications didn't work well for you, so this is just a note about the Prusa Firmware version 3.10.0. No rush, and thank you for the great work!

[2021-05-14 15:57] AbeFM commented on #152
Perhaps I will.

From the release notes:
V3 Changes

combine with R6 stock extruder, better airflow with the still superior flex
handling of the TZB extruder.
added an optional BLtouch mount (firmware tested about to be released with
support)

So it looks like it's not just the BLTouch mount. I thought the v2 also
used R6 but I guess not.

Also:
"Assemble as per the PRUSA manual for MK3S except fo

[2021-05-15 23:35] gutschke commented on #152
I printed all the extruder parts in ASA. I love the super precise and smooth finish that I get with this material. And it has great heat resistance too. I printed the fan shroud from PC though, after managing to melt one that was made from ASA. Prusament PC Blend has even better heat resistance. I actually really like PC as well, but it doesn't have quite the same perfect finish that I get with AS

[2021-05-17 13:58] Naugrimohtar commented on #203
It both MMU2 and printer firmware as one of the great things is a new communication protocol that helps add a bunch of cool features.

[2021-05-17 20:14] AbeFM commented on #152
I printed tinsy little things in ASA, and it works. I have a couple walls,
a foam panel, a top and a plexiglass front. It's not draft-free but it's
well minimized. I'm not sure if that's good enough.

You didn't do anything more than box, defaults on slicing for ASA and the
model as is out of the box? Even the little flag came out?

That would be reason enough to print a new one.

My ASA duct also

[2021-05-17 20:39] gutschke commented on #152
I have my printer dialed in really well, and I generally try to stick to filament sold by Prusa, as I know they have good profiles for their own filament. I print inside of the infamous IKEA enclosure, which helps with managing environmental temperatures and avoiding drafts. The upshot is that I don't really need to tweak anything and prints usually come out great without any adjustments.

I find

[2021-05-20 09:32] sergiofagundes commented on #152
Can I use the old (tzb-mk3smk25smmu2s-extruder-mmu2s-no-tower-v2-stl) with only the 2 pieces for bltouch found in this new design or I need to print all the v3 new design ? Thank you

[2021-05-20 11:03] TheZeroBeast commented on #152
Hey mate, those V3 parts won’t fit V2 from memory.

[2021-05-20 14:23] gutschke commented on #152
Give it a try. It might work. I just did something similar. I already had the older design on my printer, but I wanted to upgraded to the newer fan shroud that clips into the fan holder. Just needed to print those two parts.

I didn't print the BLTouch version, but I think that would have been an option. You can always try and if it doesn't work then you print the remaining parts

[2021-05-20 19:28] XRyu commented on #204
I would also love to see that updated @TheZeroBeast  :D Looking forward to this :3

[2021-05-25 22:32] sergiofagundes commented on #152
Hi Thanks. I have printed the 2 parts for bltouch, and putting them close the the old parts it looks like they will fit the old design. When I have a change I'll dismount and give a try. Thank you.

[2021-05-25 23:42] AbeFM commented on #152
Two interesting bits:
1. Enclosing printer and printing ASA melted my tensioner, the spring
pulled the nut in leaving me no tension on bondtech. The flag also seemed
to bend, it always reads loaded now. Will check when I disassemble.

2. My bed sensor (pinda or finda or whatever) never fits in the clamp. I
put shrink tube around it, but would I be wrong in asking for that to be
smaller?

[2021-05-26 17:25] Naugrimohtar commented on #204
@TheZeroBeast Do you have anything setup for donations to help you with your time and efforts?

[2021-06-06 06:11] fromanza opened #205 "Error on failure recovery"
Mk3s firmware latest TZB
MMU2s firmware latest TZB
Sliced using latest PrusaSlicer
Using a modded version of TZB extruder

MMU print using extruder 1=PLA and 5=PVA.

The PVA has a high tendency to string so causes frequent blockages but more often is able to continue. However there seems to be a failure mode which results in the print being unable to continue.

What I see when I get back to the pr

[2021-06-16 04:02] Pun-e opened #206 "MMU Doesn't retract filament after a filament eject"
**TZB-MMU2S Release Version**
3.2.0

**Describe the bug**
MMU Doesn't retract filament after a filament eject

**To Reproduce**
Steps to reproduce the behavior:
1. Eject any filament
2. Click ok
3. MMU moves over ejected filament **without retracting it**

**Expected behavior**
The MMU retracts the filament before re-loading it - like the stock firmware does

I'm glad that I can now eject filament

[2021-06-16 14:09] Naugrimohtar commented on #206
I am also curious why the eject filament feature doesn’t retract once done. My main is is to check tips, snip them. Would be awesome if it then retracted it back.

[2021-06-16 20:37] TheZeroBeast commented on #206
Hi guys, sorry I haven't got this in the wiki yet but the right button on the MMU does the retract, left does feed more.
This is to give some control back to the user, being able to feed or retract more when you have pulled it out further for example.

Let me know if you still have questions about this.

[2021-06-16 20:37] #206 closed, assigned to TheZeroBeast

[2021-06-16 20:40] TheZeroBeast commented on #205
Hi @fromanza,

Just for historic purposes, the current version of my printer and MMU firmware is 3.2.0.

I'm almost positive this is a bug I have already found and am currently testing the fix, I'll double check in the near future and do a release.

[2021-06-17 09:17] fromanza commented on #205
Great! And sorry I should have mentioned the actual firmwares I’m on, will do so in the future but glad you’ve picked something up. Just for interest sake I went back to the stock prusa firmware and OMG it is terrible… I forgot how bad it was so thank you for your efforts, without which my MMU would be in the bin.

[2021-06-17 09:28] TheZeroBeast commented on #205
You’re welcome, glad it’s helped, it’s saved my sanity as well 😂

[2021-06-24 12:30] Pun-e commented on #205
Hi there, I'm not sure if this is the same issue or not, but whenever the MMU fails to the point it needs a manual intervention, I cannot resume the print.

Selecting resume seems like it's going to work, printer moves to the last position, and then it just returns to the error state.

Octoprint just shows that the printer is not responding, and after this happened (along with the other issue) I m

[2021-06-25 19:49] eurohell commented on #205
Had a similar issue a few weeks ago, and Robert answered that this behaviour will be fixed in the upcoming iteration of TZB Firmware. [https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/issues/199#issuecomment-794073516](url)

[2021-07-07 14:29] Ondak87 opened #207 "Bowden Length Calibration"
Printer type - MK3S+
Printer firmware version - TZB-MK3S_EINSy10a-3.2.0-BN2495
MMU2S
MMU upgrade firmware version - TZB-MMU2S-3.2.0-BN371
extruder - TZB MK3S MMU2S (No Tower)

Describe the bug
When bowden length calibration is new value doesnt change position ,,1,, bowden length calibration are change only for ,,2-5,,.

Expected behavior
Bowden Length Calibration are change on new value for ,,1-5,

[2021-07-09 17:53] Marek125 commented on #205
This is the only mistake I experience with this FW, I don't print almost anything on the official FW, it's in a deplorable state.  TZB best FW for MMU I'm waiting for a new FW where it will be missing repaired as for soup salt thank you for your work :)

[2021-08-30 18:15] gutschke commented on #204
There is a "Donation" button on https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/releases

I have occasionally sent the author a token of my appreciation, hopefully he was able to get himself all the coffee that is needed to power his amazing work ;-)

[2021-08-30 20:13] TheZeroBeast commented on #204
I do get myself a coffee from time to time, thank you for your support.

I have been working on rebasing and fixing some bugs but have a hurdle with my development environment not compiling after an update🤦‍♂️

[2021-09-03 22:30] sergiofagundes opened #208 "M420 fade height exists for prusa ?"
I didn't found anything about it in google search.

So prusa firmware (tzb also) accepts M420 Zxx ?

If not, is it possible to implement it ?

[2021-09-12 16:55] Sterbo88 opened #209 "Check position mmu"
hi, I have the latest firmware version 3.2.0 and I noticed that after a while I don't use the printer, when I start a print it still resets the mmu position selector... during a mmu print, it did it about 2 times without apparent reason and without problems continued ... is this normal?

[2021-09-13 03:46] TheZeroBeast commented on #209
Hi @Sterbo88,

After a short period of inactivity the motors all turn off to be quiet and same some power. Once you start commanding it again it needs to check its position.

[2021-09-13 03:46] #209 closed, assigned to TheZeroBeast

[2021-09-13 10:47] Sterbo88 commented on #209
why did he do it even during a mmu print?

[2021-09-13 11:49] gizzburn opened #210 "Firmware Addition."
Hi Robert you have done my Gizzburn firmware version and I am very grateful, but I have another request please. I have changed my MMU2 selector to the two blade cutter version and I need these changes in the firmware could you add these for please so I can use it.

https://www.prusaprinters.org/prints/16666

On "mottion.cpp" line :35

//const int selectorStepPositionsFromHome[EXTRUDERS+2] = {-3700

[2021-09-15 03:25] TheZeroBeast commented on #210
Sure can, I just got my dev environment compiling again so release soon after testing.

[2021-09-15 20:50] TheZeroBeast commented on #208
Can you provide some documentation on this gcode and why it is needed?
Have you posted this on the prusa repo as well asready?

[2021-09-15 20:51] TheZeroBeast commented on #209
The MMU will rehome once every 100 tool changes as well to ensure it doesn't get out of sync which can be an issue on large MMU prints.

[2021-09-16 00:20] TheZeroBeast commented on #203
Hi @Redferne, yes this is a drop in for stock hardware as long as the printer and mmu firmwares are updated as they run a different communication protocol as @Naugrimohtar mentioned.

[2021-09-16 00:20] #203 closed, assigned to nobody

[2021-09-16 00:21] TheZeroBeast commented on #207
Hi @Ondak87, can you please provide more details and all the steps you came to your conclusion so I can attempt to troubleshoot?

[2021-09-16 00:24] TheZeroBeast commented on #205
Sorry for the late update guys, I've been having compilation isues on my development environment which have now been fixed. I'm testing a version rebased to PRUSA 3.10.0 with this fix that I'll release once working properly.

[2021-09-16 00:25] TheZeroBeast commented on #204
I'm testing a version rebased to PRUSA 3.10.0 now I have my development environment behaving.

[2021-09-17 13:56] Ondak87 commented on #207
Hello @TheZeroBeast, i'm sorry, I did a new bowden calibration test  and problem was in MMU board.

Tiket you can closed

[2021-09-17 13:56] #207 closed, assigned to TheZeroBeast

[2021-09-27 23:29] BaconFase opened #211 "Persistant tune temperature settings per filament"
**Is your feature request related to a problem? Please describe.**
Tuning temp through the LCD menu works great when it's a single filament print but doesn't quite work as one would hope when doing an MMU print.

Example: I'm running a 5 filament MMU print. The temperature of filament 3 (gray) _needs_ be bumped 10*. While gray is being extruded I use the LCD/button, go into tune, change nozzle tem

[2021-10-02 15:26] Darkknight33 opened #212 "MMU2 Filment Idler Banging/Grinding"
**TZB-MMU2S Release Version**
3.2.0

**Describe the bug**
Idler rotates with excessive force to its rotational limit during startup and calibration. It's much louder and more dramatic than with stock firmware. I flashed the TZB MMU2 firmware a second time in case there was problem, but still the same result. It's overdriven with a sound like during Z calibration when it's finding the upper limit -

[2021-10-02 15:37] Darkknight33 opened #213 "Error: Static values overwritten on LCD when using Octoprint"
**TZB-MMU2S Release Version**
3.2.0

**Describe the bug**
When using TZB MK3S Einsy10a 3.2.0 firmware with Octoprint, an error message "Error: Static memory has been overwritten" will display on the LCD, and you can do nothing but reset the printer. After resetting, it works fine with octoprint connected.

This is using an RPI 4, 4GB with Octoprint 1.6.1 w/ OctoDash installed

**To Reproduce**
Ste

[2021-10-02 22:16] TheZeroBeast commented on #212
Hello @Darkknight33,

the idler stallguard values have been tuned for the correct spring tension which could be a factor in your setup loosing steps instead of triggering stallguard.

Can you advise if you’re using original Prussia supplied board and steppers?

[2021-10-02 22:20] TheZeroBeast commented on #213
Hi @Darkknight33,

I have done a fair bit on this issue in my latest code that I’m about to release as 3.3.0.
We will have to see if you still get this with that build.

[2021-10-02 22:23] TheZeroBeast commented on #211
Hi @SomeoneElse58,

As you have hinted at you would need to maintain your filament profiles in your slicer so you have the correct values.

I also understand your issue and will see if I can incorporate it into the firmware at some stage in the future.

[2021-10-02 22:46] Darkknight33 commented on #212
Yeah, it’s all original Prusa parts from a MK3S+ purchased at the end of last year, and an MMU2S purchased in March.

I printed and installed your extruder upgrade. I’ve made a few small prints, and it prints okay, just occasionally pops up with that error from the other issue when it’s idling.

The tension wasn’t changed between firmwares. The screws are roughly 1mm or so below the surface level

[2021-10-02 22:48] Darkknight33 commented on #213
OK, when it releases soon ™️, I’ll test it out.

[2021-10-02 23:04] TheZeroBeast commented on #204
Please enjoy, 3.3.0 is out. Any issues please document and post, I'll endeavour to resolve as soon as possible.

[2021-10-02 23:04] #204 closed, assigned to nobody

[2021-10-02 23:04] TheZeroBeast commented on #205
Please enjoy, 3.3.0 is out. Any issues please document and post, I'll endeavour to resolve as soon as possible.

[2021-10-02 23:04] #205 closed, assigned to TheZeroBeast

[2021-10-02 23:04] TheZeroBeast commented on #210
Please enjoy, 3.3.0 is out. Any issues please document and post, I'll endeavour to resolve as soon as possible.

[2021-10-02 23:04] #210 closed, assigned to nobody

[2021-10-02 23:05] TheZeroBeast commented on #213
Ok, dig in @Darkknight33, it's live 😉

[2021-10-02 23:08] TheZeroBeast commented on #212
Hmm, thank you for the info.

It could just be stepper impedance variances but if so I'll show you which values to tune for your setup.

First, this 1mm below surface, try two complete turns from surface.

[2021-10-02 23:09] TheZeroBeast commented on #208
Closing due to inactivity, if still of interest please provide more information and I'll reopen.

[2021-10-02 23:09] #208 closed, assigned to nobody

[2021-10-02 23:10] TheZeroBeast commented on #188
Hi @Huang-TS, sorry for the late reply, I'm pretty sure my firmware does 5 attempts default which should be adequate.
Thoughts?

[2021-10-02 23:11] TheZeroBeast commented on #197
I'm working on this now guys, shouldn't take long to create a variant, I'll most likely do a point release when I do.

[2021-10-03 00:10] Darkknight33 commented on #213
I just started an 8hr print. I’ll hit it tomorrow and let you know. Thanks.

[2021-10-03 04:55] Darkknight33 commented on #213
Ok, a more serious problem. After flashing the 3.3.0 firmware on both the MMU2S then the printer, the printer does not recognize that MMU2S is even connected. It's behaving as if it's not there at all. Which is to say, there is no reference in the sensors page for the sensor in the MMU2, no option to select which filament to load, and when trying to load a filament, the printer is expecting it fro

[2021-10-03 05:00] TheZeroBeast commented on #213
Cool, I’ll see if I can work out what’s going on 👍

[2021-10-03 09:34] TheZeroBeast commented on #213
Ok, my hex builds stuffed up on my final build 🤦‍♂️
I have updated the MMU2S hex files on the release page.
Thank you for the heads up.

[2021-10-03 15:53] timemaster5 opened #214 "PrusaLink Support"
**TZB-MMU2S 3.3.0**

**Describe the bug**
As a PrusaLink beta tester, I wanted to try this firmware with the PrusaLink. The upstream version of the MK3s firmware v3.10.0 has the support included. Maybe there are some useful lines of code in the 3.10.1-RC1 too.

However, on TZB, PrusaLink can't connect to the printer. The log says:
WARNING: Printer fingerprint and/or SN is not set {telemetry():293}

[2021-10-03 16:42] Marek125 commented on #205
Hello, the new build of TZB 3.3.0 does not allow me to choose the
experimental functions of FW for Alternative Fan. I use TZB 3.3.0 Bondtech
FW.

https://help.prusa3d.com/en/article/selected-third-party-components-mk3s_161213

Thanks Marek

ne 3. 10. 2021 o 1:04 Robert McKenzie ***@***.***> napísal(a):

[2021-10-03 20:21] timemaster5 commented on #214
Ok I found out that there is nothing missing in this firmware, the issue is in the PrusaLink itself which is restricted only to some FW builds so far.. So I am closing this issue as there is nothing we can do about it right now.

[2021-10-03 20:21] #214 closed, assigned to TheZeroBeast

[2021-10-04 00:31] Darkknight33 commented on #213
The new firmware seems to have resolved this issue, as well as the MMU not working at all. This issue seems to have been solved, but issue #212 is still very prevalent. I will close this and comment over there about it.

[2021-10-04 00:31] #213 closed, assigned to TheZeroBeast

[2021-10-04 00:33] Darkknight33 commented on #212
The new firmware has not resolved the grinding. I have tightened the screws per your instructions, it's still pretty loud. I tried different positions, and I do not think it is a screw torque issue. I think it's just over driving the idler too much.

I wonder if somehow we have different MMU hardware? Maybe they changed the stepper motors?

[2021-10-04 00:36] TheZeroBeast commented on #212
If so you will need to tune the values.
Have you got a development environment setup and compiling already?
If not please get setup as per the read me and I’ll find the lines you’ll have to adjust until you have a proper stallguard detection.

[2021-10-04 00:53] Darkknight33 commented on #212
I do not have the IDE setup, but I will work on this week. Thanks for the help.

[2021-10-04 05:07] TheZeroBeast commented on #212
Sounds good, platformIO is what I dev in which is easy as to setup.

[2021-10-04 08:33] Ondak87 opened #215 "Mmu2s and Display"
Hello @TheZeroBeast

Do you try work on modifying your SW on the mmu2s board and add a display as is the case with mmu 12x from cjbaar?

Advantage:
Only aesrhetically diesan

Thank you

[2021-10-04 08:38] Ondak87 commented on #211
Hello @SomeoneElse58

Temperature setting for each train can be set in the slicer.

I personally recommend downloading a SuperSlicer where you can even set the temperature when the train is change

[2021-10-04 14:02] dameningen4914 opened #216 "Z Axis movement shortcut"
Hello TheZeroBeast.
I am very happy that your firmware has been updated.

However, I have one request.

the original Prusa firmware, I can move the Z axis by long pressing the function button.
But your 3.3.0 firmware doesn't have that feature.

Can you add this shortcut function?

Thank you.

[2021-10-04 17:33] BaconFase commented on #216
I've also noticed this feature loss. 3.0.4 had this function.

[2021-10-04 17:35] BaconFase commented on #211
Hi @Ondak87

I'm aware of slicer settings. The point of my request is for instances when you need to change a temperature mid-print and want that changed temperature to stay at that modified temperature for the rest of the print.

When printing with a single-filament there is no problem. However, any filament temperature changes made through the Tune settings on the LCD menu of the printer are rev

[2021-10-04 19:49] Naugrimohtar commented on #216
I too have noticed this feature loss, a feature I used very heavily actually.

[2021-10-05 13:49] eurohell commented on #212
I got this bug also many times on different printers, the problem is that the 2 screws that fix the idler to the motor are too loose (but be careful, idler can be easily cracked when overtightened, perhaps it already has cracked?). So tighten these 2 screws a little bit or check if idler is cracked, then print a new one. The problem will disappear, because for now, the motor rotates freely in the

[2021-10-06 14:26] timemaster5 commented on #216
+1

[2021-10-06 14:36] fromanza commented on #216
+1

[2021-10-07 11:56] sergiofagundes opened #217 "Can Load to nozzle but failed loading in printing"
Ensure you're running the latest **RELEASE** and you've checked the **Wiki** for answers before reporting. Any issues reported regarding previous **RELEASES** will automatically be closed and not responded to, this ensures the developer maintains focus & streamlines the development process.

**TZB-MMU2S Release Version**
3.2.0-371

**Describe the bug**
I can load/unload to nozzle filament. But if

[2021-10-10 10:47] timemaster5 commented on #216
I submitted a [PR#29](https://github.com/TheZeroBeast/TZB-MK3S-Firmware/pull/29)

[2021-10-11 03:00] TheZeroBeast commented on #217
Hi guys, this is under investigation. I'll let you know how I go.

[2021-10-11 03:02] TheZeroBeast commented on #216
I also noticed this recently and believe the PRUSA RC has fixed it, I'll rebase in the near future.

[2021-10-11 14:03] madxbgt opened #219 "Selector loses position"
Ensure you're running the latest **RELEASE** and you've checked the **Wiki** for answers before reporting. Any issues reported regarding previous **RELEASES** will automatically be closed and not responded to, this ensures the developer maintains focus & streamlines the development process.

**TZB-MMU2S Release Version**
The version of the release relating to the bug report.
3.3.0- 375
**Describe

[2021-11-29 18:33] kajsilander78 commented on #153
@TheZeroBeast, the slot on the selector under the M10 part, is that for magnet insertion or some other use?
I've been using https://www.thingiverse.com/thing:3688458 selector but have fails when filament runs out (jams when feeding back). So going over to tzb selector now. The former selector had a nice slot for prusas small-magnet (6x2x10mm).

[2021-11-29 19:08] TheZeroBeast commented on #153
Yep, you’re spot on. I use a short cylinder magnet in mine. The dimensions would be on my Thingiverse post.

[2021-12-26 03:18] TheZeroBeast commented on #216
Fixed in Release 4.0.1 happy holidays.

[2021-12-26 03:18] #216 closed, assigned to nobody

[2021-12-28 20:20] lemmingDev commented on #203
Hi. Can this MMU2S firmware be used with another printer with standard Marlin.

Reason: I've printed and am using the dual filament cutter version and am using it along with TZB firmware on my MK3S Bear, but would also like to use it on another printer with standard Marlin. I was going to create quick disconnects to easily move it. I know the regular MMU2S is supported in Marlin, but wanted to kno

[2021-12-28 22:46] gutschke opened #220 "Automatically unload and retract filament before attempting to cut"
This is the first time I have actually tried the "cut filament" option from the menu. So, no idea whether this is a bug in the TZB firmware or if this is just the same behavior as in the stock firmware.

If no filament is currently loaded, cutting works perfectly. The MMU2S produces beautiful ~1cm cuttings, and the filament has a clean tip that loads easily. But if I accidentally ask the printer t

[2021-12-30 01:25] TheZeroBeast commented on #203
Hi @lemmingDev,
My FW doesn’t run any stock communication so you would need to re-write marlin to support my communication protocol.

[2021-12-30 01:34] lemmingDev commented on #203
Thanks for getting back to me

Might have to print the single cutter version

BTW - when the selector is homing to the right, it crashes back and forth for about 30 seconds before working
Do I need to change sensorless homing threshold values in firmware?

[2021-12-30 06:50] TheZeroBeast commented on #203
Ah I see, as I haven’t setup a dual blade machine yet I don’t have anything to dev with a relies on a community member to test.

I however intent on changing mine to dual and will modify code base accordingly to have it reliable.

[2021-12-30 08:13] lemmingDev commented on #203
Even with the stock/single blade with the corresponding TZB firmware it crashes back and forth to the right to around 20 or 30 seconds...

[2021-12-30 15:50] gutschke commented on #203
Just to offer another datapoint. The other day, I upgraded to the dual blade version. Worked great on the first try. And no issues with trying to calibrate itself.

In fact, everything worked so easily, I recommend for others to also upgrade their printer with this mod

[2021-12-30 23:34] TheZeroBeast commented on #203
Thanks @gutschke, nice, that’s great 👍🎉

@lemmingDev, if you’re getting this homing issue on stock hardware I recommend checking the hardware to ensure it isn’t jamming anywhere and as a last resort you could change stall settings but they aren’t an easy endeavour.

[2021-12-31 05:25] lemmingDev commented on #203
I have just checked - if I try to help pull the selector to the left just after it touches the right, it works perfectly.
Once homed, it's fine moving left and right
So - what changes need to be made to the FW to do it without me coaxing it along?
The config.h file seems to have stall guard values and currents

[2021-12-31 05:48] gutschke commented on #203
I have noticed that the selector can sometimes get hung up, if the blade(s) extend(s) too low or if the groove that the blade(s) pass through is contaminated. That would probably be the first thing I'd check

[2021-12-31 08:53] lemmingDev commented on #203
Thanks for the tip.
I will take it apart and remove the blades to see if it helps

[2022-01-03 17:02] WarrenSchultz opened #221 "Implement ArcWelder support PR"
While we wait for Prusa to implement support for proper arc support, would you be willing to merge in the PR that's waiting on their approval on the main codeline?

https://github.com/prusa3d/Prusa-Firmware/pull/2657

[2022-01-05 00:59] TheZeroBeast commented on #220
Hi @gutschke,

This is a good find, I haven't tried this before and it should be fixed in software. I'll get it sorted.

[2022-01-05 01:02] TheZeroBeast commented on #217
Hi @sergiofagundes,

I haven't uncovered any more on this issue, can you please try the latest release and let me know how it goes?

[2022-01-05 01:04] TheZeroBeast commented on #215
Hi @Ondak87, I do like the 12x design by @cjbaar but I don't have the time or funds to implement this with my code.
If you or someone else has the the setup and is willing to code I can offer guidance.

[2022-01-05 01:04] #215 closed, assigned to nobody

[2022-01-05 01:07] TheZeroBeast commented on #212
Stale issue, closing.
@Darkknight33, once you have a dev. environment up and working post back and I can re-open.

[2022-01-05 01:07] #212 closed, assigned to TheZeroBeast

[2022-01-05 01:10] TheZeroBeast commented on #200
Stale issue, closing.
I also believe this isn't related to software and more so the hardware side.

[2022-01-05 01:10] #200 closed, assigned to nobody

[2022-01-05 01:13] TheZeroBeast commented on #197
Hi Guys, I'm sorry but this was missed on my recent releases, I will get it into my next.

[2022-01-05 01:53] TheZeroBeast commented on #197
Ok, so I have implemented the few changes the Bear calibration FW make in the attached build, could someone please test and confirm please?

[TZB-MK3S-Bear-4.0.2-BN2525.zip](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/files/7811519/TZB-MK3S-Bear-4.0.2-BN2525.zip)

[2022-01-05 01:55] TheZeroBeast commented on #198
Stale issue, closing.
If anyone wants to get this working I would welcome a PR, otherwise I do not have the time to put into this.

Anyone can build their own hex with desired language.

[2022-01-05 01:55] #198 closed, assigned to nobody

[2022-01-05 01:57] TheZeroBeast commented on #221
Hi @WarrenSchultz,

This looks interesting, I will investigate.

[2022-01-05 04:01] TheZeroBeast commented on #221
Hey @WarrenSchultz, I have been down this path in the past and from taking a look again I feel there still isn't a big enough advantage to put time and effort into merging this into my forked print codebase. I will be waiting for PRUSA to merge and then I'll update.

[2022-01-05 04:01] #221 closed, assigned to nobody

[2022-01-05 04:08] WarrenSchultz commented on #221
No worries, @TheZeroBeast  thanks for taking a look!

[2022-01-05 04:21] Darkknight33 commented on #212
Sorry for forgetting about this. My MMU2S unit is not cracked, and works without issue on the stock firmware. Tightening the screws to nearly the point of binding the tension springs did not resolve the motor grinding. I believe the drive current is just set too high for my selection stepper in the TZB firmware.

I spent my time working on other issues in the intervening time. Between the new extr

[2022-01-06 14:56] Anonymus484 opened #222 "Setting to switch between PINDA and BLTouch"
I have upgraded my Printer with the BLTouch-Probe (for non steel printbeds e.g. G10/FP4).
It workes great with some hickups here and there but over all i am happy so far.
But sometimes i wish to switch between the PINDA and the BLTouch in the Settings without reflashing the whole firmware.
Is it possible to integrate that feature in the future?

[2022-01-10 16:27] itscountolaf opened #223 "MMU2S does not continue print after unload failure"
Ensure you're running the latest **RELEASE** and you've checked the **Wiki** for answers before reporting. Any issues reported regarding previous **RELEASES** will automatically be closed and not responded to, this ensures the developer maintains focus & streamlines the development process.

**TZB-MMU2S Release Version**
4.0.1

**Describe the bug**
MMU2S had an unload failure. After fixing it my M

[2022-01-14 23:20] sean97140 opened #224 "Marlin 2.0.x support"
I would love to use the MMU2S (with your incredible firmware) on printers other than a Prusa. Marlin 2 includes support for the mmu2s, but it is for the stock communication protocol and firmware.

I would like the ability to use the stock communication protocol (if this is remotely possible) to enable me to use your mmu2s firmware with Marlin 2.

The alternative option would be to port your commun

[2022-02-01 23:35] TheZeroBeast commented on #223
When you say the MMU middle button attempts to load filament do you mean it loads then parts as if it doesn't know its printing and in an error state? Just trying to understand what is going on so we can sort the issue out.

[2022-02-01 23:50] TheZeroBeast commented on #219
Hi @madxbgt, I have been investigating a few issues and think I know what is happening here and I have a strong suspicion it is AutoDeplete stuffing us.

I will go through and test this feature and most likely find and fix this bug.

[2022-02-02 02:11] TheZeroBeast commented on #219
[This Commit](https://github.com/TheZeroBeast/TZB-MK3S-Firmware/commit/1bbcc9a409784164a0932a8646006594ce96a545) should resolve this issue, pending testing.

[2022-02-02 02:13] TheZeroBeast commented on #223
Hi @itscountolaf, thank you for reporting this, I think it is related to #219 which I will be testing a fix for in the coming days.

[2022-02-02 08:47] itscountolaf commented on #223
Exactly. Imagine the printer says it is in an error state and the MMU does not know this and acts as if you just powered it on.

[2022-02-06 21:06] TheZeroBeast commented on #219
Hi @madxbgt, I think I have this sorted now with some further testing. I found an issue with the auto deplete implementation that would mess up available extruders when not even enabled in menu.

[2022-02-06 21:10] TheZeroBeast commented on #223
Hi @itscountolaf, it sounds like your MMU2S rebooted when fixing the issue which gets it out of sync with the printer.

This has been on my todo list for a couple years so I decided to get it sorted.
I have coded the printer to recover the connection/sync if it sees the MMU2S booting if it had been enabled previously.

So I have tested and have it re-syncing while idle, printing and mid MMU2S erro

[2022-02-06 21:13] TheZeroBeast commented on #222
Hello, due to limited resources this is not an option although I have been doing some speed and reliability tweaks that has it almost as quick as the PINDA and very reliable. These changes will be coming in release 4.0.2. If you would like to try a BETA release before then I can link a HEX, just let me know.

[2022-02-06 21:13] #222 closed, assigned to nobody

[2022-02-06 21:19] TheZeroBeast commented on #153
Hi @kajsilander78,

I have been experimenting with auto deplete with the end of spools and wow, I found out how the selector isn't setup to feed back a curly end of filament.

I have been prototyping a bunch over the weekend and think I might be onto something.
Hopefully it will improve allowing bent end filament both ways through the selector.

One design I tried would even get stuck attempting t

[2022-02-06 21:40] TheZeroBeast commented on #153
In the end I dropped the ball spherical cutout and made it a bit smaller as it was an 8.4mm sphere for a 7.9mm ball as well as making the main channel 2.3mm dia instead of 2.6mm.

The catch spot in either side of the ball hole. The idea of a low dropping ball means when loaded the ball is just touching the finda, being held in please.
When a curled end comes on either side it still lifts the ball

[2022-02-07 23:47] itscountolaf commented on #223
That sounds plausible. When the issue occurred, I just reset the MMU with the button on the side but it did not get in sync. But I did not power cycle the MMU.

I will try it the next time the problem occurs. Fortunately it didn't happen again since opened up this issue.

Other than that the firmware and the MMU work like a charm.

[2022-02-10 11:18] TheZeroBeast commented on #220
Fixed in the upcoming release by advising filament loaded and doesn't cut.
I will probably improve it in the future and have it prompt to heat/unload then cut.

[2022-02-10 11:18] #220 closed, assigned to nobody

[2022-02-12 01:26] TheZeroBeast commented on #220
Scratch that, I coded it to preheat if loaded then cut the loaded channel. Once this is done you could go into the menu and cut other channels.

[2022-02-13 22:41] TheZeroBeast commented on #223
Please review [4.0.2](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/releases/tag/4.0.2) release and re-open if your issue persists.

[2022-02-13 22:41] #223 closed, assigned to TheZeroBeast

[2022-02-13 22:42] TheZeroBeast commented on #219
Please review [4.0.2](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/releases/tag/4.0.2) release and re-open if your issue persists.

[2022-02-13 22:42] #219 closed, assigned to TheZeroBeast

[2022-02-13 22:42] TheZeroBeast commented on #197
Please review [4.0.2](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/releases/tag/4.0.2) release and re-open if your issue persists.

[2022-02-13 22:42] #197 closed, assigned to TheZeroBeast

[2022-02-13 22:44] TheZeroBeast commented on #153
I few more design iterations and I have a reliable unload and load of end of spool curly filament.
Check it out [here](https://www.prusaprinters.org/prints/133891-mmu2s-tzb2-dual-blade-filament-path-refinement-mod) if you wish.

[2022-02-20 19:37] TheZeroBeast commented on #217
@sergiofagundes, I'm closing this as I haven't had any response in months. If you're still having issues on the latest release please reopen or open a fresh issue.

[2022-02-20 19:37] #217 closed, assigned to TheZeroBeast

[2022-02-21 01:06] sean97140 opened #225 "Handle mmu reset/power loss event."
**Is your feature request related to a problem? Please describe.**
If I were to reset the mmu, or pull the power to it during a failed load state. It will not recover from this. The stock firmware is capable of recovering from this.

**Describe the solution you'd like**
I would like a "reset mmu state" menu option to get the mmu back in working state if I were to need to disconnect it for a tear d

[2022-03-04 23:25] BaconFase opened #226 "Toggle option for extruder movement on MMU error"
Please add an option to toggle whether or not to move the extruder when an MMU error happens and the hotend cools off.

Or change it so that the extruder moves to a safe z-height before moving in the x/y directions.

[=(](https://clips.twitch.tv/RockyCrunchyOctopusKAPOW-lDczyqUjfEFydT9V)

I originally posted this on the PrusaSlicer section of github but was told it was a firmware issue.

Cheers

[2022-03-08 18:28] eurohell commented on #225
Got a similar issue, what worked after reconnecting the mmu is to go into the service menu by moving selector to the virtual 6th slot, on the right side, pressing middle button, wait for 2 rightmost blinking leds, red and green, then pressing middle button. you are in the service menu. then go to the leftmost position (press left button 4 times) and then the middle button to leave service menu. af

[2022-03-13 21:05] TheZeroBeast commented on #226
Hi @BaconFase, you would need to have it move and it should be raising in the Z direction from memory. In any case I haven't modified this from the base prusa print FW.

I will need to test if it raises and can add that if needed.

[2022-03-13 21:06] TheZeroBeast commented on #225
This feature was implemented in the latest firmware. Please review and if you have an issue with that we can re-open.

[2022-03-13 21:06] #225 closed, assigned to nobody

[2022-03-13 21:14] gutschke opened #227 "Force filament cut on each filament change"
I was having trouble with my hot-end (prints fine in PLA/PETG but always causes thermal run-away for any higher temp than that). I figured, either the heater cartridge or the heater block were defective, but I had already changed those out before. So, on a whim I bought a Revo 6. Love it. Great concept. Incidentally, it seems to have fixed my thermal run-away; so that's good.

But enough of the ba

[2022-03-14 01:09] BaconFase commented on #226
I assume it was because I was using the experimental 'no sparse layers' setting that it didn't raise the Z high _enough_ for it to clear the actual model itself, but it does raise up from the purge tower a little.

[2022-04-12 16:52] eurohell opened #228 "Selector suddenly moves while printing in mid-print"
**TZB-MMU2S Release Version**
4.0.2

**Describe the bug**
I run your firmware on 20 machines and today this happened the 4th time on different machines, so this cannot be random: While printing a single color print, after 3-4 hours the selector simply tries to move while printing. No check for loaded filament, nothing. It simply moves and shears the filament, so that the printer does not extrude a

[2022-04-18 15:13] ursius2020 commented on #227
By looking at the code it seams easy. Just add "mmctl_cut_filament(new_extruder);" before "load_filament_withSensor();" in mmctl.cpp. In theorie. Finishing my print in a few hours and starting to test my theorie

[2022-04-18 15:48] ursius2020 commented on #227
Alterenatively there is following option in the printer Firmware (configuration_prusa.h at the bottom):
[code]
No need to change the Firmware of the MMU

[2022-04-24 17:09] eurohell opened #229 "MMU does not do anything in mid-print"
**TZB-MMU2S Release Version**
MMU2S-TZB 4.0.2

**Describe the bug**
Several times on different printers, in mid-print on a multi-color print the MMU suddenly does nothing. Sometimes there are no LEDs lighting, only the inner ones on the MMU board, and sometimes many of them are lighting, as in the picture attached. Always, the left motor is very hot (around 65°C, while on running printers this one

[2022-04-25 02:02] talldonkey opened #230 "Which Firmware Hex File to use for MMU2S with stock single blade?"
**TZB-MMU2S Release Version**
https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/releases/tag/4.0.2

**Describe the bug**
I am not sure which MMU2S Hex file to load into the MMU2S when using the stock Prusa Single Blade selector.  In 4.0.1, it was clear as you had a MMU2S hex file named "[TZB-MMU2S-4.0.1-BN376.hex](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/releases/download/4.0.1/TZB-MMU2

[2022-04-25 06:41] Tony763 commented on #230
Hi @talldonkey, try to use TZBDualBlade. At Release page, it is listed as one:

MMU2S Stock/Single Blade/[TZBDualBlade](https://www.prusaprinters.org/prints/133891-mmu2s-tzb2-dual-blade-filament-path-refinement-mod)
MMU2S Dual Blade see [here](https://www.prusaprinters.org/prints/16666)

[2022-04-25 09:42] fromanza opened #231 "Questions: Compiling from source"
Perhaps a stupic question but I've downloaded your source & loaded into PlatformIO but when I compile I get a significantly different .hex file sizes which I assume cant be a good thing. PlatformIO reports "MMU2S-TZBDualBlade  SUCCESS". The file you compile in your git repo is 49KB and the one I compile is 61KB (attached for reference). Is there compression happening or is my version going to intr

[2022-05-01 04:20] ackerthehacker2 commented on #230
On a side note, do you have to upgrade the MKS firmware if you all you want is the service position in the MMU to disable it?

[2022-05-01 04:41] TheZeroBeast commented on #230
DualBlade one tagged hex is also for stock setup 👍

As this FW is completely different to stock both printer and mmu unit need flashing to function.

[2022-05-01 04:41] #230 closed, assigned to TheZeroBeast

[2022-05-01 04:43] TheZeroBeast commented on #229
This is not great. Sorry to hear this is happening @eurohell.
I haven’t had any errors like you’re describing, if I come across it I will try resolve 👍

[2022-05-01 04:52] TheZeroBeast commented on #231
Printer source is [here](https://github.com/TheZeroBeast/TZB-MK3S-Firmware)

If you haven’t added that line at the top of the file maybe.
If it’s successful then it should work fine 👍

[2022-05-01 04:52] #231 closed, assigned to nobody

[2022-05-01 05:00] TheZeroBeast commented on #228
I am unable to reproduce this issue @eurohell.
unless your mmu is going into an unknown state (hanging/crashing) then there is always checks done to ensure the selector isn’t moved while loaded.
Feel free to investigate further.

[2022-06-05 03:02] Clank50AE commented on #229
I too just experienced this issues just now. Simple 2 color print with 51 changes. About an hour into the print, the MMU2S did nothing. My Mk3s+ acted mid print that it was doing a simple filament change, brought the extruder up about 100mm, loaded the filament like normal, asked if it was loaded then returned to print. It would purge on the tower, unload then reload again with the same filament a

[2022-06-06 10:44] eurohell commented on #229
It drove me crazy to have that issue on many of our 20+ machines more than once a day, so the only solution that works for me is reverting to 3.3.0, which runs flawlessly (but has the z-lift-bug) and you can recover from any error state if you know how until the new versions run stable.

[2022-06-06 22:57] Clank50AE commented on #229
I'm beginning to wonder if this has something to do with the FINDA on the MMU. My machine kept trying to swap rolls of this blue filament but is fine with the black. I adjusted the FINDA by removing filament from the selector, lowering the FINDA until it triggered and backed it off just until it read 0. So far, it's printing fine.

My thought is that the FINDA is really sensitive in this firmware

[2022-07-14 03:36] bryn51 opened #232 "Readme.md needs rework"
I can happily build this code using Platformio, within VS Code, on my Mac.

But the instructions found in readme.md make no sense at all.

Build instructions:
download the code base zip file and open it in your file system.  This creates a folder containing src folder.  Platform.ini is found at the base.
Start VS Code, and open the folder that was created when you unzipped the download.
Open the p

[2022-07-14 03:51] bryn51 opened #233 "Readme.md file requires Update"
I can happily build this code using Platformio, within VS Code, on my Mac.  I am an experienced coder in C and C++

But the instructions found in readme.md make no sense at all to me.  They appear to be incomplete or imprecise.

Here are my own Build instructions:

1. download the code base zip file and open it in your file system.  This creates a folder containing src folder.  Platform.ini is fou

[2022-07-14 07:00] bryn51 opened #234 "FW 4.0.2 Fails after upload. Not recognised by Einsy FW"
**TZB-MMU2S Release Version**
4.0.2 BN380

**Describe the bug**
After FW installation (successful) using Prusaslicer: the firmware fails basic tests:  The main Einsy FW does not recognise the new firmware (it reports MMU version "N/A" and also I find that the sensor screen does not show the Finda probe, it shows just the PINDA and Fil Sensor (on the extruder).

**To Reproduce**
1. Edit Hex file to

[2022-07-14 07:06] TheZeroBeast commented on #234
Hey mate, my firmware is a full rewrite. You need the pair of both printer and mmu fw loaded for communication to work.

Also, [this](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/wiki/Flashing-Procedure) is the guide on loading back and forth.

[2022-07-14 07:06] #234 closed, assigned to TheZeroBeast

[2022-07-14 07:09] TheZeroBeast commented on #233
The instructions are fine, I don’t agree they need to be so detailed.

The note about the additional line is for use uploading via Prusa Slicer.

[2022-07-14 07:09] #233 closed, assigned to nobody

[2022-07-14 07:10] TheZeroBeast commented on #232
Duplicate to #223

[2022-07-14 07:10] #232 closed, assigned to nobody

[2022-07-14 07:11] TheZeroBeast commented on #229
#228 looksnto be related. Has anyone looked into the code for the issue??

[2022-07-14 10:28] bryn51 commented on #234
Hi Robert,

I was unaware that the firmware update for MMU2 supporting dual cutting blade operation was for both printer and the mmu mcu.  I thought it was for the MMU only.

I also had not previously seen the videos depicting update of the firmwares back and forth.

For now, I have only installed the hardware on the MMU2, and not installed the updated extruder.  The latter are “ready to go” but I

[2022-07-14 10:34] bryn51 commented on #233
Yeah OK.

But you are not the one have to deal with the upgrade.
I am an experienced maker and coder, but still found myself needing guidance instructions, and those that I found on printables and github just did not cut it.
But, it seems, I was only seeing half the story.  There was no indication that you had put some further information on the wiki.
In fact there are pieces all over the place bu

[2022-07-14 10:58] TheZeroBeast commented on #234
If you can’t follow you can always make pull requests with suggestions that I can review.

[2022-07-14 11:01] TheZeroBeast commented on #233
Again, if you’re not satisfied with my sole effort then feel free to start your own codebase from scratch. If you want to add more information then go right ahead via pull requests that I can review and merge as I see fit. I feel it’s explained sufficiently for people and videos are much better for the majority of people.

[2022-07-16 02:29] bryn51 commented on #233
Hi Robert

I have been turning over in my mind what approach to take with this.

Your big effort to rewrite the printer and MMU code is noted.

But it’s just that which has me concerned. Looking in from the outside, I
see that Prusa have a code base put together by a team of programmers and
researchers dating back years and having thousands of hours hard testing,
initially in their own sizable pri

[2022-07-17 03:21] bryn51 commented on #233
Hi Robert,

OK I have quickly looked over the code for both Prusa MK3S and TZB and here are my findings:

  1.  Depth of analysis: shallow
  2.  Analyst Experience: Broad, Supervisory/Management, Architect, Analysis, Coding, Retired (age- related cognitive/memory impairment).
  3.  Analysis tool: Beyond Compare and VS Code/PlatformIO
  4.  Goal: Risk Assessment of applying TZB code to my printer

[2022-07-17 20:48] TheZeroBeast commented on #233
Hi @bryn51,

Interesting analysis you have done here.

If you want the MMU2S to work as intended from PRUSA you need to take this up with them, I was in the initial shipment of units and as PRUSA did a poor job making a solid solution I came up with my own.

Primarily intended to have my farm stable with my hardware it usually only gets a lot of my attention when I see fit to update/change/trouble

[2022-07-17 23:05] bryn51 commented on #233
Cheers Robert

I have little doubt that the TZB firmware meets your needs and you are able to maintain it for those purposes.

But it’s also clear that it’s not necessarily the case that you will keep it up to the same level as Prusa to meet needs of broader set of customers.

Not everyone has the capability to identify and correct bugs in a complex code base with which  do not not have  complete

[2022-07-17 23:28] gutschke commented on #233
This is such an odd discussion. It started out with a complaint that that the build instructions were a bit on the terse side. And I think I would agree. I have built my own image from the sources, and it took me a little bit to figure out how to set up an appropriate build environment. Fair enough.

But then it just veered off into personal attacks and questions about the legitimacy of the projec

[2022-07-17 23:49] TheZeroBeast commented on #233
Thanks @gutschke, appreciate the support.

@bryn51, first off the only changes done in upstream branch after 3.10.1 which is one version to 3.11.0 (I don't pull RC) is as follows and not important feature changes that justifies the effort.
- New community translations
- Added LCD support for äöüß and μ
- SN check fixed
- Changes to on-screen messages
- Known issue (LCD glitches)

Now, you and your

[2022-08-02 17:50] r4yzs opened #235 "Selector in bad position"
Hello,

I'm using the latest release on MMU2s and my Prusa MK3S+ but I can't use this mod.

When I ask to load first filament, the MMU2S move to a bad position (like 1,5 position between 1 and 2) and I can't load.

I tried to reflash, reset and restart but all time the same problem.

No problem with stock release.

[2022-08-02 20:27] Tony763 commented on #235
Hi, do you use stock selector? Which file did you flash?

[2022-08-02 20:35] r4yzs commented on #235
Yes stock selector

I use TZB-MMU2S-TZBDualBlade-4.0.2-BN380.hex

[2022-08-04 04:39] TheZeroBeast commented on #235
This is very interesting, I don't have an answer. You would need to troubleshoot the issue to get further clues.

[2022-08-04 23:45] rogery555 commented on #188
Seems like it only tires twice for me which is not enough a lot of the time

[2022-08-09 09:32] sabaatworld opened #236 "Request: Changes needed to disable steppers on MMU after timeout"
I really like the feature which disables the MMU after a timeout to avoid static noise. Can you please point me to the changes you've made to accomplish this? I'm trying to do the same on stock firmware.

[2022-08-12 20:24] sean97140 commented on #224
I can settle on better documentation/some flow charts of your communication protocol and how the interactions changed from stock, error-correcting, etc if you have any spare time. I am at the point I am just going to implement it myself soon and any info you can provide on your thought process and control flow would save me a ton of time getting started on this.

[2022-08-13 17:52] rogery555 commented on #212
Same issue for me, idler grinds terribly when booting the MMU  4.0.2 firmware

[2022-08-22 17:45] Ic33s opened #237 "There is the "normal" MMU2S firmware version missing for 4.0.2 only dual blades are availale. Please :)"
Ensure you're running the latest **RELEASE** and you've checked the **Wiki** for answers before reporting. Any issues reported regarding previous **RELEASES** will automatically be closed and not responded to, this ensures the developer maintains focus & streamlines the development process.

**TZB-MMU2S Release Version**
4.0.2

**Describe the bug**
Not hex release of singleblade (stock selector) a

[2022-08-22 17:58] Tony763 commented on #237
Hi @Ic33s, use `TZBDualblade`. It is compatible with stock (single).

![image](https://user-images.githubusercontent.com/5598750/185987508-7d036b03-19b4-4fc8-a576-98c6623290c7.png)

[2022-08-22 18:19] Ic33s commented on #237
Thank you for your fast reply. Just flashed it, unfortunatly no success either. I don't get any filament loaded (since hours) and I don't understand whats the cause of the problem. But that's not your problem :) ... The MMU2S made problems from the start and seems a waste of money unfortunately. Best

[2022-08-22 18:19] #237 closed, assigned to TheZeroBeast

[2022-08-22 18:23] Tony763 commented on #237
@Ic33s did you also flash a Printer? I agree that MMU2S is pain in a**, but with this incredible FW and few hours of try/error it can run pretty good. Does printer write something on display or status LEDs on MMU?

[2022-08-22 19:12] TheZeroBeast commented on #237
Thanks @Tony763 for helping mate.

@Ic33s, stick with it, the MMU2S can be setup stable with minimal interventions when in use. Double check all the hardware and don't over torque the tension bolts on the MMU2S, people usually do.

[2022-08-22 19:20] TheZeroBeast commented on #236
Hi @sabaatworld, main.cpp line 172 is where I initiate the timeout using the enable lines on the steppers via the shift register.
I haven't looked recently at stock code but I needed to make changes for the shift register code for it to make sense and be usable for my needs.

[2022-08-22 19:20] #236 closed, assigned to nobody

[2022-08-23 08:38] Ic33s commented on #237
@Tony763 @TheZeroBeast: Thank you for your kind words. After nearly 2 years of fighting with the MMU2S I was finally in the mood to take it of and to bury it. But I got it running again yesterday right after midnight.

@TheZeroBeast I know too much torque can make more trouble than help at the MMU2S itself but also at the extruder side.
The Phaetus extruder I've tried the last few month decided to

[2022-08-23 13:29] floridaservices opened #238 "No precompile MMU2 file for 4.0.2"
**Is your feature request related to a problem? Please describe.**
Precompiled file for flashing MMU2S to version 4.0.2 is not in list of available files to download

**Describe the solution you'd like**
Suggest making available precompiled MMU2 firmware 4.0.2 hex

**Describe alternatives you've considered**
I currently run 4.0.1 with no issues but others have asked me about 4.0.2 availability so

[2022-08-23 13:34] Tony763 commented on #238
Hi, all files are listed in release.

![image](https://user-images.githubusercontent.com/5598750/186171298-9f9ae062-0cb1-44a3-bcef-35507feb8d5e.png)

Stock MK3S Printer [TZB-MK3S-4.0.2-BN2528.hex](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/releases/download/4.0.2/TZB-MK3S-4.0.2-BN2528.hex)

Stock MMU2: [TZB-MMU2S-TZBDualBlade-4.0.2-BN380.hex](https://github.com/TheZeroBeast/TZB-MMU2S-Firmw

[2022-08-23 13:43] floridaservices commented on #238
It would seem from the file name that TZB-MMU2S-TZBDualBlade-4.0.2BN380.hex is not for the stock configuration.   If you look at 4.0.1 file TZB-MMU2S-4.0.1-BN376.hex is listed in place of TZB-MMU2S-TZBDualBlade-4.0.2BN380.hex so perhaps you are right, but it's not obvious to first time users.  I think it would help people new to the TZB ecosystem if the file was named accurately.

[2022-08-23 13:48] Tony763 commented on #238
That is why this is in release description:

![image](https://user-images.githubusercontent.com/5598750/186174328-5fcba7ea-13bf-4bef-aecf-83f9084dfea6.png)

Stock/Single blade and TZB Dual blade are compatible and thus use same file

For Dual Cutter there is separate file.

Agree, that it can be little confusing for newbie, but if unsure it can be easily found in closed issues.

[2022-09-23 18:59] pennystockss opened #239 "Cam unlocking"
Ensure you're running the latest **RELEASE** and you've checked the **Wiki** for answers before reporting. Any issues reported regarding previous **RELEASES** will automatically be closed and not responded to, this ensures the developer maintains focus & streamlines the development process.

**TZB-MMU2S Release Version**
Current 4.0.2 on stock MK3S+/MMU2S+

**Describe the bug**
While loading or un

[2022-09-24 02:35] pennystockss commented on #239
I caught it! I would walk in every now and then when I heard it start to change. That is what it does but the idler is either loose and snags on some friction then spins or the stepper for the idler tweaks and spins a bit during loading. The stepper is locked during successful filament changes. I'm not sure if the stepper motor unlocks and grabs on friction or stepper tweaks but every 100 or so fi

[2022-10-17 09:28] motsu35 opened #240 "Add a button to move the selector to position 6 during load / unload errors"
**Is your feature request related to a problem? Please describe.**
When filament fails to load, it is sometimes due to the selector moving while filament is still in the moving component. An example of this is if the FINDA loosens up mod print and reads incorrectly, or when printing with a filament that doesn't have ramming settings dialed in and leaves whispy ends that doesn't trigger the filamen

[2022-10-17 13:33] timemaster5 commented on #239
I am having the same issue too. As I don’t print multi colour often, I see it mainly at the end of the print session. After many printing hours I find an mmu unload error with the fillament in the middle of extrude tube.

[2022-10-17 13:38] floridaservices commented on #239
Mine does this too very often, it recovers fine and continues on but it's not ideal.  I am still on 4.0.1

[2022-10-17 13:50] timemaster5 commented on #239
Could you check with the 4.0.2 version? The cause can be different in the previous release.

[2022-10-17 13:53] floridaservices commented on #239
Will be a bit but yes it has been on my list to upgrade

[2022-10-17 13:54] pennystockss commented on #239
I was on 4.0.2. Unlike Floridaservices, mine never recovers. It unload fails with the filament just hanging out in the tube between the selector and extruder. I might actually try 4.0.1 just to see if it recovers. I love the features of TZB FW. I have an 9hr, 240 tool change print I'm about to do, I'll update after I test.

[2022-10-17 13:57] floridaservices commented on #239
By recovers, I meant I can interact with it and have it try the unload again and it completes the unload and continues the job.  I am sorry for the confusion

[2022-10-17 15:27] pennystockss commented on #239
Oh that's a bummer. I'm trying 3.3 since you said that, to see if it has the bug.

[2022-10-17 15:41] floridaservices commented on #239
ehh, TZB beats the stock firmware any day, stock firmware would require hitting the reset button, unloading/reloading filiment, maybe losing my print in the process.  I'll take hitting the button and having it try again!

[2022-10-18 12:51] EurohellDesign commented on #239
Same thing here. We have about 40 Machines running with TZB Firmware and i could see this issue (and some others) many times, thats really annoying. My solution for now is reverting all machines to 3.3.0 because here this error doesn't occur and there is a way to get the mmu out of the situation not communicating to the einsy any more without losing the entire print.

[2022-10-25 23:04] easonjim commented on #153
hi @TheZeroBeast, Can this selector open source design files? Since my blades are different sizes, I want to modify them for compatibility.