[2019-01-25 19:12] 3d-gussner commented on #92
This may help to figure out what the atmega2560 and marlin are capable on a geared extruder with 1.8 and 0.9 dev stepper https://reprap.org/wiki/Step_rates

[2019-01-25 23:44] TheZeroBeast commented on #90
@madxbgt can you please see if this is noisy for you on idler homing?
I still need to make the home a little harder than previous. I load TPU and homing stops working, thinks the TPU is the end stop.
[MMU2-2.1.8-RC2-BN302.hex.zip](https://github.com/TheZeroBeast/MM-control-01/files/2798265/MMU2-2.1.8-RC2-BN302.hex.zip)

[2019-01-26 00:48] VintageSini commented on #90
Robert,

I was copied on this email and if you would like me to test(I have TPU), please provide the tree number. I'm new to GitHub and still making sense of it's structure. I can see the commits, but have no idea of how to associate that with builds (ie RC2 Build Number 302)

On Friday, January 25, 2019 TheZeroBeast <reply@reply.github.com> wrote:

@madxbgt can you please see if this is noisy for

[2019-01-26 02:27] TheZeroBeast commented on #90
@VintageSini sure can mate, what shore TPU do you have, I have eSun eFlex 88A and it’s proving a pain to reload and push PLA out.

I’ll get RC2 hex out soon you can try with tpu

[2019-01-26 04:08] VintageSini commented on #90
I honestly can't tell you what shore TPU it is because I bought it on clearance at Microcenter and it had no labels on the spool. The box it came in was labeled by Inland as flexible filament and that's all. It is fairly flexible, but prints very well. However, I have not tried it through the MMU. Also, I'm the guy who compiles from source because my exclosure requires a custom value for the Filam

[2019-01-26 13:34] jettoblack opened #103 ""Remove old filament and press the knob", followed by idler hammering endlessly"
I'm using 2.1.8-302 (built myself) and 2386. Using slic3r 1.42.0-alpha3 to slice and Octoprint to print. I am using a BMG-like extruder, but not sure if that has anything to do with this. I was previously using 2.1.5 with no issues.

First 5-color test print went fine, no issues.

Second MMU print started ok, the purge line printed all 5 colors successfully.

However at the first color change, the

[2019-01-26 15:36] jettoblack commented on #103
Now when I turn the printer on, I get the endless idler homing loop at startup. Here’s a video:
https://youtu.be/7PSimWH1dos

[2019-01-26 16:58] jettoblack commented on #103
The idler homes correctly when the top is opened up all the way. I only tighten the tension screws until they are flush, no more. They are definitely not excessively tight, if anything they are looser than I'd normally tighten them for proper behavior in TZB 2.1.5, but in 2.1.8 the idler still gets stuck in a loop trying to home.

[2019-01-27 06:35] TheZeroBeast commented on #101
closing due to lack of response.

[2019-01-27 07:56] wieckowy opened #104 "MMU-MK3 2.1.8-RC2 - Flashing failed"
Hey.
I have a problem with flashing the latest MMU firmware.

I'm getting an error:

![2019-01-27_085533](https://user-images.githubusercontent.com/1842207/51798383-56596b80-2211-11e9-90b2-2f226a13de1e.jpg)

Previous versions are flashing without a problem.

Thank you for your help!
Best regards
Lukasz Wiecek

[2019-01-27 10:39] TheZeroBeast commented on #104
Nice, thanks, fixing now 🤦‍♂️ forgot to add a bit to hex

[2019-01-27 10:41] TheZeroBeast commented on #104
@wieckowy should do it's job now mate 👍

[2019-01-27 10:48] TheZeroBeast commented on #98
@gizzburn I don't see any reason why it wouldn't, just need to make a couple small changes to step amounts.

yes, length settings might need to be changed via cal to still get to fsensor but if it still does just see how you go👍

I am also closing this issue as in official **2.1.8-RC2** I have changed **Jam Detection** to only be enabled when you add **M219 E** to filament start gcode
Nice when yo

[2019-01-27 11:02] TheZeroBeast commented on #103
Hey @jettoblack, nice video, thank you 👍

The first post about the ejected filament is Jam detection which has now changed in the latest release so go check that out too.

Can you try again with the latest commits please, I was mid dev on some sg work on that commit.
If selector or idler stall it will now only do it 3 times before stopping for some human assistance.

[2019-01-27 11:03] TheZeroBeast commented on #58
Hey @raavhimself, can you give the latest release code a try please?

[2019-01-27 15:25] jettoblack commented on #103
Thanks @TheZeroBeast. I made the following changes yesterday, and it seems to have fixed the idler homing problem so far. (Print in progress now.)

TMC2130_SG_THR_HOM_IDL changed to 2 (was 1)
Idler CURRENT_HOMING changed to 50 (was 35)

I haven't looked at your newer build yet but I'll let you know after this print.

However, I'm still getting the false jam detection at a specific spot in the Gcod

[2019-01-27 18:05] MarioWolter opened #105 "Calibrating filament channels separately"
Hi,

I really love your MMU2 firmware! I am able to print quite nicely, however, I have some grinding in the MMU2 pulleys.

I have calibrated bowden length and Sensor to bondtech length according to the readme.
However, if I calibrate the first channel flush to the end of the bowden tube, my fourth channel filament will never reach the filament sensor above the extruder.

This seems to be connecte

[2019-01-28 00:19] TheZeroBeast commented on #105
Hi @MarioWolter,

Glad you've been able to get it mostly working and I will not be adding independent channel calibration sorry. The approach to solve is as you already have done by calibrating just past flush with your tube until the ~35mm sensing ballpark covers all five channels.

Flush covers those with passthrough connectors that end just before FSensor.

[2019-01-28 00:19] TheZeroBeast commented on #103
Hey @jettoblack,

Can you please review the latest release as there are Jam Detection changes that will help.

[2019-01-28 21:00] Phydam commented on #101
updated to RC2 and it's fine. not sure what caused it on RC1.

[2019-01-28 23:43] YoungR0se opened #106 "new firmware, now printer and MMU don't communicate"
I have just upgraded to the latest firmware release, MMU: V#: 2.1.8 RC2 B#: 304 and
MK3: B#: 2386 on both the printer and MMU2.  With only one modification to the printer firmware, I flashed both, printer first, then MMU.  Now the two systems are not communicating properly.  The printer show MMU capabilities in the menu, like load to nozzle etc, but nono of the commands from the printer affect the

[2019-01-29 08:06] TheZeroBeast commented on #106
Must be a bug, please provide log files and gcode for me to progress this investigation when possible.

[2019-01-29 22:46] YoungR0se commented on #106
Hi,
Thanks for taking the time to look into this :) I don't know how to provide gcode, so attached are the firmware files that I used.  The MMU is unaltered, the printer has Z axis increased to 350mm.
In addition to yesterdays info, I reflashed the firmware today while I was preparing this for you.  When I preheated the printer on the screen between 'SD%' and 'time remaining', it says 'F83'.  When

[2019-01-30 01:18] kmshort commented on #45
AbeFM. I'm about to do the extruder sensor mod myself, as posted above. If cutting works as well as you say it does, I'd be interested in a ZeroBeast firmware with cutting in it.

[2019-01-30 16:23] gizzburn opened #107 "Octopi No connect Serial Port"
Robert I have been having problems when using Octoprint to connect to my printer, this only started with the 7x7 addition to the firmware I think.
I have done some testing today with it, first I did a clean install of Octoprint, no change it takes a long while to connect or just does not connect.

I have another printer with the same setup running on the same pi, so I used this with a new clean se

[2019-01-30 17:33] gizzburn commented on #107
Robert update just installed MMU: V#: 2.1.8 RC2 B#: 304
MK3: B#: 2386  and it connects now every time but after 20 to 30 seconds but does connect.

[2019-01-30 19:55] sergiofagundes opened #108 "Help with Calibration"
I have followed the BOWDEN_LENGTH calibration setup, everything goes well till step vi.

With step vii: I press the middle button and the MMU2 unload the filament (and begin to flash a red led).

I press now the left button to save and exit and it doesn't save and exit, it just act like feeding the filament.

Also the Filament mm is get every calibration increasing more and more

[2019-01-31 00:00] sergiofagundes commented on #108
Ops! I have used a LONG bowden tube (about 700mm long). I have cutted it to a 400mm and now the calibration worked perfectly.

Now the question is another, is there any settings to allow for a longer bowden tube in the firmware ?

[2019-02-01 03:13] AbeFM commented on #45
I'm not involved with the project. I asked for an explanation of how it worked and it was never made clear. I would love to hear your experiences in detail, someday.

[2019-02-02 07:18] TheZeroBeast commented on #107
Hi @gizzburn,

I'm pretty sure this isn't anything to do with the changes I have made as I have tested both stock and this fw with the same outcome. If you do find a reason please open an issue with Prusa Firmware so it can be patched for all.

[2019-02-02 07:25] TheZeroBeast commented on #108
Yes, the calibration should allow for a longer tube.
If you're getting red flash on retract after cal then I might have an error in the retract when so much longer. I will investigate and get back to you soon on this.

[2019-02-02 07:34] TheZeroBeast commented on #108
Ok, so I found what is wrong and I'll patch for RC3.

Simple put I'm not unloading the newly calibrated length instead using the old length which if distance increased will never unload enough and fail.

[2019-02-03 12:32] cavotechnology commented on #92
Share @skohls me please compiled firmware for mk3 and mmu2. Thanx

[2019-02-03 23:00] gizzburn opened #109 "Filament"
Hi Robert not sure if this is an issue or not, but I cant get my prints to do the purge lines at the start of the prints, its like the filament is not going far enough in the extruder.
I have done both of the calibrations for the tube and gear setup but its still the same.

I even went back to a earlier version of TZB with the same results. It starts to print but some of the start is missing. no c

[2019-02-05 13:21] sergiofagundes opened #110 "Unload Failure"
I was using "First Layer Cal" and everything goes well, but when it finishes the MMU2 unloads the filament and get a Unload failure message on LCD.

So I press the MMU2 middle button and after the right button to complete the unload, but it only unloads if I force pushing the filament.

When calibrating the MMU2 bowden length the load/unload performs perfectly with no failure, this issue only happ

[2019-02-05 13:35] cavotechnology commented on #110
Me too. I have a Bondtech BMG extruder, pancake engine LDO 0.9.

[2019-02-05 13:56] cavotechnology commented on #92
Please reopen this issue @skohls @TheZeroBeast
I have the same problem with unloading filament. On video (@wieckowy ) from 0:36: https://www.youtube.com/watch?v=iQCajLaaxB8

Prusa I3 MK3
MMU 2
latest firmware 2.1.8 RC2
Bondtech BMG extruder (3:1)
LDO (0.9°) motor
e-steps: 1660

Thanx

[2019-02-05 14:02] skohls commented on #92
@cavotechnology
I'll take a look how to get the files on here. Got the MK3 FW with 16 microstepping for the extruder (needs e-steps set to 830) and the MMU FW with unload speed set to 655 working well together. At least in regards of loads/unloads.

[2019-02-05 14:38] jettoblack commented on #103
So far, so good on 2.1.8-RC2. I haven't been able to reproduce this kind of problem anymore.

[2019-02-05 15:34] skohls commented on #92
So, those are the firmwares I'm currently using. The MK3 firmware includes several changes in regards to the BMG extruder and the 0.9° stepper as outlined by @codiac2600. The MMU firmware has a reduced unload speed. And as I'm no expert - use with caution!
You need to set your e-steps to 830!

https://github.com/skohls/MM-control-01/blob/MMU-FSensor/MM-control-01/MMU2-2.1.8-RC2-BN304_loadspeed655.

[2019-02-07 15:16] cavotechnology commented on #92
@skohls thank you, firmware working perfect!!!

[2019-02-07 17:58] skohls commented on #92
Glad it works. The credit goes to @TheZeroBeast and @codiac2600 and several others tho - I just mixed and matched. Tell me if you get the MMU working with good tips on the filament - I have currently problems with stringing and no time to research via trial & error ;)

[2019-02-08 03:29] eboston opened #111 "OctoPi Not Connecting"
I just installed the latest version of the code and can print find from SD card.  However, OctoPi won't connect.  I saw another closed issue where updating to the latest code fixed their problem.  However, I still cannot get connect using the same version they did.  Is there something that needs to be changed in OctoPrint to get it to work?

Connecting to: /dev/ttyACM0
Changing monitoring state fr

[2019-02-08 07:17] Allram commented on #111
Have the same problem on the 2.1.6 version. I just press the reset button on the printer enough times so that it finally connects. I can't seem to see in the log what Octoprint actually waits on, it has connection to the printer as the logs are showing that.

[2019-02-08 13:42] gizzburn commented on #111
There are a few issues with the same problem being posted on the FB groups, I have been having issues connecting as well, so I think there is something with the 7x7 patch thats affecting the connections.

[2019-02-09 10:05] sergiofagundes opened #112 "Question about motor currents"
What the numbers settings in currents for pulley, selector and idler means ?
In the following codes for example:

// currents for pulley, selector and idler
#define CURRENT_HOLDING_STEALTH        { 1,  7, 16}
#define CURRENT_HOLDING_NORMAL         { 1, 10, 10}
#define CURRENT_HOLDING_NORMAL_LOADING { 1, 10, 40}
#define CURRENT_RUNNING_STEALTH        {30, 35, 35}
#define CURRENT_RUNNING_NORMAL

[2019-02-09 10:12] sergiofagundes commented on #110
I have got a sucessfull unload after I fine tune the MMU2 springs screws. But it only works when using just 1 filament (in any position 1-5). If I have more filament loaded the unload fails. Looks like the idler doesn't get well aligned when there is 2 or more filaments loaded.

Maybe I need to increase the TMC2130_SG_THR_IDL ?

[2019-02-09 13:15] sergiofagundes commented on #110
Again, after I fine tuning the bowden length and bondtech length (because I played with the MMU2 tensioner springs) it working better now with all filaments loaded.

So investigating more on this, I found the the tip of filament on unloading is the cause of the issue of Unload failures.

Now I need to get a way to get the filament tip out more uniform to fix this issue. Any tips?

[2019-02-10 23:24] sergiofagundes opened #113 "Help with Slic3r Toolchange with Single extruder MM printers"
I'm using a hotend (not a full metal hotend) but a heatbreak with a ptfe tube (4.2mm/1.9mm) all through it.

What's the best settings for the toolchange parameters and Ramming settings to get a better filament tip on unload?

[2019-02-11 06:09] adlamy commented on #113
I don't think this is the best place to ask this kind of question, see https://shop.prusa3d.com/forum/original-prusa-i3-mk2-5-mk3-multi-material-2-0-f52/?sid=b1d79aae6942f9392d2f8644f2b5b123

[2019-02-11 10:24] TheZeroBeast commented on #112
the current amount used to drive the motors at different times.

[2019-02-11 10:27] TheZeroBeast commented on #110
May be a bug I have overlooked in the cal. Printing wouldn't be affected.

[2019-02-11 10:29] TheZeroBeast commented on #109
Yep, you found it but Slic3r loves to stuff up and do default on a channel sometimes which stuffs the load/unload on that channel for the gcode.

[2019-02-11 10:31] TheZeroBeast commented on #111
Still no sign that this is anything on my code changes. If anyone has evidence and logs to say otherwise I will revisit. Closing for now.

[2019-02-11 10:34] TheZeroBeast commented on #113
Please ask in the forum, there may be someone that could assist.
I personally don't think it's a good idea as the full metal heatbreak is used for cooling. PTFE will deform in a matter of changes with molten plastic on it.
This is what happens to the 1.85mm customer PTFE in the MMU2 hotend when unload happens premature to proper cooling.

[2019-02-11 13:49] sergiofagundes commented on #112
Hi, how to set for example a pulley stepper for a 500mA ? How these numbers are related to the mA ?

I have made a research in the tmc2130.c file and noted the bellow:
* @param current_h: hold current 0...63 (15mA...960mA RMS, @ R_sens = 0.22 Ohm)

So currents have a window of 15-960mA, and each number (from 64 in total) represents 15mA, if I use 33 I get 495mA, is this right ?

Thank you

[2019-02-11 14:03] sergiofagundes commented on #110
Finally I got my first prints sucessfully. I have change the bondtech length  (not in the middle of the gears) but just a little above the middle of the gears.

[2019-02-11 21:31] AbeFM commented on #45
I would like to keep this thread on topic - using the original blade to cut filament which doesn't load.

I still find filament misloads at times, and the MMU is hung at a point where I would otherwise find the cutter to have been used and the print to still be running. Still not pressing, but still true.

[2019-02-11 21:35] AbeFM opened #114 "Suggestion: Blob Detection"
When rewinding filament during a change,. I find (with JLTX's cool selector part) I can see the blobs go by. In fact, you can see the ball drop for the string, then rise again as the blob passes.

Perhaps with a blade, a cut could be made, or a count could be made of blobs seen.

I'm not 100% sure what it's useful for, but I bet it's something you could keep track of.

[2019-02-11 21:44] YoungR0se commented on #106
Yo, it's been two weeks.  Anything changed?  Bug fixed?  I've kept an eye on the page but no new files have been added, the most recent was 16 days ago.

P.S. I just found your page about The Frog, I will definitely look into putting it on my printer.  Apologies for sounding impatient above, but someone is ridding me to get the printer working reliably.

[2019-02-11 22:55] TheZeroBeast commented on #106
Hi @youngr0se,

I had a quick look at your provided files last night and couldn’t find any smoking gun.

There’s no obvious reason why communications wouldn’t be working, please check your hardware.

[2019-02-12 00:25] YoungR0se commented on #106
Ok, thanks for the info

[2019-02-13 20:46] gizzburn opened #115 "Prusa Mk3s Updates"
Hi Robert does the updates from Prusa with the new sensor create any problems for us using your firmware or will you tweak the firmware once it becomes known about the changes, Just curious about thi new sensor they have come up with, I presume you also will get the update having a MMU2.

[2019-02-21 22:56] AbeFM opened #116 "Briefly Excited...Then No."
So who else thought the announced Prusa filament sensor would be monitoring the idler door?

It sure seems using something akin to what we're using now for firmware and a sensor on the idler would allow you to shoot filament towards the preemptively running extruder gears, and when they kick open,  you know you have the tip, and how far in you're already gone.

I think it's been discussed already.

[2019-02-21 22:58] AbeFM commented on #106
Not sure if you've figured it out, but have you checked that your sensor is seeing your filament reliably? Certainly that was an issue that had caused similar behavior in the past for me.

[2019-02-21 23:00] AbeFM commented on #110
Sounds like this issue could close...

[2019-02-22 12:04] sergiofagundes commented on #115
I'm curious too about this new MK3S extruder body and sensor and if it will work with TZB firmware.

Can't wait to use the new extruder, looking on how it works it looks much better than the old one.

[2019-02-22 18:18] AbeFM commented on #115
I've been using the Skelestruder with indirect sensor with some luck. I'm
having more trouble tuning my tips than I did before, trying to prove that
it works before I get to the latest ZB firmware... I'm pretty close to
there and don't have a feeling for how stable the current stuff is.

                  Thanks!
                          -Abe.
Sent from my "smart"phone, please excuse brevity and

[2019-02-28 05:33] Mjankor commented on #116
There's actually some interesting possibilities here. The sensor cable goes to a 5 pin plug at the einsy, which I'm defining as pin 1 on the left, and pin 5 on the right.

The on/off sensor uses power lines (pins 4 and 5), and pin 1 for sensing (based on cable colours).

The older movement activated sensor uses pins 4 and 5 for power, and pins 2 and 3 for comms.

This means that using my extruder

[2019-02-28 19:08] AbeFM commented on #116
When everything's tuned perfectly, the machine will run blind. But I think
that would be a valuable piece of info. At least there's one less variable
involved.

Similarly, I think of could watch the MMU's sensor to look for blobs. You
can see the ball fall at the string, then rise again for the blob. I'd
rather know about it and stop then push it into the tube to cause a skipped
layer later.

[2019-03-20 20:03] AbeFM opened #117 "Project Status?"
TL;RD: Abe thought everything was broken, but he's the only one. Try the current code!

Howdy!
It's been a while since I've experimented with the latest build - I've been using:
Printer: 5.0.4-2330
MMU2: 2.1.5-260

I'd been sticking with these as I'd seen issues with the more current stuff stopping in the middle of the print. I'd been waiting for the next "stable" release to use as a permanent sol

[2019-03-24 06:27] TheZeroBeast commented on #117
There is no reports my latest version is stopping midpoint so I don't understand why you insist on running an outdated version.

I am looking into merging the latest PR firmware with upgrades from my code as I see fit.

If you or anyone else has had experience with the 'S' upgrades and the latest PR firmwares please advise as I haven't personally used them.

[2019-03-24 06:30] TheZeroBeast commented on #115
Hi @gizzburn,

If anyone upgrades to the 'S' sensor then this firmware currently will stop functioning.
I have been thinking on what direction I should take for the future and I most likely will use the latest PR firmwares as a base and pull in some desired features from mine.

[2019-03-24 09:51] TheZeroBeast commented on #108
Hi @sergiofagundes, this bug is fixed in new release

[2019-03-24 11:52] gizzburn commented on #117
@Robert
My Printer is working just fine at the moment, I have a Bondtech extruder still in the box and have not got my Mk3s upgrades from Prusa yet so not in a rush to change anything at the moment.
I like the way your thinking of going with the firmware idea so can wait till you get it sorted before I change anything.
I have no problems with your latest version its been very stable for me, not ha

[2019-03-25 22:54] AbeFM commented on #117
Good! I'm happy to be wrong about things. I was having some sensor issues around the time your new firmware came out, I haven't tried updating it. The Skelestruder introduced more modifications (some of those have been updated out) so really, when my replacement parts show up I'm anxious to try this again!

Again, thanks to everyone for letting me know I'm off base on this the-firmware's-broken th

[2019-04-05 19:40] AbeFM opened #118 "3.7 FW porting"
I finally got my hardware all fixed, and put on the OEM firmware (3.7.0 release, the latest), and OMG I forgot how slow and frustrating it is.

While I have to say it's pretty awesome that it still prints once hairs plug the sensors up, since it doesn't use them..... It's not as good as my ZBFW where I could eliminate grinding consistently.

Is a merge/port forthcoming? I would welcome one. I'd li

[2019-04-10 06:17] TheZeroBeast commented on #118
Hi AbeFM,

They are too far apart for any easy merge which is why it's still coming.

I too tried the 3.7.0 release and the MMU2 code is even slower than when MMU2 was first released, it wasn't a nice experience.

Hopefully Prusa will ship my MMU2S upgrade this year and I can work on having something setup for that config. Even though it doesn't look reliable imho.

[2019-04-10 20:02] AbeFM commented on #118
Thanks for getting back - I'll continue to hold out hope. :-)

I'm still not sure if they are measuring the idler door position or not. One 'press release' said it was being used, but that's all I've found.

[2019-04-10 22:37] AbeFM commented on #118
I saw the latest release, but have to modify printer code for my extruder. Do you have the mk3 source to compliment the mm-control-01-2.1.8 just released?

[2019-04-10 22:38] TheZeroBeast commented on #118
Same code as RC2 man 👍👌 as in for the MK3

[2019-04-10 22:43] AbeFM commented on #118
You mean https://github.com/TheZeroBeast/Prusa-Firmware/archive/5.0.3.zip which came from the (current) top of https://github.com/TheZeroBeast/Prusa-Firmware/releases ?

Knowing what goes with what is always a challenge.

[2019-04-11 20:23] TheZeroBeast commented on #118
The MK3 FW hasn’t changed on the 2.1.8 release, you can keep your current modded install and just update your mmu2 code.

[2019-04-12 18:20] AbeFM commented on #118
The last thing I have has this:
#define FW_VERSION "5.0.4-AbeSkele"
#define FW_COMMIT_NR   2330

[2019-04-12 18:22] AbeFM commented on #118
Latest stable versions & link to RELEASES for Precompiled HEX files.
MMU: V#: 2.1.8 RC2	B#: 304
MK3: B#: 2386

https://github.com/TheZeroBeast/MM-control-01/releases

Right there at the top of the ReadMe.

[2019-04-13 23:47] YoungR0se opened #119 "Question about MK3S IR sensor"
Hi,
Are you going to make a subsidiary ZeroBeast firmware that supports Prusa's latest IR filament sensor?
I ask only because I'm curious whether their new sensor is actually an improvement, but I can't compile Prusa's MK3S firmware.  If you have support for the IR sensor in the pipeline, I'll wait for it, otherwise I'm going to shelve Prusa's new design and go back the using MK3 (no S) ZeroBeast

[2019-04-23 07:51] TheZeroBeast commented on #119
Hi @YoungR0se
In standard PRUSA fashion when I ordered my MMU2s upgrade in the first few hours of being live I'm still waiting for shipping. Last week I was advised that it'll be mid-may before it'll ship.

You ask it the sensor is better, in my opinion it is a massive step backward as we loose any way to sense for jams conditions. I have heard from a couple people that the IR sensor isn't foolpro

[2019-04-25 17:52] AbeFM commented on #119
I'd really like to see BOTH sensors used. There are ports, wires,
everything needed to do it. Retain the sensor for the filaments it sees,
turn it off (or use indirect) for the ones it doesn't, but taking advantage
of knowing when the filament reached the extruder seems like a win? If
their set up is unreliable, well, can you be surprised? It SHOULD be
possible to make it well.

Also, try hassling

[2019-05-21 20:10] AbeFM commented on #118
So yeah, I got the new hardware from Prusa installed, and running their
latest firmware and software.

It's as shitty as it used to be - slow, unreliable, etc.

But it's all made up for by reading the state of the idler - admittedly,
I've only done two prints so far, but it works! I really miss all the fast
moves, responsiveness, etc from the earlier ZB firmware. And I'd love to
get rid of the pri

[2019-07-17 16:28] AbeFM opened #120 "How are people liking Prusa FW?"
I am sitting here, by my printer, because for the 5th time in a row, it's happily printing away with both of the filament sensors reading "empty". It didn't bother to load the filament, because it didn't bother to check if the extruder IR sensor was off before feeding filament.
It didn't care that before the filament sensor in the MMU triggered, it had already magically "arrived" in the extruder.

[2019-07-17 17:49] jettoblack commented on #120
I just recently switched from TZB to a mostly stock MK3S/MMU2S setup, and from a BMG-like extruder to a hybrid of the MK3S R4 extruder with Bear X-axis ends and Bunny Science gearbox for MK3S R4 extruder. The reason for the hardware change is that taking apart the BMG extruder to clear a jam required a near complete hotend disassembly, while the MK3S extruder is relatively easy to take the motor a

[2019-07-18 12:13] TheZeroBeast commented on #120
Hey Guys,

I've been using the MMU2S FW for a month now to evaluate and for the most part it works but they are a long way from where I was with this FW in regards to MMU2 use.

I have less than no time and it keeps getting re-allocated to other projects and until PRUSA decide to accept and recognise community efforts such as this we'll always be left behind.

My idea if time or assistance was fou

[2019-07-18 21:19] AbeFM commented on #120
I completely understand and agree. While the community at large will have a huge condemning hissy fit if you say it outload, Prusa has not demonstrated an openness to contributions - so much so that if someone shows them a fix, they may steal it, but in not working with those who bring it up, they often miss the mark and release something poorly thought out and only tested by one guy. One guy test

[2019-08-13 15:18] lmyvgta commented on #119
Hi! Will you make an update for mk3s/mmu2s?

[2019-08-16 13:34] TheZeroBeast commented on #119
Hi @lmyvgta, I'm still finding the time to progress but still plan to bring new features to the code from PRUSA Repo.

[2019-08-17 01:47] lmyvgta commented on #119
Thanks I'll be waiting!

[2019-08-17 11:47] gizzburn commented on #119
Me too 👍🏻

On Sat, 17 Aug 2019 at 02:47, lmyvgta <notifications@github.com> wrote:

[2019-08-20 10:54] dvisser-zz opened #121 "Are you back Mr TheZeroBeast??"
Does this mean you are back and are adding support for all the latest hardware from Prusa, plus their current features and then more of your own?

This is epic if it is true!

Welcome back TheZeroBeast!

[2019-08-20 10:56] TheZeroBeast commented on #121
It sure does @dvisser,

I'm sick of the painful PRUSA FW and have a little time to work some magic.

**EPIC!!!!**

[2019-08-20 10:57] TheZeroBeast commented on #31
stale.

[2019-08-20 10:57] #31 closed, assigned to nobody

[2019-08-20 10:58] TheZeroBeast commented on #45
Still not a good feature to have IMHO.

[2019-08-20 10:58] #45 closed, assigned to nobody

[2019-08-20 10:58] TheZeroBeast commented on #58
How goes your frog my friend?

[2019-08-20 11:00] TheZeroBeast commented on #106
Stale. Closing

[2019-08-20 11:00] TheZeroBeast commented on #112
Stale. Closing

[2019-08-20 11:01] dvisser-zz commented on #121
I am sure you have some "surprises" up your sleeve! Welcome back!

[2019-08-20 11:01] TheZeroBeast commented on #114
Stale. Closing. Not on my wish list at present, we'll see if still required in 6months.

[2019-08-20 11:02] TheZeroBeast commented on #118
Working on adding new features and supporting MK3S-MMU2S machine.

[2019-08-20 11:03] TheZeroBeast commented on #119
Working on adding new features and supporting MK3S-MMU2S machine.

[2019-08-20 11:03] TheZeroBeast commented on #120
Stale. Closing

[2019-08-20 11:04] #58 closed, assigned to nobody

[2019-08-20 11:58] #96 closed, assigned to nobody

[2019-08-20 11:58] #97 closed, assigned to nobody

[2019-08-20 11:58] #98 closed, assigned to nobody

[2019-08-20 11:58] #99 closed, assigned to nobody

[2019-08-20 11:58] #100 closed, assigned to nobody

[2019-08-20 11:58] #101 closed, assigned to nobody

[2019-08-20 11:58] #103 closed, assigned to nobody

[2019-08-20 11:58] #104 closed, assigned to nobody

[2019-08-20 11:58] #105 closed, assigned to nobody

[2019-08-20 11:58] #106 closed, assigned to nobody

[2019-08-20 11:58] #107 closed, assigned to nobody

[2019-08-20 11:58] #108 closed, assigned to TheZeroBeast

[2019-08-20 11:58] #109 closed, assigned to nobody

[2019-08-20 11:58] #110 closed, assigned to nobody

[2019-08-20 11:58] #111 closed, assigned to nobody

[2019-08-20 11:58] #112 closed, assigned to nobody

[2019-08-20 11:58] #113 closed, assigned to nobody

[2019-08-20 11:58] #114 closed, assigned to nobody

[2019-08-20 11:58] #115 closed, assigned to nobody

[2019-08-20 11:58] #116 closed, assigned to nobody

[2019-08-20 11:58] #117 closed, assigned to nobody

[2019-08-20 11:58] #118 closed, assigned to nobody

[2019-08-20 11:58] #119 closed, assigned to nobody

[2019-08-20 11:58] #120 closed, assigned to nobody

[2019-08-20 11:59] #94 closed, assigned to nobody

[2019-08-20 16:38] TheZeroBeast commented on #121
Thank you @dvisser, many sleeves indeed....

[2019-08-20 17:53] AbeFM commented on #118
That's excellent to see this may get some clean up. I think it's less a matter of adding new "features" and more an issue of fixing glaring bugs. :-)

[2019-08-20 17:57] AbeFM commented on #121
I, too, am super excited about this. While my new Zen approach of "just
live with what Prusa gives you" has been working, it eats at my soul. :-)

On Tue, Aug 20, 2019 at 9:38 AM TheZeroBeast <notifications@github.com>
wrote:

[2019-08-23 06:13] Mjankor commented on #121
What changes are you considering? Anything special with regard to sensors?

[2019-08-23 17:01] AbeFM commented on #121
Certainly things like "if the tube was 300 mm last time, and it doesn't load, we should feed 4 meters this time" are annoying. :-)

Similarly, if "waiting" for the door to trigger happens in < 1 mm from the MMU's sensor triggering, it's an error, not a sign of a proper load.

In general, any time the tube length comes back more than 50% different than it was last time, probably it's a sensor error

[2019-08-24 01:52] TheZeroBeast commented on #121
@Mjankor,
First I will be making my FW compatible with MK3S/MMU2S hardware then improving where I see fit. Previous benefits as mentioned by @AbeFM and more will be available when I release.

[2019-08-26 06:30] Mjankor commented on #121
Thoughts on jam detection?

[2019-08-26 10:50] raavhimself commented on #58
Hi Zero!!
The frog runs pretty well, I mean, it works as it should. I ran into a
phase of bad sensor readings that ended when I changed the sensor again
(and that makes the fifth time) but I am pretty happy with the device. From
what I have heard from a girl that has two printers, the frog works much
better than the MK3S, but I haven't installed PRUSA's device so I don´t
know first hand. I printed

[2019-08-26 11:33] TheZeroBeast commented on #121
My last FW Release had very stable jam detection although I haven’t started adding back the laser sensor it’s a good option to have best of both worlds. See how dev goes with that in the future.
@mjankor, are you having a lot of jamming with the stock MK3S FW?

[2019-08-26 12:22] Mjankor commented on #121
I'm still running the old 2.1.8 firmware, with a Mk3/Mk3s hybrid extruder (where I can choose to mount either the new IR sensor in the tower, or the old Mk3 sensor in the top-plate). I'm currently using the Mk3 sensor in indirect sensing mode (with bearing).

[2019-08-26 18:56] AbeFM commented on #121
I think I'd run something like that, as well, if the sensor were supported.

I am using a taller tower for the IR trigger, and I highly recommend it. It is just too hard to get a reliable signal out of multiple filament types with the flag moving <1 mm.

I am having few jams, but I often get issues where the Bondtech's don't release the filament and the MMU just keeps yanking on it for no reason -

[2019-08-31 14:51] kajsilander78 commented on #121
Is the MK3S/MMU2S version functional yet? Could not find any binaries... Just got the printer and have attached the MMU2S but cant stand the steps skipping during homing with original fw.....

[2019-08-31 22:12] TheZeroBeast commented on #121
Hi @kajsilander78,

Not as yet but I'm making progress, I'll have a release when it's ready for more robust testing 👍
I also can't wait to have my smooth roller back.

[2019-09-04 03:34] sozoalvin opened #122 "finda to extruder laser sensor"
hello, i read with great interest that you managed to have configure finda probe together with extruder's laser sensor.

Which file will i be able to see the changes at? Also, as such, there shouldn't be a need to calibrate bowden lengths right? i.e. mmu2 can be set to infinite filament loading until IR on extruder is triggered.

Is my understanding correct?

[2019-09-04 07:34] Mjankor commented on #121
How feasible is it to add in jam detection using a MK3 sensor mounted in between the two IR sensors (door and Finda)?

Hardware-wise it should not be that challenging. I've already got an extruder than can mount both sensors, and they use different sensor/control pins at the Einsy.

I'm not expecting this to be a viable approach, but I'm still interested in how feasible it would be.

[2019-09-04 16:12] AbeFM commented on #121
My feeling has been replace the upper sensor with the mouse sensor, when
the ball goes up you can see it....

When the machine boots I have to press three or four buttons on the MMU to
get it to load filament. Since the head moves around, it may load the wrong
channel. If that channel is empty you can come back fifteen minutes later
to find it suck, still feeding the empty channel and ignoring use

[2019-09-04 21:13] TheZeroBeast commented on #121
@Mjankor,

It’lol come down to how well it can be incorporated in code but hardware wise it’s just one extra cable to the extruder and a slight redesign of the extruder to house both sensors. I’d probably still go direct to limit part count and resistance on the filament.

@AbeFM, sounds like you’re enjoying the stock firmware ;-)

[2019-09-04 21:19] TheZeroBeast commented on #122
Hey,

You can read up on my MK3:MMU2 changes here. It still required you to set the Bowden length on one channel for a ballpark so that the majority of the load could be done fast instead of loading slow the entire way waiting for it at the laser sensor.
https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/releases/tag/2.1.8

This will be the same approach I take for the MK3S:MMU2S, although now it’

[2019-09-04 23:16] AbeFM commented on #121
Really I just need to improve the tall sensor mount. It's a huge
improvement but needs a screw adjust.

                  Thanks!
                          -Abe.
Sent from my "smart"phone, please excuse brevity and Swype-oes

On Wed, Sep 4, 2019, 2:13 PM TheZeroBeast <notifications@github.com> wrote:

[2019-09-05 01:35] Mjankor commented on #121
Yeah, extruder design is pretty well done (though I might just take a look at the Pinda Mount to see if it can be moved away from the hot zone a bit. I've been seeing a lot of reports of PETG extruders warping).
https://www.thingiverse.com/thing:3431164

[2019-09-06 13:22] TheZeroBeast commented on #122
Please have a look at the latest release, once stable I'll be looking into further improvements like possibly added the laser sensor back in to assist with Jam detection.

[2019-09-06 13:22] #122 closed, assigned to nobody

[2019-09-06 13:25] TheZeroBeast commented on #121
Please have a look at the latest release. Nice extruder design @Mjankor, check out my TOWER ELIMINATOR! referenced on the release page, it's such a great reliable solution to the silly tower.

[2019-09-06 13:25] #121 closed, assigned to nobody

[2019-09-06 21:54] AbeFM commented on #121
Heh, I was JUST drawing up a taller tower extruder cover. I have been using one for months and it is GREAT but the particular design needs a lot of work for adjustability and fit.

It seems like if you moved your pivot point down on the sensor flag you could increase your motion ratio? Do you have issues with, for instance, NinjaFlex and PLA in the same print? I have found the ~1:1 motion ratio se

[2019-09-07 14:33] sozoalvin opened #123 "mk3s+MMU2"
hello, i read the new release and seems like your latest mmu2 firmware is to work with MK3S's.

If i understand correctly, prusa's MK3s firmware already allows the FINDA to feed directly to IR sensor at the top of the extruder. May i know what is the difference in your MMU2 firmware as well as your MK3s firmware? (sorry if i missed them. hope for your forgiveness and advice)

[2019-09-08 02:08] TheZeroBeast commented on #123
Hey, checkout the releases page for differences.
The best way to see the difference is load and see, you won't be disappointed.
https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/releases

[2019-09-08 02:08] #123 closed, assigned to nobody

[2019-09-08 19:13] AbeFM commented on #123
Probably tomorrow. Can't wait to try it. Developing new hardware and wanted to see it work once on stock firmware before I change.

[2019-09-10 18:29] AbeFM opened #129 "Filament Tube Calibration Broken"
Every time I run the calibration routine, the selector is on Ch0, the idler cam is on Ch1, so the filament comes out NEXT to the tube.

I adjusted the length anyway, and when I press the middle button to 'save', it instead rehomes selector (would get caught on filament sticking a foot out of the machine but I have no blade and was using TPU), goes back to position CH0, then feeds out another few i

[2019-09-10 18:42] AbeFM opened #130 "Heated Bed Rapid Clicking"
Not sure how big an issue it is, but I hear the heated bed clicking rapidly (~5 hz?). It's not very loud but sitting near printer you definitely know it is happening.

I suspect it is louder than more recent stock firmware but it could be in my head. Not sure if there's meaningful data I can provide but if there's a test worth running let me know and I will.

[2019-09-10 19:01] AbeFM opened #131 "Loading during print doesn't work"
My first print with new FW seemed to load filament wrongly - not quite sure what's going on but it seems tangled up in extruder (door moves more than normal, and I only get dribble from the nozzle and clicking at extruder).

Using "load to nozzle" from the menu behaves as expected and loads without issue.

Also, the loading is VERY slow! It's slow till the end of the tube. Perhaps this is 'silent

[2019-09-10 19:29] AbeFM commented on #131
It's possible this is from poorly executed tube length calibration. Still looking at it. I got it to fail on a 'load to nozzle'.

I fear I have a few mm more distance from end-of-tube to extruder gears. Given the differences in extruders, I'd suggest changing the calibration to be back to the gears - or at least express it in the ReadMe as calibrating XX mm before the gears.

[2019-09-10 20:04] AbeFM commented on #131
Sorry for the poorly explored bug reports.

By adjusting sensors I've had more luck. Load speed is much better out of Stealth mode. I will continue to compare loading in both modes later - right now I think I have it loading and am doing a brief test print.

[2019-09-10 22:34] AbeFM commented on #131
![image](https://user-images.githubusercontent.com/42385/64655195-58f38480-d3e0-11e9-9f67-be3ee3b30461.png)

Not sure how this is happening. Somehow it wasn't loading one channel, but didn't notice and kept right on printing. I paused print, manually loaded once, then it worked and worked from then on for a few cycles until I stopped print.

The next print failed to load on first load. I'm not sur

[2019-09-11 00:19] TheZeroBeast commented on #131
As per instruction you must have calibration to the end of Bowden or you'll get extruder grinding.
RC2 which is coming soon improves the load sequence as RC1 was a starting point. Please re-review when RC2 is released.

[2019-09-11 00:19] #131 closed, assigned to nobody

[2019-09-11 00:22] TheZeroBeast commented on #130
There will always be an associated noise when switching at 30Hz and due to poor PRUSA/Marlin code that calculates or more accurately doesn't calculate PID correctly you'll have strange small full on and off oscillations. You can minimise this for now by doing a 70c bed PID cal and updating your PIDs. I plan to redo the bed PID in the near future.

The low 30Hz is due to poor EINSY Board design as

[2019-09-11 00:22] #130 closed, assigned to nobody

[2019-09-11 00:25] TheZeroBeast commented on #129
Note, never use TPU/TPE or any other flexible filament for tube length calibration.

I've made a lot of changes to make the setup menu and Bowden cal work as it had some bugs from old. Please re-review when RC2 comes out.

Yes, much time will be saved by all, exciting to have this almost working on the MK3S.

[2019-09-11 16:39] AbeFM commented on #131
"At the end of the tube" can be over- or under-estimated due to finite step size. And since since extruders have the tube end in differing locations relative to extruder gears I was looking for something more exact "ten mm from gears", or similar.

[2019-09-11 16:42] AbeFM commented on #130
is it the same as Prusa's bed code?

I know some iterations they were wrecking hardware - I wanted to make sure
the clicking isn't that.

                  Thanks!
                          -Abe.
Sent from my "smart"phone, please excuse brevity and Swype-oes

On Tue, Sep 10, 2019, 5:22 PM TheZeroBeast <notifications@github.com> wrote:

[2019-09-11 16:43] AbeFM commented on #129
Glad to see it!

Yes, I used PLA for the calibration. :-)

It seemed buggy, first few times it was weird, but then seemed to work fine.

Looking forward to next release.

                  Thanks!
                          -Abe.
Sent from my "smart"phone, please excuse brevity and Swype-oes

On Tue, Sep 10, 2019, 5:25 PM TheZeroBeast <notifications@github.com> wrote:

[2019-09-12 08:01] TheZeroBeast commented on #129
Yep, RC1 was a starting point, a lot had changed in the PRUSA MK3 firmware from the version I was using previously.

[2019-09-12 11:59] TheZeroBeast commented on #130
No it's not the same, and they were wrecking hardware due to switching faster than the board MOSFET was setup to handle. I'm switching at the same 30Hz rate as their code so not issue.

Just double checked the bed with my scope to cheack, spot on.

![TEK0000 (2)](https://user-images.githubusercontent.com/20939095/64782385-63f91100-d5a8-11e9-87b8-220f9dfab6df.jpg)

[2019-09-12 12:29] TheZeroBeast commented on #129
RC2 is out, please review this error.

[2019-09-12 12:29] #129 closed, assigned to nobody

[2019-09-12 12:30] TheZeroBeast commented on #131
absolutely no need to be precise, just about the end of the tube.

[2019-09-12 17:42] AbeFM commented on #130
Thanks for caring about the details!

[2019-09-12 22:19] AbeFM opened #132 "MMU 3.0.0RC2 Hex doesn't upload"
Prusa's slicer doesn't see the MMU2 code as MMU2, I believe. Ordinarily, it displays "auto" for com port but when I load this hex it does not.

[2019-09-12 23:50] AbeFM opened #133 "3.0.0RC1 - loses coms on reset"
During a print, something went wrong and I reset the MMU. It's possible that the filament was down the tube but neither bunched against nor taken into the extruder - but I am uncertain.

I pulled back filament, reset MMU, and nothing happened. After I ran the pre-load a couple times, and left and right just moved selector, I resumed print, and head went to purge block and just sat.

Pause print, m

[2019-09-12 23:51] AbeFM commented on #132
Aside from the report, any advice on loading RC2 onto the MMU would be appreciated, perhaps I'm missing something?

[2019-09-12 23:57] AbeFM commented on #132
I'm missing "; device = mm-control" as mentioned in the readme. It'd still be nice if it were in the release.

[2019-09-13 01:00] TheZeroBeast commented on #132
Yes, normally is 🤦‍♂️ don't release at midnight 😅 fixing now

[2019-09-13 01:00] #132 closed, assigned to nobody

[2019-09-13 01:03] AbeFM opened #134 "RC2 - weird loading/unloading on start"
Start a print with selector in position (in my case, 2 or 5).
Begin print. Printer loads filament in that position, if successful, it unloads, homes, MBL, then loads first filament.

[2019-09-13 01:20] TheZeroBeast commented on #134
Fixed, inadvertently made a FINDA bug fixing the last one before release, just fixed on the release page mate 👍

[2019-09-13 01:20] #134 closed, assigned to nobody

[2019-09-13 01:23] TheZeroBeast commented on #133
Once your MMU2S is reset it will lose comms for sure.

So, RC1 code on this. Try RC2 and report back please.

[2019-09-13 01:48] habitforming11 opened #135 "MK2.5S:MMU2S Configuration"
Please consider a MK2.5S compatible variant of the lastest TZB MMU2s firmware.  Unfortunately my technical ability in coding is nearly zero, but I will be happy to support through detailed testing.

[2019-09-13 08:44] TheZeroBeast commented on #135
Hey mate, I'll try have a look this weekend and hack together a starting point for you to flash and try.
What language do you prefer for the build?

[2019-09-13 15:35] habitforming11 commented on #135
Very much appreciated!  English, please.

I just found that Prusa failed to send the mk2.5 IR sensor cable in my kit, so I won't have a printer ready to use for a few more days.

[2019-09-13 16:51] AbeFM opened #136 "TPU loading WAY too slow"
The old speed worked just fine for me, without issue. The heatbreak jam thing is cool but so far only false triggers.

Out of ~30 load attempts, maybe 2 worked. I got a LOT of heatbreak jam detected, and a fair amount of filament sticking out the side of the extruder.

I went back to RC1 and things worked again. I feel the heatbreak jam detection is too aggresive, or the check (I assume it trigger

[2019-09-13 16:52] AbeFM commented on #133
I have been unable to get RC2 to load filament. I could try with PLA, it might work.

[2019-09-13 17:17] AbeFM opened #137 "Enhancement: Preheat to Last Used Temperatures"
When Pause Print is selected, the printer sets the nozzle temperature to 0.

Most of the time Pause is selected, it is to work on something. Since the head lifts, I suggest there is no harm in leaving the nozzle heated for ~1-2 minutes, if there are no interactions.

Also:
I'm printing at, for instance, 220/50. I have a plethora of options to preheat to, but as none of them are the temps I'm using

[2019-09-14 04:31] TheZeroBeast commented on #137
Sorry @AbeFM, I'm not got to update the preheat options although you're welcome to adjust them yourself and rebuild, easy as.

As for the pause routine I'm also not interested in changing it from stock so feel free to fork and make it how you want 👍

[2019-09-14 04:36] TheZeroBeast commented on #136
what TPU hardness are you using?

I'll be trying hard TPU later today so I'll see how much I can adjust the speeds. My previous 87a TPU needed to be loaded that slow to give it time to expand down the Bowden tube. I'm thinking it's just too soft for a MMU setup though.

Jam detection I'll review once I try TPU, it's a basic 60mm past bondtech, 52mm back and if it no longer has a hold of the filame

[2019-09-14 04:48] TheZeroBeast commented on #135
English, can do.
Ah, damn, no problem. Will be interesting 👍

[2019-09-14 13:06] TheZeroBeast commented on #136
Hi @AbeFM,

I've done a few successful TPU print this afternoon, I did double the load/unload speed as it could be with the hardware TPU, I've also adjusted the load period for this type so it actually makes it to the bondtech gears, try loads now.

[TZB-TPU-Tweaks.zip](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/files/3612723/TZB-TPU-Tweaks.zip)

[2019-09-14 21:34] iflawdya opened #138 "Original Prusa MMU 2.0 control device could not be found"
Had TZB RC1 installed with no problems. Just updated to RC2 starting with the MK3s first. No problems. Went to do the MMU2s and got the error Original Prusa MMU 2.0 control device could not be found. When I bring up the configuration tool and plug in the usb to mmu it scans and Arduino Leonardo is what comes up in serial port. Also I just noticed that when I flashed to RC2 it shows the mmu2 as N/A

[2019-09-15 02:39] TheZeroBeast commented on #138
Hey,

Try re-download RC2 and always ensure you’ve just reset the mmu2s before flashing as it has a 5s flashing window.

[2019-09-15 02:53] iflawdya commented on #138
Strange but it worked. I had to reset as I was flashing firmware for mmu2s.

[2019-09-15 02:55] TheZeroBeast commented on #138
Yeah, just how they’ve setup the bootloader. Reset MK3S also resets MMU2S btw. If you were resetting the mmu2s itself

[2019-09-15 02:55] #138 closed, assigned to nobody

[2019-09-15 11:13] fredmz01 opened #139 "bondtech and bear"
hello, simple precision, the firmware is it compatible with an extruder Bondtech MK3S and a frame Bear? thank you very much

[2019-09-15 12:16] TheZeroBeast commented on #139
Hey mate, it’s never been tested on such. What changes does the bondtech introduce to the stock PRUSA firmware?

[2019-09-15 13:35] fredmz01 commented on #139
just change the e-step, so normally it should work

[2019-09-15 20:11] AbeFM commented on #136
I tried those, had nothing but failures. I always get heatbreak jam, in fact, it seemed to be more jam prone as I would occasionally have filament halfway down the heatbreak where JUST touching it would get it through.

I could "load to nozzle" without issue, repeatably, but when actually printing it was always failure.

Of note: The last time it got a jam, I opened up extruder, "move axis" to get

[2019-09-15 23:56] TheZeroBeast commented on #139
Should be no problem.
You may have issues if you hit the max step per second rate which I think happens if you run 3:1 gears and 0.8deg stepper on the default stepper resolution.

[2019-09-16 00:00] TheZeroBeast commented on #136
Monitor the sensor status page while you load. It should be solid off and then on once filaments in the teeth 🦷 of the bondtech or you’re not going to get a load.

Also, when the stepper gets disabled which is in all mmu error states, currents are dropped to 0 to allow you to pull filament out and so on.

[2019-09-16 00:00] TheZeroBeast commented on #133
No longer an issue.

[2019-09-16 00:00] #133 closed, assigned to nobody

[2019-09-16 18:28] AbeFM commented on #136
Good to know about the current dropping when in error state. Please reconsider request to maintain printer temperature for a minute (or even seconds) after a hang. Right now I still have to go on a LCD Menu Safari to get the nozzle heated to deal with these issues.

If you checked the thread where I linked, you'll see there are door positions which are wider when empty than the most extreme when i

[2019-09-16 18:29] AbeFM opened #140 "Startup Error"
RC1, log when turned on connected to S3D:
[code]
Specifically this bit:
SD card ok
SENT: M105
**READ: echo:Unknown command: "0"(2)**
**Unknown command: "0"(2)**
READ: ok
READ: ok T:26.8 /0.0 B:25.9 /0.0 T0:26.8 /0.0 @:0 B@:0 P:132.8 A:33.0
SENT: M105
**READ: Command not found!**

[2019-09-16 18:32] AbeFM commented on #140
Oh, that might be PART of a line that I had sitting in 'send' which got poorly sent? "02" is in the middle of the "M302 S0" I'd tried to send earlier.

It is happening every time, though.

[2019-09-16 19:19] AbeFM commented on #133
As in... Fixed in Version XXXXX?

[2019-09-16 22:24] TheZeroBeast commented on #133
Your loading issue which is fixed in 3.0.0-RC2.

No comms on a MMU2S reset is what happens.
If you get into a state which appears like you’re itching to reset the MMU2S (when on latest release code or newer) please provide details on what you were attempting, the of events that led you to the issue and the serial log of it so I can attempt to resolve.

[2019-09-16 22:25] TheZeroBeast commented on #140
Not current build, has already been resolved.
Please flash RC2.

[2019-09-16 22:25] #140 closed, assigned to nobody

[2019-09-16 22:35] TheZeroBeast commented on #136
I checked the thread and yes that does appear to be an issue when not setup to prevent it.
The code needs a solid sensor reading to do anything intelligent with it.
If you’re running the extruder and you’re getting any false positive IR_SENSOR readings please review hardware setup.
Might I suggest reviewing my suggested design as it appears I have fixed that issue without being appear there was on

[2019-09-17 02:36] TheZeroBeast commented on #139
@fredmz01, re-open if you have questions getting it working, happy to help.

[2019-09-17 02:36] #139 closed, assigned to nobody

[2019-09-17 11:23] TheZeroBeast commented on #136
I just  rampped Flex speeds and accelerations up further in attached build.
[TZB TPU Tweaks 2.zip](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/files/3620986/TZB.TPU.Tweaks.2.zip)

I use these Filament setting with Flex with the new speeds in attached Hex files....
<img width="428" alt="Screen Shot 2019-09-17 at 12 38 45 pm" src="https://user-images.githubusercontent.com/20939095/65007001-1b

[2019-09-17 17:03] AbeFM commented on #133
So it's a "will not fix". Trying to understand. These issues go away sometimes before I'm convinced they are dealt with.

Generally the issue is that nothing is moving and there is something mechanically jammed - filament wrapped around the gear either in the extruder or in the mmu, and physically moving the parts is hard when they are held.

Admittedly, I use reset because it works - it means "yo

[2019-09-17 17:14] TheZeroBeast commented on #133
I don’t see this as an issue needing fixing, not that it’s impossible.

Almost all error states have drivers disengaged for troubleshooting.

If you would like to workout state handling comms in a fork I surely can add it in 👌🤗

[2019-09-17 17:23] AbeFM commented on #136
Uh huh, I've used 3 or 4 different extruders, and a bunch of firmware. There's not a lot you can do with a digital signal that's unreliable unless you get really fancy with repeated reads and knowing where you are, etc etc.

The practical side is that I have had it working, I've done several prints are various hardware and firmware with >400 changes... It just seems to be a matter of getting the s

[2019-09-17 17:58] AbeFM commented on #136
I don't want to pollute this software development with physical stuff, but I would appreciate if you could read your door deflection as you run the extruder empty.

[2019-09-18 06:22] TheZeroBeast commented on #136
I did a IR_SENSOR test this morning @AbeFM, no false positives at all, this is even with TPU so it's definitely not impossible to have it tuned and working.
[![VidFrameIR_SENSORTPUTest](https://user-images.githubusercontent.com/20939095/65119957-41e01280-da30-11e9-8a07-83d0d89940bb.PNG)](https://youtu.be/7YwM-0A6syg)

[2019-09-18 19:07] AbeFM commented on #137
Response made more sense here than in Comms issue:

Most of the time I'm having an issue, the printer doesn't seem to know it's having one. Sometimes it sits there for minutes, with nothing anywhere moving..... Then just goes again.

I'm saying it's not always in an error state when I reset it. Probably I have to take more care, but since I've had days where 95% of the loads don't work (like heatb

[2019-09-18 19:14] AbeFM commented on #136
Can you video the door to see how much it moves while the motor feeds? Maybe go all out and put a ruler or piece of filament near it for scale.

The video might have that already, but it's set to private.

I can find a range where it works, but only barely. Yesterday's test of Tweaks2.zip ran all 100 changes with no full stops, only one 'mmu load error', the one before (~60 microns of adjustment)

[2019-09-18 19:19] AbeFM opened #141 "Improve Tube Calibration"
The 'end of the tube' calibration doesn't make sense. Not everyone's tube is in the same place. At the start of the gears is a lot easier to get right, I feel.

My current tube ends ~6mm short of the grab point, maybe less. So I tried to get it at the top of the tube connector, and that was too far. At least put in the documentation how far short of the gears you're supposed to set it so users don

[2019-09-19 02:01] TheZeroBeast commented on #136
Video fixed 🤦‍♂️

I'll see what I can do with a ruler in a video.

If stock design and software is flawed people may have to modify to get a stable setup.

Interesting but really soft is just out of the question in my opinion.

[2019-09-19 02:01] #136 closed, assigned to nobody

[2019-09-19 03:22] TheZeroBeast commented on #141
There is a 50mm sense window past the calibration point, perfect sense.

How far is your end of tube from your gears?

Auto is a possibility although not as simple and clean as it relies entirely on a solid IR_SENSOR reading which apparently isn't common with STOCK Hardware.

[2019-09-19 07:23] TheZeroBeast commented on #137
Sounds like you're using RC1 if you're getting pauses with no error state mentioned.

Like I said above, fork, make your changes and pull-request back in for review.
With the error states and action commands in Octoprint it is a million times more troubleshooting info to work on than stock so winning.

[2019-09-19 21:25] Penfold81 opened #142 "MMU v2 filament load issue"
Hey. I have flashed the new versions of this zero beast and no matter what i do i cannot get filament 5 to load? 1-4 are fine but 5 just goes to the extruder and it faults out for load failure and will flash constantly. If i push the right button the filament unloads. Green flashing light, then i puh the middle button and it reloads but again goes past the ir sensor but will not load. it faults ou

[2019-09-19 22:44] AbeFM commented on #141
Today it's whatever your build does, it appears to be very close to the gears. I believe it was about 35 in the past, so I'm not sure why it hadn't work until I calibrated it with a CM-and-a-half out of the tube.

Listing how far from the gears you'd like to be in the readme/calibration instructions would make it a LOT easier for people to know what number you're using. No programming required.

S

[2019-09-19 22:48] AbeFM commented on #137
Running octoprint would be a good idea. I'd have to set it up though. Too many people complain about print quality and pauses when printing over USB for me to really make that a selection - I don't know if it's because of constant requests for data or just bad serial, but I'd like to set the printer up to just accept an SD card and spit out plastic items. :-)

Descriptive error messages ARE awesom

[2019-09-19 22:53] AbeFM opened #143 "Screen Acting Badly"
Generally this is in an error state.

https://photos.app.goo.gl/jDyYhhgMHaCJsiD58
I've seen this on RC1, 2, and the couple firmwares you've posted as zip files here. This was on the latest one you posted.

I believe it to be the MMU and the mk3 fighting for the display, but it's hard to say.

[2019-09-20 00:00] TheZeroBeast commented on #143
Which error state specifically, there would be a logic Bug I need to fix and haven't found yet and you don't provide enough detail to narrow it down.

[2019-09-20 00:02] TheZeroBeast commented on #142
Hi @Penfold81,

Your fifth filament isn't making it to the gears, have you completed the mandatory Bowden tube length calibration and if so what extruder body are you using, ie. the STOCK tower of pain from PRUSA?

[2019-09-20 00:05] TheZeroBeast commented on #141
Ok, maybe to the gears is a better option 🤔 for two reasons.
 1. People already know PRUSA tube cal procedure.
 2. It then doesn't matter if tube is mounted higher as you experienced.

Change will be in RC3

[2019-09-20 00:05] #141 closed, assigned to nobody

[2019-09-20 00:59] AbeFM opened #144 "More screen blanking, removing filament before MMU boot"
Filament fails to load, printer stays "locked", screen goes blank, occasionally lights for fraction of second as you interact with it.

Reset machine. When menu appears, select "unload filament". Instead of unloading, it pops up menu "which filament to load?".

In other circumstances, a failed load makes temperature unset, as machine keeps making attempts to load/unload, temperature drops. My last

[2019-09-20 01:35] AbeFM commented on #144
The poor loading belongs in another thread - however it got much better when I calibrated the distance closer to the gears.
Based on my experience, I would recommend that the calibration be done such that you're 15 mm from the grab point. If you do that, loading in prints works, setting it >25 does not. Still checking things out - 50 mm SOUNDS great. :-)

[2019-09-20 01:48] TheZeroBeast commented on #143
Please review RC3 and advise if issue persists.

[2019-09-20 01:48] #143 closed, assigned to TheZeroBeast

[2019-09-20 01:50] TheZeroBeast commented on #144
As per RC3 cal to center of Bondtech, problems should be away.
If you post it didn't work it won't get fixed.

Please use the template and give all the requested information.

If I can't reproduce it can't be fixed.

[2019-09-20 01:50] #144 closed, assigned to TheZeroBeast

[2019-09-20 01:50] AbeFM opened #145 "'Locked' isn't locked"
During a load (of any type, I think) the display reads "locked". If you press the main button at this point, menus open up, and it seems using them confuses the printer.

[2019-09-20 01:52] TheZeroBeast commented on #142
Hi @Penfold81,

RC3 is out which changes tube calibration back to the STOCK (center of bondtech)
Please load, re-cal to center of Bondtech gears and retry your filament 5 load, should be perfect now.

[2019-09-20 01:53] TheZeroBeast commented on #145
Fixed in latest release.

[2019-09-20 01:53] #145 closed, assigned to TheZeroBeast

[2019-09-20 01:56] AbeFM opened #146 "With 'filament sensor' enabled, unloads at the start of every print"
Set filament sensor to on (spool join turns on, too), start a print.
Before MBL, but after home, printer unloads even though it isn't loaded, and sensors all read 0.

Machine presents filament and cools down. Even an immediate response leaves the printer needing to reheat to do it's actual load.
When the printer sits, reading 'waiting for preheat', >5 degrees before setpoint, printer loads anyway,

[2019-09-20 01:58] TheZeroBeast commented on #146
Please report using template so I have information to assist, you don't even state what version you're running which at time of reporting needs to be RC3.

[2019-09-20 01:58] #146 closed, assigned to TheZeroBeast

[2019-09-20 02:02] AbeFM commented on #143
I see it often, often enough I'm not convinced it's just one state.

I will load RC3 and hopefully things are mostly working so it's easier to sort out the causes.

[2019-09-20 02:06] AbeFM commented on #143
It's REALLY hard to keep track of what I've reported with everything closed.

I do not consider an option with no fix to be closed. It's hard to find them, so duplicated, disorganized issues get opened.

I would suggest leaving unresolved issues open - it's not a question of if you've read it, but if the source of the issue has been found and testing has shown the issue to be resolved.

I feel lik

[2019-09-20 02:15] AbeFM commented on #146
Wow. Rough. 13 minutes ago is 6:56.

I got the notice at 6:45.

That's barely enough time to load the firmware if all I did was sit there hitting refresh on my email and had the printer already plugged in and no testing going on.

I'm not even sure how to describe the version I got, it wasn't a release, it was a zip file I got sent, in a pile of other zip files.

Like my other comments, with threa

[2019-09-20 04:42] TheZeroBeast commented on #143
1. You need to provide more information, I've even created issue templates for people to follow.
 2. If like a lot of the time it is from a previous release it gets closed.
   a. If you find an issue in a previous release then please see if it's still there in the latest release and as per the template provide all steps taken to get to that point so it can be reproduced and fixed.
 3. If it is cle

[2019-09-20 04:44] TheZeroBeast commented on #146
Use template man, simple.
BN is a part of version and is unique....

[2019-09-20 16:44] AbeFM commented on #146
I will use it going forward. But if I'm testing with a 12 hour print and you're going to delete without consideration any report I make for a previous version then I am wasting my time. My overall point was with the rate these threads close there's no point to putting in the extra five minutes to fill out the form. Stuff closes - some of which you've fixed and I don't know about, and some of which

[2019-09-21 23:58] TheZeroBeast commented on #146
Thank you, it'll definitely help find those damn bugs and yes some can be hard to nail down when printing unattended. BTW, I just completed an 18h twin TPU print without any intervention on RC3, ~230 changes.

Feel free to you facebook messenger for general discussion, "Robert McKenzie" should be how to find me.

[2019-09-22 04:07] AbeFM commented on #146
RC3 (2444/352), after a lot of messing around to get stuff sorted mechanically.... unloads even when empty on the beginning of every print - with sensors reading correctly.

Afterwards, it loads, MBL, then tries to put too much in extruder and you're not extruding, only clicking.

That's with loading working great from the menu's "load to nozzle".

Flashed 9/7 prusa firmware (3.8.0/1.06) it does t

[2019-09-22 04:10] TheZeroBeast commented on #146
Wouldn't be printer profile not stock?
This would explain menu working and gcode not.

Stock for MMU2S is as bellow.

<img width="426" alt="Screen Shot 2019-09-22 at 2 10 09 pm" src="https://user-images.githubusercontent.com/20939095/65382191-b1ad1080-dd42-11e9-87f4-cbeb8c969239.png">

Here's that massive dual colour TPU print....
![IMG_1591](https://user-images.githubusercontent.com/20939095/6538

[2019-09-22 05:06] AbeFM commented on #146
I just keep getting filament bunching up in the cooling tube, I just swapped the PTFE (old one was 1 mm to short, perhaps this is too long....).

This is supposed to be a report about the filament being unloaded when 'filament sensor' is on in settings. Does yours do this?

[2019-09-22 05:37] AbeFM commented on #146
Found like 6, none were obviously you. :-) Email address you use on there, maybe?

[2019-09-22 05:40] TheZeroBeast commented on #146
I'll double check if mine does that when the current test print is done, normally filament sensor should be on in the MK3S menu for the IR_SENSOR to work.

Robert.M.McKenzie@icloud.com is the one

[2019-09-22 06:19] AbeFM commented on #146
This is odd. On both your firmware, and stock, I'm getting fine loading, and fine printing... EXCEPT the first layer, first material is super underextruded. The beging of prime line is ok, but the entire first layer (prime block and brim and support) is massively underextruded, with extruder clicking most of the time. I find the filament kinked at the extruder gears.
There's a good gap, I don't th

[2019-09-22 06:39] AbeFM commented on #146
Maybe I need to wipe out the printer's storage. Everything else is great except it's jammed up on the first load. Doesn't matter which channel it starts on. And it does kink the filament, I don't think it's that the current is low.... Though it never seems to shove out too much , it seems like there's something wrong with the first load.

![image](https://user-images.githubusercontent.com/42385/65

[2019-09-22 07:13] AbeFM commented on #146
It's definitely kinking up the filament on load. I can pause print, find a nub at the top of extruder gears, bunched up at entrance to cooling tube. Perhaps just a chamfer on the inlet would help.

Anyway, if I unkink it after that load, it continues on ok, printing the layer fine. I still seem to get this sometimes, almost as if it's loading a bit too much.

Also, I don't get that super thick fir

[2019-09-22 08:33] gizzburn opened #147 "Bondtech BMG Extruder"
Hi Robert I have decided to go with  the bear like X carriage with my Bondtech extruder, I know about the e-steps but what about the below statement from a post on FB.

<Ah the z max pos will still need to be modified to 204. Not sure how to do that without modifying the firmware (which I don’t know how to do!)>
This is a quote from the Bondtech Site.

bondtech_fw_MK3S_3_7_2.hex for MK3s

2019-07-

[2019-09-22 09:06] AbeFM commented on #146
I'm getting frequent jams when trying to unload after 'stop print' command. It almost always ties around driven extruder gear. Is it possible MMU isn't "sucking" up as much as it being ejected?

I've gone through a few PTFE's, still getting unprecedented issues on loading. Will clean nozzle tomorrow (already half cleaned a couple times today). Not too sure what else to look at - things look pretty

[2019-09-22 09:09] AbeFM commented on #147
If you're still in development, it might be faster to just use the g-code
command to set the number you want.

https://reprap.org/wiki/G-code#M92:_Set_axis_steps_per_unit

Don't forget to save eeprom after so it sticks.

On Sun, Sep 22, 2019 at 1:33 AM gizzburn <notifications@github.com> wrote:

[2019-09-22 09:52] TheZeroBeast commented on #146
Sure sounds like a PTFE issue in your extruder, if you don't have the chamfer then you're filament will most likely be jamming on the edge.

Get the length for the TZB extruder then cut the chamfer in and try again.
Especially important for TPU as there must be nothing to catch the filament on it's way to the nozzle.

https://manual.prusa3d.com/Guide/How+to+trim+PTFE+tube+-+Original+Prusa+i3+print

[2019-09-22 10:17] TheZeroBeast commented on #147
For now just use the following two serial commands once firmware is flashed to update the e-steps.
Keep in mind not to go over 200mm and you're set.
Once I'm ready for a full release I can add a hex for the BMG Extruder.
M92 E830
M500

[2019-09-22 18:07] AbeFM commented on #146
I found baked on chunks in my heat break (thanks keyboard for auto correcting to heart break), I suspect removing then will help a lot.

I'm very confident in my PTFE's, I only brought them up because your design doesn't fit the stock tube. Might be worth putting in notes of it isn't.

Overall this looks really promising. I've had months where I could bang out prints in any material I wanted here

[2019-09-22 21:07] TheZeroBeast commented on #135
Hey @habitforming11,

I'll post a printer hex later today, I have it compiling for MK2.5S now.

[2019-09-22 21:18] gizzburn commented on #147
Thanks Robert, I have loaded the Bondtech firmware for now that includes the codes, will wait now till you release the full version for the Bondtech, not got any mulit color prints planned as yet so will make do till you get this done, great work as usual thanks.

[2019-09-22 22:26] habitforming11 commented on #135
glad to hear it!  Prusa threw me several curve balls, so i all don't have a completely functioning mmu.  first was missing two harnesses, now I learned my mk2s heat break is too large inside diameter which is causing massive unloading / loading difficulties.  should have the right heat break on Tuesday.

do you have any specific testing you need me to do?  i can load firmware, check calibration, e

[2019-09-22 22:36] TheZeroBeast commented on #135
Oh lovely.....
The correct heatbreak(MK3) makes a big difference, definitely needed.

If you can let me know if the homing worked reliably and only the desired two taps for selector and idler. With TMC2130s running on 12v instead of 24v it may not work as intended.

Apart from that just put it through it's paces and if you come across an issue rill out the bug report template.

With the bear mod j

[2019-09-22 22:46] habitforming11 commented on #135
can you explain this sentence "and only the desired two taps for selector and idler"?

[2019-09-22 22:58] TheZeroBeast commented on #135
Sure can.

When the printer connects to the MMU2S unit it will home.
This results in two audible taps/knocks each when they hit their respective endstops.

[2019-09-23 01:04] habitforming11 commented on #135
OK that makes total sense.  That sounds a whole lot better than the two sets of about 10 knocks that it does currently.

[2019-09-23 01:07] habitforming11 commented on #135
Also as I mentioned I am a complete amateur at github.  Have you posted the 2.5 compatible firmware and if so, where do I find it?

[2019-09-23 01:22] TheZeroBeast commented on #135
haha, I konw right, PRUSA just runs into the endstop for a period of time and assumes it's homed even though TMC2130 drivers have stallguard for virtual endstops. Slaps face

I haven't yet, are you keen, I'll try remote into my home computer and upload to this thread soon.

[2019-09-23 01:27] habitforming11 commented on #135
Don't go out of your way on my account if you don't want.  I was sitting here with a few free hours thinking about getting the machine torn down for the heat break swap, but if you had something ready to test and we're just looking at initialization, I figured I'd give it a go beforehand.  Doesn't make much difference to me, but if you're anxious for a report I'm ready to test.

[2019-09-23 01:42] TheZeroBeast commented on #135
Here we go, so load this into the printer, then load the MMU2S hex from [here](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/releases)
[TZB-MK2.5S-3.0.0-BN2450.hex.zip](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/files/3640386/TZB-MK2.5S-3.0.0-BN2450.hex.zip)

Yeah, keen to know how it goes, I have an old MK2S that would like some MMU2S oneday lol

[2019-09-23 03:22] habitforming11 commented on #135
It does 4 double taps of the idler upon startup.  Now investigating the flashing light and where to proceed.  I'll update as I continue.

Also I have a bug report to post, incoming.

[2019-09-23 03:27] habitforming11 opened #148 "MMU not recognized by PC when "TZB-MK2.5S-3.0.0-BN2450" loaded in MK2.5S"
**TZB-MMU2S Release Version**
TZB-MMU2S-3.0.0-RC3-BN352

**Describe the bug**
With MK2.5S firmware "TZB-MK2.5S-3.0.0-BN2450" the MMU2S unit is not recognized by my Windows 10 PC.  As such, MMU firmware cannot be flashed to TZB version.

**To Reproduce**
Steps to reproduce the behavior:
    Load "TZB-MK2.5S-3.0.0-BN2450" to MK2.5S machine
    Connect USB for MMU2S
    MMU2S is never recognized by W

[2019-09-23 03:37] habitforming11 commented on #135
I now have a flashing green (or flashing red if I push filament through) on lane 2, the currently selected lane.  The middle button appears to rehome the idler, the other buttons are unresponsive.  I've looked through the TZB-MMU2S-Firmware wiki, and I cannot find what this error state is or how to proceed.

EDIT - More importantly, MMU is not detected by MK2.5S

[2019-09-23 03:47] TheZeroBeast commented on #148
When you attempt to flash the MMU2S hit the reset button on the printer just before clicking flash of the MMU2S FW in PRUSA Slicer. Let me know if that lets you flash the MMU2S.

[2019-09-23 03:51] habitforming11 commented on #148
i successfully flashed it while prusa 3.80 was on the mk2.5. will that cause problems?

[2019-09-23 03:54] TheZeroBeast commented on #135
Were you able to get them both flashed with this firmware? I see in your bug report you were having issues flashing the MMU2S after the MK2.5S.

The middle button attempts to load filament on that channel (two attempts if unsuccessful)
Initially it should home both the selector and idler after middle button press.
Then it should push filament to FINDA and then back to parking location.
If it isn't

[2019-09-23 04:15] habitforming11 commented on #135
While the mk2.5 was flashed with the prusa firmware, I flashed TZB onto the MMU.  Following that, I flashed TZB onto the mk2.5.

Now when I power up, the lane 2 green LED is flashing, but no other activity occurs.  If I push the middle button, the idler re-homes and returns to lane 2, lane 2 green LED continues to flash, but the bondtech motor never moves at all.  Left/right buttons do nothing.  M

[2019-09-23 04:18] habitforming11 commented on #135
To be clear, the selector never moves (or attempts to).  The idler is the only stepper that does anything following power up/reset.

[2019-09-23 04:20] TheZeroBeast commented on #135
Hmmm, leave it with me @habitforming11, I'll review the comms pins for the two boards, probably missed something I need to set specifically for the MK2.5S

[2019-09-23 08:49] TheZeroBeast commented on #135
I made a small change to the mmu2s init of comms, might be why they're not communicating, can you flash it onto the printer and see. Also, just to make sure, you have TZB-MMU2S-3.0.0-RC3 flashed on the MMU2S right?

Do you have access to the serial logs, prontoface or OctoPrint, that would be the next helpful thing to diagnose what's happening.

[TZB-MK2.5S-3.0.0-BN2451.hex.zip](https://github.com

[2019-09-23 14:26] habitforming11 commented on #135
That's correct, I did have TZB-MMU2S-3.0.0-RC3 flashed onto the MMU.  I was able to do that by flashing it first when the printer still had prusa firmware installed.

With BN2451 I am able to see MMU2S device on my PC, but flashing TZB-MMU2S-3.0.0-RC3 onto it failed so far.  Still testing.

[2019-09-23 14:30] habitforming11 commented on #135
Following power off/on of the printer, the display only shows two rows of solid boxes.  No text.

I flashed BN2451 yet again, but still only two rows of squares are displayed.  Unable to control printer at all.

[2019-09-23 17:35] AbeFM commented on #147
This isn't the first thread to have concerns about overall height. Especially since if the MBL doens't go well, the printer runs head up to the top (sometimes I had to watch out for interactions between chimney and MMU)... I don't know if there's some number you can similarly change with serial commands to fix that.... If so, the two (overall z height and esteps) could make it into readme. :-)

[2019-09-23 17:37] AbeFM commented on #148
Nope. It's about the reset. It's super helpful if you can access PC and printer at same time - hit "flash" and immediately (within a second or two) press the MMU's reset (not the printer's).

When reset, the MMU enters a programmable state for a few seconds, then leaves it and is programmable until the next reset.

[2019-09-23 19:14] TheZeroBeast commented on #148
Yes, I need to work on handling the comms mismatch without locking anything up.
Appears to happen when MMU2S is flashed with TZB FW before MK3 is on TZB

[2019-09-23 19:23] TheZeroBeast commented on #147
There is no serial command to update max_z_height sadly.

[2019-09-23 19:26] TheZeroBeast commented on #135
Hmm, interesting. I'll have to have a think about it....
Realistically I need a MK2.5S test rig, I'll see what I can sort out.

[2019-09-23 19:31] gizzburn commented on #147
I have messed my printer up, in the eprom I have typed in the gcode for esteps and the z one, but I think I have messed it up, now when I try to calibrate Z the motor moves slightly but does nothing, how do I reset the eprom, tried a factory reset but that did not work. Even tried other firmware but nothing changes.

[2019-09-23 20:17] FredMk3 opened #149 "Linear advance 1.5 feature"
Hi and thanks for your work.
Did you plan to make a version with LA 1.5 include?
I test the vertigo firmware LA 1.5 and extruder bunnyscience with e3dv6 stock and the result is very good. A mix of your work for great set my mmu2 and LA 1.5 is for me and sure other a good solution 😉

[2019-09-23 20:34] TheZeroBeast commented on #149
Hi @FredMk3, glad to hear it makes a difference. I hear PRUSA plan to implement LA2 in the stock FW in the near future so I will re-base my FW to the new stock versions when they're released.

[2019-09-23 20:34] #149 closed, assigned to nobody

[2019-09-23 20:38] TheZeroBeast commented on #148
I'll be doing up a Wiki flashing guide and a video of flashing too and from this FW, stay tuned.

[2019-09-23 21:06] AbeFM commented on #135
I have had all sorts of issues that boil down to bad connections. The connectors on the MMU are garbage, maybe ok for chasis wiring, but enough to cause issues if they ever get moved/bumped.... while being installed on something that you have to work on all the time to make work and lives in a hinge that gets moved hundreds of times per print.

In short: The times I've had a motor not work, I wigg

[2019-09-23 21:11] habitforming11 commented on #135
@abefm good info. in this case it's a matter of the firmware though. switching back to prusa firmware, everything functions as expected.

[2019-09-23 21:27] TheZeroBeast commented on #135
Yeah, @AbeFM, not the best cabling setup hey.
The annoying difference that's causing issues is the lack of MMU_HW_RESET on the MK2.5S, not a problem if I had a setup to chuck the old logic analyser on but lacking the HW at present.

[2019-09-24 01:52] rmilyard opened #150 "Support for Bondtech Mosquito"
I have a MK3S+MMU2S with Bondtech Mosquito extruder.  I have been having a lot of issues getting this all working together.  I was wondering if have tested this combo yet?

[2019-09-24 09:57] TheZeroBeast commented on #150
I only have the e3d v6 hotend combo sorry.

What issues are you having getting this going? I.E. what changes do you normally do to make it work on stock FW?

[2019-09-24 11:00] TheZeroBeast commented on #148
Please regard the following tutorial regarding flashing issues.
https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/wiki/Flashing-Procedure

[2019-09-24 11:00] #148 closed, assigned to TheZeroBeast

[2019-09-24 12:33] rmilyard commented on #150
Added Thermistor table for Slice Engineering.

<https://github.com/BondtechAB/Bondtech_Prusa_i3/tree/master/Firmware/3.8.0#mk3s-changes>MK3s Changes

  *   #define CUSTOM_MENDEL_NAME "Bondtech-PE MK3s"
  *   #define DEFAULT_AXIS_STEPS_PER_UNIT {100,100,3200/8,415}
  *   #define Z_MAX_POS 205
  *   #define TMC2130_USTEPS_E 16
  *   #define LOAD_FILAMENT_1 "G1 E80 F400"
  *   #define UNLOAD_FILAMENT

[2019-09-24 19:24] rmilyard commented on #150
My filament tips are stringy.  Also little to big.  They are getting jammed and not loading so have load fail until I cut the tips.

[2019-09-24 19:35] TheZeroBeast commented on #150
Thanks for the list of changes.

With the large tips and stringing, have you double checked you have the correct heatbreak and smaller inner diameter extruder PTFE? They are not optional.

I did a test a long time ago with a stock brand new e3d v6 heatbreak and not a single mmu2 load would work. I can't remember the tip diameter measurements but it was a substantial difference in tip size.

[2019-09-25 00:30] lmyvgta opened #151 "Go back to original"
Hi ive installed the latest RC3 ver. I couldn't get to the original prusa firmware. Is there any updates that you can release so i can test both firmwares?

[2019-09-25 00:34] TheZeroBeast commented on #151
Hi @lmyvgta,

What do you mean you couldn't get to the original prusa firmware?

[2019-09-25 00:51] lmyvgta commented on #151
I couldn't reinstall the Original prusa firmware.  It didn't detect it.

[2019-09-25 00:54] TheZeroBeast commented on #151
Wonderful, you can try out the flashing wiki I made last night 👌👏

https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/wiki/Flashing-Procedure

Let me know how you go.

Did you test this firmware at all, or just wanted some stock loving?

[2019-09-25 01:03] lmyvgta commented on #151
Ill try, but ive just installed it and had some issues with the lenghts of the filament in the gears, and i didnt have time to set the new parameters. i thought it was easier to go back to stock, but i couldnt go back at all

[2019-09-25 03:26] TheZeroBeast commented on #151
Bowden calibration is the same procedure as stock 👍

Can’t get much easier than power and flash.

[2019-09-25 03:26] #151 closed, assigned to TheZeroBeast

[2019-09-25 09:26] CaiJonas commented on #142
Hi @TheZeroBeast
Very good work so far. Is it possible to get your extruder parts as a step file? Ofcourse I would donate a small amount.

Best Regards

[2019-09-25 09:35] TheZeroBeast commented on #135
I've got another test for you @habitforming11, hopefully a connection between printer and MMU2S this time.

[TZB-MMU2S-3.0.0-RC3-BN352.hex.zip](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/files/3651702/TZB-MMU2S-3.0.0-RC3-BN352.hex.zip)
[TZB-MK2.5S-3.0.0-BN2454.hex.zip](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/files/3651710/TZB-MK2.5S-3.0.0-BN2454.hex.zip)

Flashing as per the [Wi

[2019-09-25 09:37] TheZeroBeast commented on #142
Hi @CaiJonas,

I may consider sharing the step files.
What changes do you have in mind, I might be able to assist?

[2019-09-25 10:55] CaiJonas commented on #142
@TheZeroBeast I want to change the pin which sits on the lever and add an screw to the door to adjust the pin lenght. Also I have some problems with printing flex filaments. I often gets clogging error. Maybe the solution is to adjust some tolerances in your design system. But over all I am very impressed by your work. Without your ideas and solutions the mmu2 is not very good

[2019-09-25 12:03] TheZeroBeast commented on #146
[RC4.zip](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/files/3652282/RC4.zip)

[2019-09-25 18:35] AbeFM commented on #142
![image](https://user-images.githubusercontent.com/42385/65629252-da721780-df87-11e9-8c26-e215edfb077f.png)

![image](https://user-images.githubusercontent.com/42385/65629269-e231bc00-df87-11e9-93b1-d218544aab37.png)

Use a set screw - regular screws have uneven tips. It works GREAT, even at M3 which I thought too coarse. About 1/4 turn is the overall range of adjustment needed (~150 um). I just d

[2019-09-25 18:38] AbeFM commented on #151
It's pretty trivial. Open door to see gears. Turn on printer, move selector to far right, press middle, left, middle, middle, left/right till adjusted right, middle, left.

That's it.

[2019-09-25 19:07] TheZeroBeast commented on #142
I'll have a look at adding a grub screw into the design.
The Jam error when using flex if a false positive would be the tune on the pin and idler tension which the grub screw would assist with.

[2019-09-25 19:08] TheZeroBeast commented on #151
Indeed, here's the walkthrough I did up.
https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/wiki/Bowden-Length-Calibration

[2019-09-25 20:00] habitforming11 commented on #135
I am still getting two rows of solid boxes on the printer LCD after flashing "TZB-MK2.5S-3.0.0-BN2454.hex"

Followed the instructions on your wiki exactly.  Printer also never self restarts after firmware install successfully completed.  This is before attempting to flash the TZB MMU firmware.  Results on that to follow...

[2019-09-25 20:04] habitforming11 commented on #135
Flashing MMU firmware "TZB-MMU2S-3.0.0-RC3-BN352.hex" was successful via your wiki instructions.  However, the printer display is now blank after initialization, and MMU has flashing amber LED on lane 2 (Lane 2 is currently loaded to nozzle).

[2019-09-25 20:06] habitforming11 commented on #135
Octoprint was able to establish a connection, though the printer display is still blank.  Here is terminal readout:

Connecting to: /dev/ttyACM0Changing monitoring state from "Detecting serial port" to "Opening serial port"Connected to: Serial<id=0x72395750, open=True>(port='/dev/ttyACM0', baudrate=115200, bytesize=8, parity='N', stopbits=1, timeout=10.0, xonxoff=False, rtscts=False, dsrdtr=False)

[2019-09-25 20:20] AbeFM commented on #142
I can say from experience that the on-off-on of the IR sensor WILL cause a jam detection to trigger, even when everything else works perfect.

[2019-09-25 20:22] AbeFM commented on #135
Just to double check - you need to flash both with a matching set of firmware. If you only do one, it breaks. Ideally, printer would say so ("Warning: MMU Firmware Mismatch").

[2019-09-25 20:39] habitforming11 commented on #135
Understood. As explained in my second reply above, i did subsequently flash mmu also.  Printer display remains blank.

[2019-09-25 22:10] TheZeroBeast commented on #135
Ah, damn, I left a delay in that's blocking MK2.5S booting, I'll send a set in a couple hours with this removed.

[2019-09-26 02:01] TheZeroBeast commented on #135
TZB-MK2.5S-3.0.0-BN2457.hex.zip

[2019-09-26 04:07] habitforming11 commented on #135
I'll try to get to it tomorrow.  After a very successful night getting things back together and working properly, I found an issue with my selector.  Now to print a new one to replace it with.  Making progress though!

[2019-09-26 05:21] TheZeroBeast commented on #135
No problem, sounds good.

Interesting, what issue did you find with your selector, I'm still on my stock one, must be luck?

[2019-09-26 07:03] AbeFM commented on #135
THAT's interesting. I'm using JTLX's easy to clean out selector rocks. I don't really like the magnet some people put in.

[2019-09-26 10:02] TheZeroBeast commented on #135
Dman, I was mixed up, I'm on my stock drum/idler. My selector is one I have on Thingiverse with M10 passthrough and 8mm neo magnet to assist ball drop.

So, I just worked out I compiled MK2.5S FW incorrectly, tested on my old girl (MK2.5) and got it booting 👍

I also merged to STOCK_COMMIT_NR:3274

I have attached the hex files, hopefully it'll also allow your MMU2S to connect.
[Archive.zip](https

[2019-09-26 11:20] habitforming11 commented on #135
I'm using "Selector_Magnet_Window_PC10Passthrough.stl", can't remember the author.  When it prints, it bridges across the filament exit where the passthrough fitting attaches, and he says you have to drill that part out.  Not understanding exactly what the function was when I first built it, I drilled it for the 3mm OD of the ptfe tubing, but it should have been 1.9-2.0mm for just the filament.  C

[2019-09-26 11:24] TheZeroBeast commented on #135
Awesome to hear you’re kicking goals.

Consider the selector I designed with m10, no drilling requirements and hopefully less catching filament.

I’ve done over 1000 change PLA prints without issue through it.

[2019-09-26 15:19] habitforming11 commented on #135
Do you have a link to your selector?  I looked on your thingiverse page but I don't see a selector.

Edit - nevermind, I just found it in your extruder design page

[2019-09-26 18:57] TheZeroBeast commented on #135
Yeah, I'll move the MMU2S portion into it's own design on thingiverse and prusaprinters

It hides with my MK3 extruder mod

[2019-09-26 19:33] TheZeroBeast commented on #142
[TZBMK3S-Door.zip](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/files/3659561/TZBMK3S-Door.zip)

I'm thinking a 3mm hole inline with the PIN will be tight enough for a M3 grub screw and is optional (ie. it'll work fine without it, but give you the option to chuck it in if needed)

I've also included the step of the door if you'd like to try something different.

[2019-09-26 20:18] AbeFM commented on #135
GOOD!

I complain a lot so I didn't bring that one up. :-)

The JTLX one I'm running has many thousands of changes on it, I can recommend it. Haven't tried Rob's.

[2019-09-26 20:23] AbeFM commented on #142
Er, probably you want a 2.5 mm hole (that's the drill size for an M3x0.5 tap).

I'm unsure if a SMALL (1 layer) chamfer on the top of the hole would help keep the surface pristine for those who aren't using the screw.

Those who are likely want ~2 layers off the door so you are sure there's enough clearance?

[2019-09-26 20:52] TheZeroBeast commented on #147
If you've loaded stock FW and reset to factory and it still doesn't work I'd try run that gcode to set esteps back to stock values (just to make sure as factory reset should be doing this)

[2019-09-27 04:34] habitforming11 commented on #135
![tzb_selector_section](https://user-images.githubusercontent.com/55253710/65742523-8ddd2800-e0be-11e9-922f-8d1217b53bc4.JPG)
It looks like your design also has that solid wall where the filament exits the selector.  Sorry for OT!

[2019-09-27 04:38] habitforming11 commented on #135
![tzb_selector_section2](https://user-images.githubusercontent.com/55253710/65742645-0d6af700-e0bf-11e9-95c0-29c477d39afb.JPG)

[2019-09-27 04:50] TheZeroBeast commented on #135
Damn, I'll review tonight @habitforming11, 12 month old design lol

Any chance to try load the fw from last night?

[2019-09-27 12:29] TheZeroBeast commented on #135
Fixed her up, added blade section back in.
Having't printed to test yet but should be good.

[<img src="https://user-images.githubusercontent.com/20939095/65719374-09ec6580-e0e9-11e9-9624-aa239ac53aa7.PNG" height="300">\
TZB MMU2S Selector M10 No Blade](https://www.thingiverse.com/thing:3882042)

[2019-09-27 12:43] CaiJonas commented on #142
Hi guys, thank you for all the suggestions. I will add a grub screw maybe @TheZeroBeast  will add a 2.5mm hole at the correct position and update the stl files on thingiverse. Additioning to that I will check correct sensor reading like @AbeFM. I can't remeber wether I changed the heatbreak or not, I have read somewhere this could also be a problem.

[2019-09-27 13:05] habitforming11 commented on #135
I just had a chance to flash the firmware. Flashing procedure went well, and the printer display is working as normal now.  However with the MMU2S, it continually does the double tap homing procedure (over, and over, and over, and over, etc) and the printer support screen shows MMU as "n/a".  Making progress though!

[2019-09-27 20:57] AbeFM commented on #142
Heatbreak is a good idea-  every time I touch it, stringing, etc, changes.

You can just drill a hole, or use 3D builder to create a 2.5 mm cylinder, and remove it. Put it in the middle of the flat spot.

[2019-09-27 21:02] AbeFM commented on #135
TZB - it would be nice to have a github thread/whatever for the physical designs - instead of threading them into discussions about firmware. Even just make an issue called "selector issues" and start with a link to the TV page?

I've debated - one of my most common failures is filament squirting out from the gap where the blade lives. Making that tighter and with a bigger chamfer seems like it wo

[2019-09-27 22:13] TheZeroBeast commented on #142
All done and live.
https://www.prusaprinters.org/prints/5756-tzb-mk3s-mmu2s-extruder-no-tower

[2019-09-27 22:22] TheZeroBeast commented on #135
Awesome @habitforming11,

Progress indeed, the mmu2s is failing to home, difference of voltage showing it’s head.
I’ll make some changes to the mmu2s code for you to try 👍

Have you tried my selector, I minimised the gaps to the case, it’s been working great.

Yes, we can create a thread for different hardware mods to discuss, I’ll create a tag for them now.

[2019-09-27 22:26] TheZeroBeast opened #152 "TZB-MK3S-Extruder Design"

[2019-09-27 22:27] TheZeroBeast opened #153 "TZB-MMU2S-Selector Design"

[2019-09-28 20:48] AbeFM commented on #137
Have PVA in extruder.
Pause print
Select "unload filament"
Only choices are 215c or above. All choices will destroy a nozzle.

Consider adding a "last used temp" option.

[2019-09-30 08:30] TheZeroBeast commented on #137
We should check if PRUSA have this pegged as it really needs to be in stock.

[2019-09-30 08:30] TheZeroBeast commented on #137
If not I think it's an easy add to the preheat list

[2019-10-01 06:52] TheZeroBeast commented on #135
Ok, I have a plan of attack, I'll be hooking up my bench supply @ 12v this weekend to my MMU2S to tune Stallguard which is why it keeps trying to home.

I'll get a new build to you shortly after, should be one of the only things the voltage differences will affect.

[2019-10-01 17:41] AbeFM commented on #135
On my mk3S/mmu2s if I say "home all" it consistently puts the selector on
pos A, the drum on pos B, feeds out the wrong filament next to selector.

If you stop it, it'll move on to the next one (I believe the printer
doesn't do any checks, so it just goes on), each time the drum is off by
one so you get all your filaments sticking out of the machine and the
selector moving over to snap them off.

[2019-10-01 17:47] AbeFM commented on #152
Win!
Link to Item: https://www.prusaprinters.org/prints/5756-tzb-mk3s-mmu2s-extruder-no-tower/

I had something to add but already forgot. Subscribed.

[2019-10-01 17:52] AbeFM commented on #137
The pretend PVA doesn't exist because after they said you could print it, they changed their minds.

It's a full disassembly if you bake stuff into your nozzle, and likely new parts.

My suggestion about last used temperature (which I believe IS stored in memory) was that anyone can use any material and it is instantly supported. Trying to make a list with every number on it just makes for a list

[2019-10-01 18:49] TheZeroBeast commented on #135
Can you open a bug report for that @AbeFM with the template so I can get it fixed?

Edit: Hey @AbeFM, I just loaded all five and double checked half a dozen time from fresh boot to after ejects and loads and always did all five from left to right as it should. Is it still happening on the latest release?

[2019-10-02 08:18] AbeFM opened #154 "Drum loses home, re-homing incorrect until reset."
**TZB-MMU2S Release Version**
2455/354

**Describe the bug**
On my mk3S/mmu2s if I say "home all" it consistently puts the selector on
pos A, the drum on pos B, feeds out the wrong filament next to selector.

If you stop it, it'll move on to the next one (I believe the printer
doesn't do any checks, so it just goes on), each time the drum is off by
one so you get all your filaments sticking out of

[2019-10-02 08:23] TheZeroBeast commented on #154
Ok, well it'll be down to your detective skills as I don't have this issue.
I'd suggest loosen your tension on your drum maybe.

You could investigate the procedure in code and suggest an alternate approach.

[2019-10-02 08:31] AbeFM commented on #154
If I wanted to reproduce it, I would have failed loads. Unhook bowden tube. I didn't notice this with TPU. The drum tension is pretty low (2 turns past flush), which I've used for over a year and don't think it's the issue.

I can look at this in October.

[2019-10-02 08:41] TheZeroBeast commented on #154
Cool, do up some videos when you're back and we'll try find the culprit.

[2019-10-02 13:36] gizzburn commented on #150
Is the Bondtech BMG on the list to do next Robert?.

[2019-10-02 18:26] AbeFM commented on #154
It would help if someone other than me could disconnect that bowden and hit "load all" on the menu.

[2019-10-02 19:17] TheZeroBeast commented on #150
I'll compile and add the mosquito hex to my final release tonight.

[2019-10-02 19:18] TheZeroBeast commented on #147
@gizzburn, the bmg, are they the same changes that Bondtech do for the MK3S at their FW link?
https://github.com/BondtechAB/Bondtech_Prusa_i3/tree/master/Firmware/3.8.0

[2019-10-02 19:20] TheZeroBeast commented on #142
Stale, no update from originator. Please re-open if you're still having load issues with the latest release.

[2019-10-02 19:20] #142 closed, assigned to nobody

[2019-10-02 19:21] TheZeroBeast commented on #154
I'm curious why you're disconnecting your BOWDEN tube to do the load all?

[2019-10-03 08:29] gizzburn commented on #147
Great Robert long print on at the moment but when finished will give it a try when done many thanks. And yes those are the changes.

[2019-10-03 09:07] TheZeroBeast commented on #147
Same MK3S changes as the link for the BMG mate?

[2019-10-03 12:45] rmilyard commented on #150
I would be interested also in new Bondtech Mosquito with Slice thermistor firmware.

[2019-10-04 23:17] TheZeroBeast commented on #147
Release page now has Bondtech’s changes in an additional HEX file as per the MK3S changes [here](https://github.com/BondtechAB/Bondtech_Prusa_i3/tree/master/Firmware/3.8.0)

[2019-10-04 23:17] #147 closed, assigned to nobody

[2019-10-04 23:41] TheZeroBeast commented on #150
Hi @rmilyard, [releases](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/releases) page now has a build with SE HT Thermistor tables and bondtech changes. Let me know if it works

[2019-10-05 09:10] TheZeroBeast commented on #135
@habitforming11,

I've had a win, I pipped 12v into my MMU2S and setup voltage reading to identify when it's on a 12v system and adjust itself.

I'm just running a test print then I'll post the compiled hex files.

![IMG_1698](https://user-images.githubusercontent.com/20939095/66252827-7e876a00-e7a3-11e9-9a3d-83bbb67e5c1e.jpg)

[2019-10-05 10:43] TheZeroBeast commented on #135
Hi @habitforming11,

Can you please try this set, from what I can tell it should be fully functional on your MK2.5S setup.
If so I'll add it to the releases page 👌👍
[TZB-300-MK25S-Bundle.zip](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/files/3693121/TZB-300-MK25S-Bundle.zip)

[2019-10-05 12:11] XRyu opened #155 "Filament always ejected before start printing?"
**TZB-MMU2S Release Version**
MK3S:MMU2S 3.0.0

**Describe the bug**
Question, is it normal this happens with TZB-Firmware?

Printing through Octoprint
-> Printer starts Bed Levelling, ejects filament and wants me change, asks if color correct
     ( i then mostly just cut a nice filament-end and put it back in)
-> Printer starts Bed Levelling again and then starts printing afterwards

Is this cor

[2019-10-05 18:43] Penfold81 opened #156 "MMU not loading correct filament"
Ensure you're running the latest **RELEASE** and you've checked the **Wiki** for answers before reporting. Any issues reported regarding previous **RELEASES** will automatically be closed and not responded to, this ensures the developer maintains focus & streamlines the development process.

**TZB-MMU2S Release Version**
TZB-MK3S-3.0.0-BN2460

**Describe the bug**
When starting a new print the mmu

[2019-10-05 21:18] TheZeroBeast commented on #155
This happens when the printer is thinking it’s running out of filament.

If you have your MMU2S FINDA set too for e it can be telling the printer it’s out of filament already.

Try turning it into the selector 1/4 of a turn more.

I wrote some notes on the FINDA in my [wiki](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/wiki/FINDA), it might assist.

Let me know if that helps.

[2019-10-05 21:22] TheZeroBeast commented on #156
Hey @Penfold81,

Can you attach your gcode that was used so I can interrogate it?

Do you have the ability to provide a serial log of the start of this print to the point after it loses the incorrect filament number?

[2019-10-05 22:34] Penfold81 commented on #156
Dave Ross has shared a OneDrive file with you. To view it, click the link below.
<https://1drv.ms/u/s!AoIQfQe1DY4CgSpkxbz1l1xFzA3z>
[https://r1.res.office365.com/owa/prem/images/dc-generic_20.png]<https://1drv.ms/u/s!AoIQfQe1DY4CgSpkxbz1l1xFzA3z>
snap_on_witches_hat_0.2mm_PLA_MK3SMMU2S_18h22m.gcode<https://1drv.ms/u/s!AoIQfQe1DY4CgSpkxbz1l1xFzA3z>

Here is the gcode
_______________________________

[2019-10-05 23:10] XRyu commented on #155
Sorry, i think i was not clear enough :) This does happen when starting a print, not while a print is already happening. As of so, there won't be a filament activating the FINDA as it is not loaded to the nozzle at this point

[2019-10-05 23:31] TheZeroBeast commented on #156
Hi Dave, thanks for the gcode so quick.

It all looks in order, can you describe the homing prior to the incorrect filament being loaded and what the lights do?

Or better yet a small video with your phone.

[2019-10-05 23:43] TheZeroBeast commented on #155
Ok, I think I understand now.

#### Is this the sequence of events?
1. **MMU2S** Connected, Printer LCD displaying active channel, no channel loaded
2. Start Print (USB from OctoPrint)
3. Heaters are set and proceed to heat
4. MeshBedLevel(**MBL**) starts then at some point it stops
5. **MMU2S** ejects filament (**M600** runout routine)
6. **MBL** starts again from the start.
7. Print progresses f

[2019-10-06 12:01] chrisboer opened #157 "OctoPi / OctoPrint is not opening anymore after TZB 3.0.0 firmware"
I updated my firmware towards TZB 3.0.0 but now I can not ready my RPi.

I have put it on off / on again but still nothing happens.

I know it is pingable as I have assigned a dedicated IP for it.

So what is causing this issue.

[2019-10-06 12:05] chrisboer commented on #157
It finally connected after 15 minutes... must be the initializing which takes this long

[2019-10-06 12:05] #157 closed, assigned to TheZeroBeast

[2019-10-06 12:06] TheZeroBeast commented on #157
Hey @chrisboer,

Did you load the MK3S & MMU2S firmware’s before trying connect octoprint back to your printer?

What’s showing on the printers LCD?

[2019-10-06 12:13] TheZeroBeast commented on #157
Cool, good to hear.
Hope you enjoy the FW, let me know your thoughts and any improvement ideas 👍

[2019-10-06 12:22] TheZeroBeast commented on #152
Let us collaborate on this design.
Propose/test/discus changes with my current design attached.

Apart from minimising the bondtech gear gap even further I don't have any issues with this design.
What do others think of the design?

[TZBMK3S-MK25S-Extruder.step.zip](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/files/3694329/TZBMK3S-MK25S-Extruder.step.zip)

[2019-10-06 13:19] XRyu commented on #155
As far as i can see you nailed it,

This is exactly whats happening! :D I attached the gcode, maybe i oversee something :)
[Prusa_MMU_enclosure_PSU_holder_black_0.2mm_PET_MK3SMMU2S_2h46m.gcode.zip](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/files/3694381/Prusa_MMU_enclosure_PSU_holder_black_0.2mm_PET_MK3SMMU2S_2h46m.gcode.zip)

I have loaded all channels where there is filament, right now

[2019-10-06 13:52] chrisboer commented on #157
I will certainly test and help you... I am a little bit tired on Prusa firmware.

I now had a problem with loading filament, I did not change anything in the printer configuration uploaded your firmware restarted the printer and everything works ;-) So lots of issues are software related.

[2019-10-06 15:15] habitforming11 commented on #135
I should have some time to give it a whirl this evening.

[2019-10-06 16:33] habitforming11 commented on #135
Hi @TheZeroBeast

Happy to report the firmware has been successfully loaded, and the MMU and printer both appear happy so far.  I haven't had a chance for a test print, but the MMU homes properly, the display on the printer is working, and the MMU properly shows as connected.

[2019-10-06 17:37] habitforming11 commented on #135
I just did a test print, have a strange issue.  The MMU idler isn't moving off of the active filament during a print.  I can hear the filament clicking against the bondtech in the mmu, and see the shaft turning from time to time as filament is being pulled through.  This happened on both lane 1 & 2 during a test print just now.  The load process selects lanes correctly, so I don't think it's a mec

[2019-10-08 00:45] TheZeroBeast commented on #135
Hi @habitforming11,

That's awesome progress!! 👏

I have a few questions.
 1. How many full rotations past flush are the two idler tension bolts on the MMU2S?
 2. Can you try grab the serial logs from the printer for a load sequence?
 3. Does the load to nozzle in the menu work and allow you to unload afterwards?

[2019-10-08 00:52] habitforming11 commented on #135
for the serial logs will that work if i just do load from the printer screen, or does it need to be during a print?

once i get to the printer in about 30 min I'll answer all of the above.

[2019-10-08 00:59] TheZeroBeast commented on #135
If the load_to_nozzle works from the menu it'll need to be from a print load thanks mate.
When you get time 👍

[2019-10-08 02:25] habitforming11 commented on #135
1.  Half a rotation past flush
2.  I will post in a separate reply
3.  I now cannot load as the printer no longer acknowledges the MMU.  I was doing "load all" and must have hit the incorrect button to skip each empty lane.  Now lane 5 red & green flash every time the MMU boot finishes, even after a reset.  I press the middle button and the MMU returns no normal state, but as soon as I power off o

[2019-10-08 02:45] TheZeroBeast commented on #135
Cool, might need to go further, half a rotation doesn't apply much force to the filaments to engage.
Your MMU2S is disabled in the Service Position (allowing use of printer without MMU2S)
This is a TZB FW feature.
Use Left button to direct back onto a channel and reset printer to reconnect the two devices.

[2019-10-08 04:22] habitforming11 commented on #135
Wow, that's a very useful feature!

1. 1.5 turns past flush
2. to follow
3. Load to nozzle is select-able.  The load is successful, however the MMU extruder motor gets dragged forward and backward during load/unload.  Unload is also completely successful.

[2019-10-08 04:33] habitforming11 commented on #135
Here is the log for item 2

[tzb_bn2462_BN358_log.txt](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/files/3700731/tzb_bn2462_BN358_log.txt)

I have also taken two videos that I will upload now.

[2019-10-08 04:49] habitforming11 commented on #135
video of initial load, and of first filament swap

https://drive.google.com/file/d/1B92-2giY3KKgaqNLeZ_n7MUPwQ8ieYHt/view?usp=sharing

https://drive.google.com/file/d/1BDlPciolJ8HjPprmJjbjyLOnv1qH1oCx/view?usp=sharing

[2019-10-08 13:41] TheZeroBeast commented on #135
So......
It appears to me like you need to do your Bowden calibration as the MMU2S is fighting to push more down a nonexistant tube.
Check out my wiki [post](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/wiki/Bowden-Length-Calibration), the calculated values differ for my FW.

Hopfully

[2019-10-08 15:10] habitforming11 commented on #135
I can certainly do that again, you're correct that it's probably out of spec at least some.  I had to replace that tube a week or two ago as the old one got chewed up from all the disassembly/reassembly.

However, I still see the MMU extruder motor getting dragged around during printing the actual part, not only during filament changes.  Shouldn't the selector index over to the next lane, so that

[2019-10-08 15:17] TheZeroBeast commented on #135
I’m not sure what would happen if the mmu2s tries to feed more and goes over the load.
My guess is the load never acts on the final command from the printer due to not being at that stage and never disengages the filament.

Try doing the cal at least twice to ensure you’re filament is at the middle of the bondtech gears 👍

[2019-10-08 18:05] habitforming11 commented on #135
I had assumed the IR sensor trigger would tell the MMU that filament reached the print head anyway.  I'll calibrate the length and see if the result is any different.

[2019-10-08 18:12] habitforming11 commented on #135
disregard

[2019-10-08 21:56] TheZeroBeast commented on #135
Lane one is your one and only for cal 😊👍

[2019-10-09 00:39] AbeFM commented on #135
It appears, to save time, to send filament most of the way at high speed,
then it monitors the IR sensor.

                  Thanks!
                          -Abe.
Sent from my "smart"phone, please excuse brevity and Swype-oes

On Wed, Oct 9, 2019, 5:56 AM Robert McKenzie <notifications@github.com>
wrote:

[2019-10-09 01:19] habitforming11 commented on #135
From your wiki description, it sounded like it stayed at lane 4.  Once I actually got to the printer & did it, the process was quite clear.

And with that, I believe the printer is now functioning properly.  I guess the MMU extruder was getting dragged along because of existing ridges in the filament from the bondtech.  Once it went through 2-3 tool changes, the funny noises stopped and the MMU ex

[2019-10-09 01:37] TheZeroBeast commented on #135
WOOOO!!!!! Thanks great, good work. I'll release the MK2.5S code soon👍

[2019-10-09 01:37] #135 closed, assigned to nobody

[2019-10-09 02:07] habitforming11 commented on #135
What is the logic behind the "heatbreak jam/clog" message?  I am getting that dragging effect on the MMU extruder again, and routinely getting heatbreak jam/clog notification.  On inspection nothing is apparently amiss.

[2019-10-09 02:16] TheZeroBeast commented on #135
Double check your IR_SENSOR is giving solid readings as if it's tripping on/off while loading it'll report a Jam.

Jam logic goes as follows within the load window (ie. filament has done major load and now both MMU2S and Printer are extruding so printer to grab)
1. Printer is turning extruder no filament in gears yet (IR_SENSOR must not give false positives)
2. Filament goes into gears which flags

[2019-10-09 02:36] AbeFM commented on #135
https://photos.app.goo.gl/avo4wobHQvNUfKva8 this allowed me to fix my issue.

                  Thanks!
                          -Abe.
Sent from my "smart"phone, please excuse brevity and Swype-oes

On Wed, Oct 9, 2019, 10:16 AM Robert McKenzie <notifications@github.com>
wrote:

[2019-10-09 02:59] TheZeroBeast commented on #135
Nah, no need to overcomplicate it. Simple, simple

[2019-10-09 04:28] habitforming11 commented on #135
Ok, I had suspected the IR sensor was the issue, thank you for the confirmation.  I wish there was a centralized location that explained all of these details.  It sure would make troubleshooting a whole lot easier.

[2019-10-09 04:29] habitforming11 commented on #135
@AbeFM I see the issue in the video, but what fixed it?

[2019-10-09 04:37] TheZeroBeast commented on #135
Hey @habitforming11,
I'm working on doing up steps and videos for troubleshooting in my wiki.

The MMU2S handbook that is sent out with the device covers most basic troubleshooting but I find videos convey a lot more when troubleshooting.

TZB-FW also has a lot of handy troubleshooting features that really only videos can convey.

[2019-10-09 06:44] AbeFM commented on #135
I just meant it's good to check if it's monotonic.

                  Thanks!
                          -Abe.
Sent from my "smart"phone, please excuse brevity and Swype-oes

On Wed, Oct 9, 2019, 10:59 AM Robert McKenzie <notifications@github.com>
wrote:

[2019-10-09 10:15] CaiJonas commented on #152
Thank you for the files. I changed the lever part to make it little bit easier to print. Additioning to that I am using a metal pin. You will need a 3mm reamer for some holes. Let me know what you are thinking, I will do now a lot of testprints, especially with soft TPU Filaments. I am now using a titan heatbreak from RS Präzision(Germany). We will see how it will perform, until now I can say it l

[2019-10-09 10:46] gizzburn opened #158 "Printer not Restarting"
Ensure you're running the latest **RELEASE** and you've checked the **Wiki** for answers before reporting. Any issues reported regarding previous **RELEASES** will automatically be closed and not responded to, this ensures the developer maintains focus & streamlines the development process.

**TZB-MMU2S Release Version**
The version of the release relating to the bug report.

**Describe the bug**

[2019-10-09 10:53] TheZeroBeast commented on #158
Hey @gizzburn,
Did you get the MMU2S software on as well as until it’s on the printer side won’t boot.

[2019-10-09 10:54] gizzburn commented on #158
Ah no I did not Robert will try again and do both this time lol..

[2019-10-09 10:55] TheZeroBeast commented on #158
https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/wiki/Flashing-Procedure
Video I made on the flashing 👍

[2019-10-09 10:56] gizzburn commented on #158
I even watched that Robert as well, old age .

[2019-10-09 10:57] TheZeroBeast commented on #158
Yeah, I know that feeling 👍
Let me know if it all works with the bondtech bmg👍

[2019-10-09 10:58] gizzburn commented on #158
Will do

[2019-10-09 11:00] TheZeroBeast commented on #155
Hi @XRyu,
Can you do a series of load_to_nozzle’s and ensure your IR_SENSOR is consistent in its readings?
I’m thinking if while mbl is happening it trips the IR_SENSOR then it’ll eject before continuing.

[2019-10-09 11:43] gizzburn commented on #158
Still no go Robert, the printer does not reboot after the update, I managed to get the MMU2s updated, but still the printer does not boot up fully, it justs sits there with 100% verifying

[2019-10-09 11:59] TheZeroBeast commented on #158
That is even after power cycling the printer I take it?
Interesting.... Let me have a think why that would be.

[2019-10-09 12:00] TheZeroBeast commented on #150
Hi @rmilyard, any chance you've loaded the release for Mosquito to confirm it works?

[2019-10-09 12:01] gizzburn commented on #158
Yes power it off and on makes no difference

[2019-10-09 12:41] TheZeroBeast commented on #158
Hi @gizzburn,

I think I found what happened, I've recompiled below.
Can you confirm that the BMG requires the below changes, as these are what are made in this config.

[code]

[TZB-MK3S-3.0.1-RC1-BN2463-Bondtech-16.hex.zip](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/files/3707351/TZB-MK3S-3.0.1-RC1-BN2463-Bondtech-16.hex.zip)

[2019-10-09 12:44] XRyu commented on #155
Hey, this might be it, i will try to check this later, as there is a print running right now.
Yesterday i did my first steps in Optimisation of my Start- and End-Gcodes in PrusaSlicer and inserted a phase for PINDA warmup and some settings Reset:

`; Original Prusa Start
M862.3 P "[printer_model]" ; printer model check
M862.1 P[nozzle_diameter] ; nozzle diameter check
M115 U3.8.0 ; tell printer la

[2019-10-09 12:47] gizzburn commented on #158
Success Robert will run some tests now after No1 Calibration, thanks a lot...

[2019-10-09 13:00] rmilyard commented on #150
No. I am in CA with family at Disneyland.

Sent from my iPhone

On Oct 9, 2019, at 5:00 AM, Robert McKenzie <notifications@github.com> wrote:

﻿

Hi @rmilyard<https://github.com/rmilyard>, any chance you've loaded the release for Mosquito to confirm it works?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/TheZeroBeast/TZB-MM

[2019-10-09 13:01] TheZeroBeast commented on #150
Ah sweet! Enjoy, let me know when you return.

[2019-10-09 13:48] gizzburn commented on #158
Robert just done a test cube,infact done two, one with the Bondtech firmware and one with your firmware,both cubes done on identical settings. I noticed on the Bondtech firmware the cube shows lines, I first noticed them on a lithopane I did, I printed the same one before the Bondtech firmware upgrade for a comparison.
But on your firmware those lines are much less visable, great work and thanks f

[2019-10-09 13:56] #158 closed, assigned to TheZeroBeast

[2019-10-09 13:58] TheZeroBeast commented on #155
Yes, that'll totally do it. Nice work finding it. Happy printing.

[2019-10-09 13:58] #155 closed, assigned to TheZeroBeast

[2019-10-09 22:58] habitforming11 opened #159 "MK2.5 bed unable to reach/maintain above 100C"
Ensure you're running the latest **RELEASE** and you've checked the **Wiki** for answers before reporting. Any issues reported regarding previous **RELEASES** will automatically be closed and not responded to, this ensures the developer maintains focus & streamlines the development process.

**TZB-MMU2S Release Version**
BN2462 / BN358

**Describe the bug**
Prior to using TSB firmware, printer had

[2019-10-10 02:16] TheZeroBeast commented on #159
Morning @habitforming11,

🤦‍♂️😂 I saw that in the MK2.5S config yesterday and it crossed my mind I might need to adjust as I did with the MK3S.

I'm checking HeatBedPIDs now, I'll update you in a bit.

The clicking is normal on my FW as I approach PWM a different way to PRUSA.

[2019-10-10 02:19] habitforming11 commented on #159
Cheers!  I was just going to update that by changing back to stock FW the heating issue went away, as well as the clicking.

Seperately, could my loading issues with your firmware been contributed to the longer internal path of the Bear extuder, vs the newer Prusa design (50mm vs 43mm, I believe)?  I use a custom bear firmware that has those changes in the stock firmware.  I'm rather embarrassed t

[2019-10-10 02:23] TheZeroBeast commented on #159
Here we go,

I should of aligned the BEDPIDs with the MK3S ones due to my PWM timer changes.

[TZB-MK25S-3.0.1-BN2466.hex.zip](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/files/3710160/TZB-MK25S-3.0.1-BN2466.hex.zip)

[Here's](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/issues/130) where I had my scope on the bed setting it up.

Yeah mate, that'd make a big difference, what bear chan

[2019-10-10 02:25] TheZeroBeast commented on #159
BN2466 Pushed to release page for other MK2.5S owners.

[2019-10-10 02:27] habitforming11 commented on #159
Thanks, I'll confirm in about 1.5 hours.  Have a print going now.

[2019-10-10 02:28] habitforming11 commented on #159
The firmware changes for the Bear extruder are on the following link, under "Changes from Original Prusa firmware"

https://github.com/bear-lab-3d/Prusa-Firmware/releases/

[2019-10-10 02:53] TheZeroBeast commented on #159
Bear issue now in [release](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/releases/tag/3.0.1) page, let me know if it helps although it only changes some Z axis offsets.
If the extruder design is different, as in different distance from bondtech gears to nozzle then adjustments would need to be made for it to be smooth.

The heating issue should be all good now though👍

[2019-10-10 04:32] habitforming11 commented on #159
I just tested out the new Bear firmware TZB-MK25S-3.0.1-BN2467-Bear.hex, and the heat bed issue is still present.  won't go past 102C, and still makes a clicking noise.  is there a bed PID calibration I need to run?

[2019-10-10 05:06] TheZeroBeast commented on #159
What set bedtemp are you trying to obtain?
There is a autotune you can run but I don't think that'll help with the way PID is calculated in PRUSA FW, I'll review options based on the first question.

[2019-10-10 05:08] habitforming11 commented on #159
Trying to get to 105 to start the print, and 110 for layer 2+.

[2019-10-10 17:22] TheZeroBeast commented on #159
Hey @habitforming11, found the issue for sure this time.
Interesting that I haven't had the issue as yet but I'll put that down to my enclosure when printing at higher bed temperatures.

Attached for your consideration 😀
[TZB-MK25S-3.0.1-BN2468-Bear.hex.zip](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/files/3713800/TZB-MK25S-3.0.1-BN2468-Bear.hex.zip)

[2019-10-13 12:38] TheZeroBeast commented on #152
Hi @CaiJonas,
I've also been testing some changes I've done to reduce bondtech clearance as it was still over 1mm above gears which is unacceptably for flex.

Here is a photo of how little clearance I've gotten it down to....
![TZB2_Extruder](https://user-images.githubusercontent.com/20939095/66715664-31417300-ee09-11e9-8cbf-f5255e784eba.jpg)

So far I've been unable to jam TPU in it even when ext

[2019-10-13 23:10] TheZeroBeast commented on #159
Hi @habitforming11, did you have a chance to test?
I did a heated bed run on my mk2.5 with the fix and it’s heating fine to 110c👌

[2019-10-13 23:26] habitforming11 commented on #159
hey bud I'm going to try to get to it this evening.  had some prints i had to get done over the past few days

[2019-10-14 02:38] habitforming11 commented on #159
I'm still getting the buzzing sound from the main board / heat bed.  Video attached below.
https://drive.google.com/file/d/1DD9WKI_0YhG6Upx-w8VGNE4n-8KUIHQo/view?usp=sharing

The bed does reach 115 without issue, and with zero overshoot.

[2019-10-14 02:43] TheZeroBeast commented on #159
Yes, the buzz is normal due to hardware limitations of board design requiring low frequency switching 30Hz, PRUSA do a lot of hacking to make it not buzz which uses a lot of CPU cycles, much cleaner to accept the buzz. Awesome to hear it now reaches temp 👍

[2019-10-14 02:43] #159 closed, assigned to TheZeroBeast

[2019-10-14 02:49] habitforming11 commented on #159
Ok I can live with the buzz, just want to be sure it's expected and doesn't cause undue wear.  Thanks again for all of your effort with getting this going.  Testing to resume in a few days :)

[2019-10-18 03:53] AbeFM commented on #152
I can't really view on the road, but in the past I've found overly
constricting the door's motion didn't help, maybe hurt, but not definitive.

My complaint is the gap between plastic and gears, especially on top,
sometimes unloads will wrap soft filament around the driven Bondtech.

MMU also suffers from unneeded big gaps.

                  Thanks!
                          -Abe.
Sent from my "s

[2019-10-18 03:56] AbeFM commented on #152
Picture finally loaded! Looks like exactly what I was talking about. :-)

The other, very minor changes are to lever , the detailed shape of flag and
perhaps the angle of the surface the door pin pushes on.

Sorry if I'm not much help from out here. :-(

                  Thanks!
                          -Abe.
Sent from my "smart"phone, please excuse brevity and Swype-oes

On Fri, Oct 18, 2019, 1

[2019-10-18 04:24] AbeFM commented on #152
I like what you did. Suggestions:
Small chamfer after gears (only on one side I think, not needed on lower
side)
Add meat above gears and let PTFE get closer.

Both are pretty small and might be hard to pull off.

                  Thanks!
                          -Abe.
Sent from my "smart"phone, please excuse brevity and Swype-oes

On Fri, Oct 18, 2019, 11:56 AM Abraham Mara <Abe@abefm.net> wrot

[2019-10-19 09:11] CaiJonas commented on #152
@TheZeroBeast we did a lot of research in our company with printing soft filaments. You are correct with reducing the gaps, additioning to that there are some other important things to do but it's not possible with the Prusa Mk3. We are able to print filaments with a hardness of shore a60. I have problems with loading the flex filaments. Sometimes it wraps around the gears in the main unit. Next s

[2019-10-20 10:19] TheZeroBeast commented on #156
Hi @Penfold81, have you had a chance to look further at this issue you're having?

[2019-10-20 10:23] TheZeroBeast commented on #152
Yes, gaps in the MMU2S unit kill the flex at times, very large gaps around the gears.
I wonder why it was ever designed with such crazy tolerances. I've even seen bits of PLA jammed in around the gears in the MMU2S.

[2019-10-20 10:53] Penfold81 commented on #156
Hi

I have tried a few things but decided to go back to stock as it’s a pain in the butt if using octoprint.

Thanks

Dave

Sent from my iPhone

On 20 Oct 2019, at 11:19, Robert McKenzie <notifications@github.com> wrote:

﻿

Hi @Penfold81<https://github.com/Penfold81>, have you had a chance to look further at this issue you're having?

—
You are receiving this because you were mentioned.
Reply to

[2019-10-20 11:08] TheZeroBeast commented on #156
Ah ok 👌
I use Octoprint for all my prints by the way, no pain in my butt.

[2019-10-20 11:08] #156 closed, assigned to TheZeroBeast

[2019-10-20 21:28] CaiJonas commented on #152
@TheZeroBeast Here is my design of the main unit. Didn't had the time to test it very much until now. You can change the tolerances of the insert, so it's not nessesary to print the hole unit again. Let me know what you are thinking.

Caution: You have to shorten the grub screws to 2mm

Best Regards
[mmu2-pulley-body_CaiJonas_9mm v2.zip](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/files/374

[2019-10-23 09:03] XRyu opened #160 "Show PINDA-temp when heating"
Is it possible to show in the LCD when PINDA is heating?

I have a pre-print gcode sequence for PINDA-warmup before Mesh Leveling,
when this happens the Terminal shows the Temperature of PINDA, but the LCD only shows "Please Wait", could this be enriched by PINDA-Temp?

I use this GCode to wait for PINDA-Temp to stabilize:
M860 S35 ; wait for PINDA temp to stabilize

[2019-10-23 11:39] TheZeroBeast commented on #160
Yes 👍

[2019-10-25 11:56] TheZeroBeast commented on #150
@rmilyard, how was Disneyland, any update on this thread?

[2019-10-25 23:37] XRyu commented on #153
Not sure if this is possibe, but what do you think about incorporating some modifications of this things into the TZB MMU2S Selector? :D
I really love the idea open FINDA Canal with (reused-stock (remix)) Magnets and the opened chamber for troubleshooting and understanding whats going on and even cleaning.
https://www.thingiverse.com/thing:3528314 (have a look on the remixes too)

[2019-10-26 02:51] habitforming11 commented on #152
Do you have the proper length of the PTFE tubing that goes in the top of the hot end?  I'd like to make a cutting jig for it (if you don't expect it to change in the near future).

[2019-10-26 04:15] TheZeroBeast commented on #152
Hey @habitforming11,
I keep forgetting to measure when I have my extruder apart but will try get a length.

@CaiJonas, still getting to having a look at you step sorry.
What grub screws did you have to shorten to 2mm? The bondtech retaining grub screw?

[2019-10-26 04:22] TheZeroBeast commented on #153
Hi @XRyu,

Wow, that’s a bit different 🤔🙂
The only difference I really see is the open design to visualise the interaction.

It would be interesting but really imho my degrade part strength on that side resulting in a let functional part.

Which selector are you running at the moment if you don’t mind me asking

[2019-10-26 05:49] gorbi87 opened #161 "Marlin 2.0 Support"
Hi,
i have selfbuild CoreXY with Marlin2.0 and MMU.I try to change the mmu firmware from prusa to TZB. Flashing sucessful but no serial connection after flashing between mmu and einsy. Unfortunately i cant use the Prusa firmware because CoreXY is not really supportet. With the original Prusa MMU firmware everthing works fine. Any chance to support Marlin2.0 too?

[2019-10-26 13:52] XRyu commented on #153
Hey @TheZeroBeast,

yeah, the open design is the key of this i think :)
I printed this one, but failed to assemble because i got the thing with the hole-to-cut wrong.
On the same day i found your project and printed the TZB-Selector (then v1) and use it since then.
Anyway, is it worth to print and update to the new one? :)

[2019-10-26 16:54] gizzburn commented on #153
I have printed this selector in ABS but have yet to fit it. might get time tomorrow to do it.

[2019-10-27 03:24] TheZeroBeast commented on #161
Hi @gorbi87,

I don't have the hardware or time to support marlin2.0 sorry.
It would be a large amount of work to pull the two together, not impossible though.

What approach did you take?

[2019-10-27 03:38] TheZeroBeast commented on #160
Hi @XRyu, just an update, I'm testing this feature at the moment.
I made the status line of the lcd show PINDA current/target temps until M860 is complete.

[2019-10-27 05:42] TheZeroBeast commented on #137
Hi @AbeFM,

I'm looking at this now.

The solution I've come up with is a preheat option at the top that appears once the extruder has had at least one set temperature.
As no previous heater set temperatures are stored(once they're set to '0' you have no reference to previous temp), I created a previous variable to store the extruder temp whenever it's set to something not '0'.
This variable is se

[2019-10-27 05:45] TheZeroBeast commented on #160
Try this out when you get a minute @XRyu
I haven't found a fix for the lcd flicker every 1s update but I'll keep an eye out. Still nice and functional.

[TZB-MK3S-3.0.3-ALPHA-BN2473.hex.zip](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/files/3775551/TZB-MK3S-3.0.3-ALPHA-BN2473.hex.zip)

[2019-10-27 05:51] TheZeroBeast commented on #153
@XRyu, the new version of the TZB-Selector re-adds the blade holder and removes an unintended bit in the filament path so not worth redoing if you're still using the old one.

@gizzburn, just note if it doesn't go together that this is designed for PETG, for ABS you have to scale by 1.5-2% to have the same dimensional accuracy to the design.

[2019-10-27 11:16] gizzburn commented on #153
Robert I printed this on a PLA profile tweaked for ABS, I did not rescale it and it printed fine, I managed to fit to my MMU2s last night and did a test cube in pla, it came out perfect and the selector works a treat, you can here the ball cling to the magnet when the fillament retracts back to the buffer.
I printed off your buffer design and its working well now with my setup, I just need to read

[2019-10-27 15:14] gorbi87 commented on #161
Thanks for your answer. I have exactly the same hardware like prusa but in a CoreXY build. Everything works fine with Marlin 2.0 and the MMU2s with the original Prusa firmware. But when i use your firmware for the mmu it seems there is no serial connection between the Einsy board and the mmu. So i thought you have change something in the serial communication in the mmu firmware. Maybe you have any

[2019-10-28 00:08] TheZeroBeast commented on #161
Sorry, this firmware doesn’t communicate the same as PRUSA FW if you’ve only flashed the mmu2s.
Marlin would have to be retrofitted with my uart setup include payload protocol as well as all the code associated that understands the mmu2s messages.

[2019-10-28 21:48] gizzburn opened #162 "MMU2s Selector making loud click on startup"
Just updated to latest Bondtech BMG software TZB-MK3S-3.0.2-BN2472-Bondtech-16.hex and TZB-MMU2S-3.0.2-BN362.hex.

Now everytime the printer starts and the mmu2 boots up it sounds like its jamming, its the motor that moves the roller with the bearings on, its like its want to move the roller but has reached the stop and makes this horrible noise, was fine till the update running on the previous ve

[2019-10-28 22:22] TheZeroBeast commented on #162
I’ll double check I haven’t changed something that matters for it 😅👍

[2019-10-28 22:38] gizzburn commented on #162
Also Robert are the ramming and cooling settings still the same for the my setup? below are my settings
![ramming](https://user-images.githubusercontent.com/22871361/67723331-94b7cd00-f9d3-11e9-8bf8-2f2e002efa3f.jpg)

[2019-10-28 22:47] TheZeroBeast commented on #161
It would make it easier having the same hardware.
The entire mmu2s and comms setup is different to stock

On marlin side you’d start by pulling in the mmu.cpp, mmu.h, uart2.cpp & uart2.h files.
These have the serial setup, the protocol methods and most of the mmu interface code.

[2019-10-28 22:50] TheZeroBeast commented on #162
Did you upgrade from v3.0.1 @gizzburn?

The normal stock speeds and distances work on a normal setup, for the different extruder I’d wager you’d need to adjust them, not that I’ve seen what you’d have to adjust for the bmg

[2019-10-29 06:40] XRyu commented on #160
Works and looks pretty nice @TheZeroBeast  :D
I see what you mean by the flickering, it could be smoother, but its fine as long its needed :D

[2019-10-29 08:59] gizzburn commented on #162
Yes Robert I upgraded from 3.0.1.

[2019-10-29 09:42] TheZeroBeast commented on #162
Cool, I found the culprit, I’ll send through a test hex soon 👍

[2019-10-29 11:02] TheZeroBeast commented on #162
Give this a whirl @gizzburn, let me know if it's still not homing properly for the idler
[TZB-MMU2S-3.0.3-ALPHA-BN363.hex.zip](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/files/3783197/TZB-MMU2S-3.0.3-ALPHA-BN363.hex.zip)

I made it three taps on the end stop on this build to triple check it's working on yours

[2019-10-29 16:07] gorbi87 commented on #161
ok, thank you. I will try this

[2019-10-29 16:17] gizzburn commented on #162
Robert it will not flash the file, tried several times, even tried both files printer and MMU but it wont flash the file. I tried the old version file for the MMU2 and that flashed no problem, The log says time out on port 8 and it uses the same port for the old file.???

[2019-10-29 23:08] Panayiotis-git commented on #162
Try adding the line:
; device = mm-control
at the beginning of the hex file.

Στις Τρί, 29 Οκτ 2019 στις 6:17 μ.μ., ο/η gizzburn <notifications@github.com>
έγραψε:

[2019-10-30 00:11] TheZeroBeast commented on #162
Yeah, that line was in the hex, I just double checked. See if it shows for you on this one, same zip I downloaded from the above link.

[TZB-MMU2S-3.0.3-ALPHA-BN363-Retry.hex.zip](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/files/3786333/TZB-MMU2S-3.0.3-ALPHA-BN363-Retry.hex.zip)

[2019-10-30 10:48] gizzburn commented on #162
Ok Robert that worked and I now get three taps and no grinding noise, will try a print.

[2019-11-01 06:56] TheZeroBeast commented on #160
Ok, so it worked but not when printing from SDCard so I tried again and I think this solution is much better.

[TZB-MK3S-3.0.3-ALPHA-BN2474.hex.zip](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/files/3796923/TZB-MK3S-3.0.3-ALPHA-BN2474.hex.zip)

[2019-11-01 07:00] TheZeroBeast commented on #162
Hi @gizzburn, I did some further tuning, also going back to two touches not so fast as the fast ones weren't accurate. Can you please let me know if this makes the load clicking on startup?

[TZB-MMU2S-3.0.3-ALPHA-BN363.hex.zip](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/files/3796934/TZB-MMU2S-3.0.3-ALPHA-BN363.hex.zip)

[2019-11-01 12:04] Canceltodebug opened #163 "Rapid flashing LED on filament load"
**TZB-MMU2S Release Version**
3.0.2

**Describe the bug**
Rapid LED (first light) flashing orange when filament loads to MMU2 or extruder. Bed and extruder continue to reach temp and no error message. Have to press 3rd button to retract filament and then 2nd button to reload. If extruder not up to temp then it will flash orange again.
Seems to me like a feature added since 3.0.1.

**To Reproduce**

[2019-11-02 16:19] XRyu commented on #160
Great! I will try this later today :)

[2019-11-03 00:29] XRyu commented on #160
Hah nice one! :D First i thought "heh? its just Please Wait again..." and then i've seen it - beautifully integrated :D

[2019-11-04 00:37] AbeFM commented on #135
Sorry for the late reply! Er, I printed a couple different flags, and ended
up putting foil tape on the tip. The shape of the tip is important, but I
didn't get anything definitive enough to publish.

On Tue, Oct 8, 2019 at 9:29 PM habitforming11 <notifications@github.com>
wrote:

[2019-11-04 01:41] TheZeroBeast commented on #163
Hi @Canceltodebug,

No new features regarding this have been implemented since 3.0.0.
The flashing LED is indicating load error which needs to be cleared before it will continue.

How is it even attempting to load if the hotend isn't up to temp? This is indicating that your start gcode isn't correct.

If by chance you're using the octoprint script that replaces T? with T<n> then this will cause th

[2019-11-04 01:46] TheZeroBeast commented on #137
I have been running it for a week now and I find it helpful, not ideal not knowing the temp you're going to, I'll see is another code guru can assist with a fix.

Give it a whirl and let me know what you think @AbeFM

[TZB-MK3S-3.0.3-ALPHA-BN2474.hex.zip](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/files/3802476/TZB-MK3S-3.0.3-ALPHA-BN2474.hex.zip)

[2019-11-04 01:48] TheZeroBeast commented on #160
😂 awesome, i'll close this off but it'll be in the 3.0.3 release when it comes 👍

[2019-11-04 01:48] #160 closed, assigned to nobody

[2019-11-04 01:48] TheZeroBeast commented on #150
Stale issue thread. It you have any issues please advise so we can re-open and resolve.

[2019-11-04 01:48] #150 closed, assigned to TheZeroBeast

[2019-11-04 01:51] TheZeroBeast commented on #154
Hey @AbeFM, can you try this out again and let me know?
I have been making some homing tuning that might make your idler homing more accurate

[TZB-MMU2S-3.0.3-ALPHA-BN363.hex.zip](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/files/3802484/TZB-MMU2S-3.0.3-ALPHA-BN363.hex.zip)

[2019-11-04 02:51] alackofcolor opened #164 "OLED Screen Support in Firmware"
Any chance of adding support for WEH002004 OLED display, like in gussner's firmware? Thanks.

[2019-11-04 03:00] alackofcolor opened #165 "MK3S Bondtech Mosquito Support"
Request to add MK3S Bondtech + Mosquito printer support.

[2019-11-04 03:54] AbeFM commented on #154
first thing tomorrow, sir!

                  Thanks!
                          -Abe.
Sent from my "smart"phone, please excuse brevity and Swype-oes

On Sun, Nov 3, 2019, 5:51 PM Robert McKenzie <notifications@github.com>
wrote:

[2019-11-04 09:56] Canceltodebug commented on #163
I've rolled back to 3.0.1 and it is working as expected again.
No modifications are being made to the gcode after being sliced with PrusaSlicer 2.1.0.
Not using Octoprint either. Just a standard 'model > slice > print from SD card'.

I will re-install the 3.0.2 firmware again later today but since I'm not changing anything during the slicing process from 3.0.1 to 3.0.2, I don't see if this will he

[2019-11-04 10:40] TheZeroBeast commented on #165
Hi @alackofcolor,

as per issue #150 this should already be implemented under released compiled binaries, the one ending in **Bondtech-16-SE_HT_Thermistor**

If you could let me know if you have any issues, it has all the changes I understand is required for the mosquito

[2019-11-04 10:41] TheZeroBeast commented on #164
Do you have a reference I can look at of Gussner's?

What nifty benifits does this OLED provide, I might also be interested.

[2019-11-04 10:43] TheZeroBeast commented on #163
Hi @Canceltodebug, I think I found a line that might be causing this issue that crept in with LA1.5 integration. I'll build a test hex tomorrow for you to try.

[2019-11-04 10:49] TheZeroBeast commented on #161
I'll close this issue thread but feel free to post back any questions, I'll reopen and try assist.

[2019-11-04 10:49] #161 closed, assigned to nobody

[2019-11-04 11:03] Canceltodebug commented on #163
That's great, thank you.

[2019-11-04 11:25] 3d-gussner commented on #164
@TheZeroBeast Hi, here the reference code and some other links
https://github.com/3d-gussner/Prusa-Firmware/tree/MK3_WEH002004_OLED
https://forum.prusaprinters.org/forum/original-prusa-i3-mk2-s-others-archive/oled-replacement/#post-31385
https://vmod.wordpress.com/%E2%80%A6/%E2%80%A6/mk2s-oled-screen-replacement/

https://www.facebook.com/groups/284271408664100/search/?query=oled&epa=SEARCH_BOX

[2019-11-04 11:46] alackofcolor commented on #164
@TheZeroBeast  @3d-gussner If I'm not mistaken, most of the changes in the firmware need to be done to the lcd and ultralcd files. Versions of those files for OLED screens had been floating around on the forums for a while, until Prusa FW 3.8 or so, which didn't play nice with them anymore. That's when I came across the Zaribo and Gussner FW, which added support for those screens in a real firmwar

[2019-11-04 11:54] alackofcolor commented on #165
@TheZeroBeast

According the the [Bondtech website](https://www.bondtech.se/en/2019/09/12/firmware-updates-for-prusa/), they release firmware modifications for the Bondtech + Mosquito combo, as well as Bondtech + Mosquito + HT Thermistor.

For people simply swapping out the E3D v6 for the Mosquito, but sticking with the E3D thermistor that came with the printer since it's already Mosquito-compatib

[2019-11-04 12:09] TheZeroBeast commented on #165
Ah ok, well the **Bondtech-16** is the version without SE HT Thermistor table enabled.

[2019-11-04 12:09] 3d-gussner commented on #164
@alackofcolor Pretty cheap upgrade is relative as it costs ~50USD https://zaribo.com/home/245-oled-display-20x4-white-black-by-ldo.html :-)

[2019-11-04 12:15] 3d-gussner commented on #164
BTW: Some Zaribo users and the owner are testing the OLED firmware also on LCD displays. I don't own one and accidentally flashed my MK3s with the OLED firmware and it worked. We will see if that also works in the "wild" :-)

[2019-11-04 12:18] alackofcolor commented on #164
@3d-gussner I believe I got mine for $35 off Digikey. It's such a common electronic component, that electronic sellers won't inflate the prices like 3D printing sellers will.

[2019-11-04 12:21] TheZeroBeast commented on #164
Looks cool, quite steep price point for a small OLED

I'll have to do some review and testing of the code. Thanks @3d-gussner for linking in all this info

[2019-11-04 12:26] alackofcolor commented on #165
Does the Bondtech-16 version account for the Mosquito as well, or just the Bondtech extruder? It looks like the Bondtech website's firmware shows changes that are specific to the Mosquito (path lengths, etc), even when the normal, non-HT thermistor is used. Thanks.

[2019-11-04 13:06] TheZeroBeast commented on #163
[TZB-MK3S-3.0.3-ALPHA-BN2476.hex.zip](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/files/3804086/TZB-MK3S-3.0.3-ALPHA-BN2476.hex.zip)

[2019-11-04 17:41] AbeFM commented on #163
does this certain include the changes you wanted me to test yesterday?
Should I run this one instead of what's linked in other thread?

                  Thanks!
                          -Abe.
Sent from my "smart"phone, please excuse brevity and Swype-oes

On Mon, Nov 4, 2019, 5:06 AM Robert McKenzie <notifications@github.com>
wrote:

[2019-11-04 17:47] Canceltodebug commented on #163
Loading as per 3.0.1 again. Thank you :)

[2019-11-04 19:58] AbeFM commented on #154
Trying this, along with the  TZB-MK3S-3.0.3-ALPHA-BN2476.hex.zip
<https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/files/3804086/TZB-MK3S-3.0.3-ALPHA-BN2476.hex.zip>
posted
in "Rapid flashing LED on filament load (#163)", and while it's hardly
statistically significant, I'm 2 for 2 successfully loading compared to my
more recent track record of 1 out of 15.

I don't understand why it had suddenl

[2019-11-04 23:58] TheZeroBeast commented on #163
@AbeFM this one mate.

@Canceltodebug, did you see if that build helped the lid issue?

[2019-11-05 00:00] TheZeroBeast commented on #154
@AbeFM, cool, sounds good 👍

[2019-11-05 11:49] Canceltodebug commented on #163
Hi @TheZeroBeast
Yes, it is loading correctly again. Thank you.

[2019-11-05 17:49] AbeFM commented on #160
Out of curiosity, why do you need it? I used to have issues with preheating
but with 7x7 things just stick.

What's your experience been?

                  Thanks!
                          -Abe.
Sent from my "smart"phone, please excuse brevity and Swype-oes

On Wed, Oct 23, 2019, 2:03 AM Thomas Rose <notifications@github.com> wrote:

[2019-11-05 18:06] AbeFM commented on #154
5x5x3x2 = 150 changes in two prints with one failed unload that was my own fault is still a short test, but it says good things. So far I'd say it's better.

[2019-11-05 18:17] AbeFM commented on #142
FYI link goes to a 404.

[2019-11-05 18:21] AbeFM commented on #137
Running BN2476, which I assume has the same changes in it - and just giving it one quick test from what happened to be sitting on the SD card and happened to be loaded into the machine, yes!

It seems to do exactly what I want, and it IS super helpful!

If I do a more complex, multi-material print and I see it misbehave, I'll update. Thanks again, this was a minor but constant pain point for me be

[2019-11-05 20:45] XRyu commented on #160
Hey @AbeFM , i have a PINDA Warmup in my Start-Gcodes. Everything worked and works, i just thought "there is this process i know is going on, but printer only says 'please wait', it knows all the values, so it should communicate the current progress to me" :)
so this was more a feature / cosmetic request

[2019-11-05 21:20] AbeFM commented on #160
That's what it looked like, and I also think it is a reasonable request.

But I was saying, if you just forget the warm up, how does it work? I used
to wait a LONG time for preheat, but once the 7x7 MBL was added to the
official PR firmware I just stopped waiting for temperature and I had great
first layers.

If you turn off the wait/check, what happens?

On Tue, Nov 5, 2019 at 12:46 PM Thomas Ros

[2019-11-05 21:48] XRyu commented on #160
Hmm i dont know didn't try. I've set to 7x7 two days after i got my prusa, so i might not have much of an reference. But my first layers got better when my PINDA is warmed up, before i had some errors mainly in the left side of my bed. Which feels like it takes only  2-3 minutes, which is finally pretty fine for me for any print :)
( i have open to-do to try the Bed-Leveling Method with Nylocs to

[2019-11-05 22:00] AbeFM commented on #160
On a related note - I think that's way overkill. YMMV, but I loosened the
front and rear y-axis mounting screws, and lifted the bed a little where it
was low, dropped a little where it was high and got the corrections needed
down to VERY small numbers.

You may find this works just as easily for you. When I mention it online, I
get a lot of people telling me that just because their hours long proc

[2019-11-05 22:08] XRyu commented on #160
i believe your prcoess can work :) as of right now i am pretty happy with my printer and print quality, but you know, one always wants to upgrade or make better :D
 i dont really know how bad my bed i levelled though, need much more reading before changing anything. currently it looks like this in my Octoprint
![image](https://user-images.githubusercontent.com/131995/68250410-27ceb380-0021-11ea-9f

[2019-11-06 01:58] TheZeroBeast commented on #142
Fixed here, I think I had to recreate my part for some reason 🤦‍♂️

https://www.prusaprinters.org/prints/7690-tzb-mk3smk25smmu2s-extruder-mmu2s-no-tower-v2

Also note this is a dead thread that’s been moved to the extruder discussion thread

[2019-11-06 02:31] TheZeroBeast commented on #163
Wonderful, the fix will be apart of the next release, thank you for your help.

[2019-11-06 02:31] #163 closed, assigned to TheZeroBeast

[2019-11-06 02:51] TheZeroBeast commented on #165
So many 😅 I had no idea how many bondtech variants were out there and yes the one I currently do appears to be for the BMG with the stock V6 hotend.

I've pulled in the mosquito variants and attached a binary build for MK3S mosquito for you to test.

[TZB-MK3S-3.0.3-ALPHA-BN2477-Bondtech-16-Mosquito.hex.zip](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/files/3812278/TZB-MK3S-3.0.3-ALPHA-BN24

[2019-11-06 03:18] TheZeroBeast commented on #154
Looking good, should be solved by the sounds of it. 👌

[2019-11-06 03:18] TheZeroBeast commented on #162
@gizzburn, have you had a chance to try the last hex I posted above?

[2019-11-06 03:20] TheZeroBeast commented on #137
Glad it's as intended, I'm still not fully happy I can't get the value to display, as mentioned above I am seeking some further assistance and will update on any progress.

[2019-11-06 03:20] #137 closed, assigned to nobody

[2019-11-06 03:26] AbeFM commented on #137
I agree it would be nicer looking, but having it working is the big
difference. Will save a lot of time!

                  Thanks!
                          -Abe.
Sent from my "smart"phone, please excuse brevity and Swype-oes

On Tue, Nov 5, 2019, 7:20 PM Robert McKenzie <notifications@github.com>
wrote:

[2019-11-06 09:31] gizzburn commented on #162
Hi Robert will try it today been away for a few days..., but before I left I could not get the printer to print at all, on multi colour, it would not unload the filament at first so the first filament got stuck.
I did some checking and I have found on the bondtech extruder body thats supplied with the upgrade has a very small bore hole from the ptfe on top through to the ptfe in the heatbreak. I c

[2019-11-06 20:07] alackofcolor commented on #165
Yeah, there's quite a few out there. Luckily it seems like Bondtech does a pretty good job of keeping each of the firmware variants updated. Though I'm not sure what it involves on your end to tie that into what you're doing.

I'll be able to test the firmware you attached in the coming days and get back to you. Thanks for the work.

[2019-11-06 20:18] AbeFM commented on #137
Not sure if this is a related bug, but I haven't seen it before:

Start print.
Notice your filament feed is garbage, pause print and fix it using awesome Preheat to Last feature.
When you select 'Resume print', I get:
![image](https://user-images.githubusercontent.com/42385/68334288-276d0180-008f-11ea-80d1-5547cc454b07.png)

I double checked I had "fan check" off (using a 2 wire fan, ironically wh

[2019-11-06 23:33] gizzburn commented on #162
Robert I think there might be a bug, I cant print anything because my temps are going up and down even after a PID tune, it drops to 204 from 230 at random times, I am going to try Bondtechs FW and see if that does the same.

[2019-11-07 02:26] TheZeroBeast commented on #162
Hi @gizzburn,

If you IR_SENSOR is trowing a false positive it's going to break the load sequence.
I upgraded my extruder to my latest design a couple weeks ago and needed to retune my sensor. It was trowing false positive once every rotate because the grub screw, I had to file the corners away a little bit more. Just an example how fine the adjustment is to get solid sensor readings.

Your extrud

[2019-11-07 02:32] TheZeroBeast commented on #137
Yeah, that's not looking good. Can you please open an issue for this on the PrusaFirmware repo?

Interesting, I bet if I tried and still had a 3 wire fan attached it'd read the rpm and continue 🤔
I'll try find in my codebase to fix also, I'd say you're correct about the resume from pause.

[2019-11-07 02:35] AbeFM commented on #137
Your mk3 repo or the official Prusa one?

I.'m not sure it's in their code yet...

                  Thanks!
                          -Abe.
Sent from my "smart"phone, please excuse brevity and Swype-oes

On Wed, Nov 6, 2019, 6:32 PM Robert McKenzie <notifications@github.com>
wrote:

[2019-11-07 03:00] TheZeroBeast commented on #137
I'f you haven't changed your fan over yet would you please do a test with stock MK3S fw to see?

[2019-11-07 20:55] gizzburn commented on #162
Robert it was my install of slicr3 making the temps alter, I used an older version and ithe temps were good, I also had a partial clog in the heatbreak. I have stripped it down and cleaned it out, all built up now.

I also keep getting this on the lcd and the printer reboots.
![lcd](https://user-images.githubusercontent.com/22871361/68426839-e1a05e00-01a0-11ea-9366-83ce1f53bd78.jpg)

I will instal

[2019-11-09 01:02] AbeFM commented on #137
I would want to know the loading-distance (gear to nozzle distance) for
your extruder so I could compile it. :-)

On Wed, Nov 6, 2019 at 7:00 PM Robert McKenzie <notifications@github.com>
wrote:

[2019-11-09 01:19] AbeFM opened #166 "Selector blocks manual clearing of failed MMU loads"
When I get a bad load, or grind plastic in the MMU, generally I can clear it if I can get the Selector out of the way.

The two buttons are dedicated (I believe?!?) to feeding the filament in and out, and pressing the center moves the selector tantalizingly away but it comes right back before you can clear the error.

Perhaps a long press on the buttons could move selector, or the move to the serv

[2019-11-09 14:23] gizzburn commented on #162
Robert I kept getting this screen even with the new version and random reboots, so I have installed the Bondtech FW the latest from then and not seen this screen or the random reboots.. But still I cant print multi filaments.
I noticed when watching the sensors that when it goes to make the filament change the IR sensor is working as it should, but the finda never changes from 1 on filament change

[2019-11-09 19:03] gizzburn commented on #162
Ok did a factory reset on the MMU2 and installed the latest TZb FW up to now no resets and no screen with jumbled up text.
If you remember Robert I printed off an updated finda holder with a magnet to pull the ball bearing down on filament unload, I thought this could be my loading problem, so I went back to the original holder but this made no difference.
I am at a loss now as I have tried all I

[2019-11-09 19:48] gizzburn commented on #162
Robert just been reading this page of yours https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/wiki/FINDA.

When I checked my Finda it works the opposite way to the way you say how to check it. When I put the filament in and press the finda down on the ball and filament my light is off, when I pull it away the light comes on, which way is correct, I would say your way but how do I change it?.

[2019-11-09 20:06] TheZeroBeast commented on #162
Hey @gizzburn,

Glad to hear a factory reset fixed the screen thing, I hadn’t seen that before.

The finda response is very interesting, I’ll double check my finda light response soon and get back to you.

[2019-11-09 20:25] gizzburn commented on #162
Robert found this post, on github it seems there is a problem on Finda probe as this is eaxctly what I am seeing on my printer.

https://github.com/prusa3d/Prusa-Firmware/issues/1770

Also from Prusa
Faulty sensor

You can always check the proper functioning of the sensor by inserting a piece of filament and observing the red light on top of the probe. You can also go to the LCD Menu -> Support ->

[2019-11-09 20:46] TheZeroBeast commented on #166
Hey @AbeFM, in all error states the selector is disengaged to allow manual moving where you please 👍

[2019-11-11 01:21] #166 closed, assigned to nobody

[2019-11-11 01:29] TheZeroBeast commented on #162
Hey @gizzburn,

I double checked and you're right 🤦‍♂️😂 the LED is opposite to our PINDAs.

Regarding that prusa issue #1770 I don't feel it's related, I run an entirely different comms protocol between printer and MMU2S.

Unless your MMU2S is loosing comms mid print (comms cable fault) then it'll be updating.
If you still have comms then your MMU2S will be responding to commands/gcodes.

If the i

[2019-11-11 01:29] #162 closed, assigned to TheZeroBeast

[2019-11-11 01:32] TheZeroBeast commented on #154
Hope we're homing correct now, these last changes have been solid for me in the tropics.
I'll close this as it's resolved👍

[2019-11-11 01:32] #154 closed, assigned to TheZeroBeast

[2019-11-12 19:14] AbeFM commented on #166
Great. Thanks. I knew that. It's not that easy to move, in my opinion. It is much harder to move the selector over 4 slots than it is to pull the filament forward or back.

I was trying to make a suggestion to make the system easier to use. It is a
Big Pain to move the selector around. Perhaps with a redesigned MMU with a
friendly knob for rotating that shaft, otherwise, it sucks.

It might be mor

[2019-11-12 19:19] AbeFM commented on #137
If you want to provide that information, I can find the stock firmware, download it, compile it, upload it and report back. I suspect you have the capability to do that much faster yourself - but I would be willing to do it if you could give me that number/variable so I can do the rest.

Getting that number would be enabling so I could "please do a test with stock MK3S fw to see?". I have already

[2019-11-12 19:25] AbeFM commented on #152
Why can't you do this all as one piece? Does the central section bolt in just to make it easier to test?

If you have access to square nuts, I'd suggest using them - I have the hex-nuts spin loose fairly often because I take out my aggression on small defenseless metric hardware. I'm certainly interested in trying it out if it at least works some. :-)

@TheZeroBeast What's the current state of the

[2019-11-12 19:38] CaiJonas commented on #152
@AbeFM the central section is just for testing. Didn't had the time until now to test it very much. I'm fine with the m3 nuts, keep an eye on the suggested torque. A screwdriver beetween two fingers is more than enough :) If you want to do correctly use threated inserts for plastic. Feel free to test and optimise the design.

[2019-11-12 22:36] AbeFM commented on #152
Just a suggestion on the square nuts. I don't love the idea of adding in a less reliable feature that's there to increase reliability - my lived experience points to the square nuts working all the time and the hex's working most of the time, if you're careful. The heat-set stuff works, though then it's pick about print settings, you can't easily get them back, each one adds a chance of messing up

[2019-11-13 21:31] AbeFM opened #167 "Initial Load should be Minimized"
I'm having issues with blobs on my prime tower. They appear on the INITIAL load - during a filament swap in normal MMU printing, the filament is loaded, then unloaded most of the way as a check for a jammed heat break, then loaded again.

If one decreases (makes more negative) the "extra reload distance" in PrusaSlicer, the filament is not fully loaded, the prime tower is weak, and in extreme case

[2019-11-13 21:53] AbeFM commented on #167
I cloned the latest repository, and selected the RAMBO board, so I would expect this to compile. When I try, however, I get:
``In file included from sketch\Configuration.h:62:0,

                 from sketch\Configuration.cpp:1:

eeprom.h:228:55: error: 'reinterpret_cast<M500_conf*>(20)' is not a constant expression

 static constexpr M500_conf * const EEPROM_M500_base = reinterpret_cast<M500_conf

[2019-11-14 02:04] TheZeroBeast commented on #152
To test, as you thought. Although I wouldn't see a point to change it without some benefits to justify.

😂 too much torque, poor little guys. I think the hex is fine but be my gust if you need more grip 👍

The one on the Prusa site is the current stable release, extra parts, still a PIN and a flag.

[2019-11-14 02:50] TheZeroBeast commented on #167
Are you using a Mac with Arduino by chance?

I've been using PlatformIO to compile as Arduino has been playing up on the current OS X release to compile stock or my variant of the firmware.

[2019-11-14 21:59] gizzburn opened #168 "Bondtech-16 Initial Loading Issue"
Hi Robert got round to trying your TZB-MK3S-3.0.2-BN2472-Bondtech-16.hex and the file you sent me for the MMU2s Alpha file remember it would not load the other one, when I upload these two files my printer has a mind of its own,
When it starts to print after doing the bed level check, it moves the extruder over to left front corner then loads a random filament and purges the filament, it moves bac

[2019-11-15 05:02] AbeFM commented on #167
Windows 10, Ardunio IDE.

Is anyone else using that? That section is different from the earlier one that does compile, but not that line.

Oh, actually, no!
static M500_conf
becomes
static constexpr M500_conf

Seems like I could pull that out and see if it compiles.

[2019-11-15 05:09] AbeFM commented on #167
[code]

That gives me a bunch of warnings about types....

[code]

So, it compiles.... but.... I dunno, if I should even upload it.

[2019-11-15 18:25] AbeFM commented on #167
I'm kinda at an impasse. I'd like to try to tweak the loading, but I'm pretty unsure how to make this compile, and if it's safe to use, etc.

Any help in getting the printer to feed less on the initial pre-load would be appreciated. It's causing print problems and I don't see any reason why it needs to do what it does. With compressible filament, I don't get as big a blob, presumably because it do

[2019-11-15 18:57] AbeFM commented on #167
I am doing a test in TPU, and I'm not seeing it eject filament on initial load. I suspect the firmware treating TPU different is part of the difference.

I guess I should try a mixed material print, 2 PLA's, 2 TPU's, and see if TPU-TPU or PLA-PLA is different, or TPU-PLA or PLA-TPU makes a difference.

[2019-11-16 04:20] TheZeroBeast commented on #168
I’ll review when I get time and get back to you mate 👍

[2019-11-16 04:24] TheZeroBeast commented on #167
So still no go with Arduino compiling hey.
When I get some time I’ll review the errors in arduino.

Have you double checked your unloads are working as intended? Maybe do a batch of cold pulls to confirm it’s all clear and try again.

[2019-11-16 04:24] TheZeroBeast commented on #165
Any chance to test this mate?

[2019-11-17 04:58] alackofcolor commented on #165
Unfortunately not yet. It took a while to upgrade my printer with the Bondtech+Mosquito because the thermal paste shipped separately and arrived a while later. I finally got the upgrade installed and wanted to make sure everything was working first on stock-ish firmware. So I'm running Gussner's OLED firmware, with Bondtech's changes for the new extruder added in.

One thing I'm concerned about in

[2019-11-17 10:48] 3d-gussner commented on #165
@alackofcolor and @TheZeroBeast We had to make a new firmware for new Bondtech Extruders as they are bit longer than the first one. Some users had calibration issues. Checkout:
- For OLED firmware which also seam to work with LCD screen just fine
  - https://github.com/prusa3d/Prusa-Firmware/compare/v3.8.1...3d-gussner:MK3_WEH002004_OLED
- For Bondtech firmware changes especially MMU
  - https://g

[2019-11-17 20:26] AbeFM commented on #167
Everything works great as best I can tell. I can bang out spot on TPU stuff all the time, and nothing outside of these blobs on initial load looks wrong.

[2019-11-18 08:54] gizzburn commented on #168
No worries Robert, I just realise how clunky the Prusa FW is to using your version, even the z motors seem louder. I am printing ok on the Bondtech/Prusa FW, but as soon as I load yours the printer does as above.

[2019-11-18 18:25] AbeFM commented on #167
Ok, I downloaded the latest release versions from Prusa official. I get the same compilation error.

Am I the only person who has these errors? Can anyone else try to compile firmware for the printer using Windows10 and Arduino IDE?

[2019-11-18 18:42] AbeFM commented on #168
Is there some chance your filament sensor isn't working right? Try turning off "spool join", etc, see if it cleans up?

[2019-11-18 18:47] AbeFM commented on #137
https://github.com/prusa3d/Prusa-Firmware/issues/2331

Looks like there's a fix in the works.

[2019-11-18 19:12] AbeFM commented on #167
I loaded PR release firmware (3.8.1 I believe) and I DO NOT get the bad loading.

Has anyone else printed an MMU PLA print with the current TZB FW?

![image](https://user-images.githubusercontent.com/42385/69082099-4905ab80-09f4-11ea-912e-1100c35d3e74.png)
TZB in front, PR in the back. Both printed from the same g-code.

Yes, even with my original heat-break. Go figure that something which changed

[2019-11-18 20:44] gizzburn commented on #168
No its working fine, I can print with the firmware without touching anything after trying your FW. Its weird because at the very start of the print it does not even do the purge line, it just moves over to the left unloads the filament, then reloads another and then does the bed leveling again. its like the MMU2s is not connected or recognised.? I am sure it thinks its just the Mk3s.

[2019-11-18 20:52] AbeFM commented on #167
Looking forward to whatever you find.

Obviously the nozzle will ALWAYS have some material left behind - if not,
there would be no need for a purge tower, it would be a "prime" tower. :-)

The amount that comes out is relatively small, probably ~1mm of filament.

On Fri, Nov 15, 2019 at 8:24 PM Robert McKenzie <notifications@github.com>
wrote:

[2019-11-19 00:00] TheZeroBeast commented on #167
Try this, I found there's a section that loads 3mm more than stock with hard plastics. It's removed in this build.

[TZB-MK3S_EINSy10a-3.0.3-BN2479.hex.zip](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/files/3861232/TZB-MK3S_EINSy10a-3.0.3-BN2479.hex.zip)

[2019-11-19 01:16] AbeFM commented on #168
Look at the bottom menu item (About, or System or whatever), printer info - it'll show firmware version, and if you scroll down it'll show if it sees the MMU

Assuming you know, but MMU on far right disables it for the printer. Unlikely either is your issue but it's what I know. :-)

[2019-11-19 01:53] AbeFM commented on #167
Running it with TZB-MMU2S-3.0.2-BN362 & TZB-MK3S_EINSy10a-3.0.3-BN2479, I am still getting blobs. They may be smaller than before, hard to tell yet/at all. :-) Going to try lower loading distance, currently at 85 with -25 extra loading distance. What do you use?

[2019-11-19 02:00] TheZeroBeast commented on #167
Weird, this is the stock config I'm using.
<img width="405" alt="Screen Shot 2019-11-19 at 11 59 46 am" src="https://user-images.githubusercontent.com/20939095/69109631-12976180-0ac4-11ea-9af2-861bea407d3c.png">

[2019-11-19 18:02] AbeFM commented on #167
Can someone/anyone print either of these?  In PLA.

[1 USA rings.zip](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/files/3865338/1.USA.rings.zip)
In Red/White/Blue they can be American/French/Russian themed.... I like in PLA but printing in TPU makes it easier to solve.

[3Petals.zip](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/files/3865339/3Petals.zip)
Fast minimal print, I suggest

[2019-11-19 19:30] AbeFM commented on #167
![image](https://user-images.githubusercontent.com/42385/69179140-e0840080-0abf-11ea-8e26-a6718054212c.png)

This would be ideal world.... Although in reality you likely wouldn't need to change one of them too often. Similarly, the initial load could be made smaller in firmware.

[2019-11-19 19:49] AbeFM commented on #167
FYI I have the latest version compiling* now (Thanks for whatever magic you worked!)

Now I really just want to know what controls that initial load (BEFORE the load-check retract step!!!) distance. ZB mentioned pulling back 3mm from the number, my blobs might be smaller but are still there.
I would like to see that number pulled back another ~5. Can anyone tell me where that change was made and I

[2019-11-19 20:53] AbeFM commented on #167
Made the following changes to ultralcd.cpp at line ~4911
[code]

I just added #ifdef lcd_language_menu and #endif //abe //lcd_language_menu, and it keeps that warning from triggering. I *assume* it won't break anything for those using the LCD, but I don't know.

[2019-11-19 21:38] AbeFM commented on #167
![image](https://user-images.githubusercontent.com/42385/69188301-1f6e8200-0ad1-11ea-9640-3b1a7bec862f.png)

I defined a constant, UNDERLOAD, which I subtract from both the first load and the second in "can_load" in mmu.ccp as Rob suggested. I put a #define in Configuration.h

Also I added #ifdef's around the LCD_language_menu to avoid the compilation warning. I changed build number but probably t

[2019-11-20 00:25] AbeFM commented on #168
Just an FYI - I turned "filament sensor" on on this most recent build, and before MBL it ejects and reloads filament - it spat it out of the MMU - which of course I missed and had to spend a full minute winding the threaded shaft 1/6th of a turn at a time until I could move the selector over and retract my now kinked filament....

**PLEASE REOPEN https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/

[2019-11-22 16:29] gizzburn commented on #168
I am just finishing off some long prints, then I will reload your FW and try and see if we can bottom this issue, at the moment its printing well with the Bondtech and Prusa mix FW, but its so clumsy and clonky on operation.. I have disconnected the MMU2s until I finish these long prints. will let you know when I try your FW again.

[2019-11-23 04:38] AbeFM commented on #167
I found the function Rob suggested and added an offset to the initial load and unload. Right now it's only for the Prusa configurations, but I don't see why everyone wouldn't want to have it, with it set to 0 perhaps by default.

Anyway, I load (and unload) 5 less and I don't get any hint of that blobbing. I could probably run it closer but I don't think loading distance there is worth maximizing.

[2019-11-23 04:41] AbeFM opened #169 "Use lower current idler home when in Stealth Mode"
**Is your feature request related to a problem? Please describe.**
The homing is now louder than in previous builds, it is too load when everything else is quiet.

**Describe the solution you'd like**
Use quieter homing routine for idler when in Stealth Mode

**Describe alternatives you've considered**
None? Running old firmware?

**Additional context**
I don't think this needs a whole lot more co

[2019-11-23 18:46] AbeFM opened #170 "After failed MMU pre-load, retract filament before homing selector"
**Is your feature request related to a problem? Please describe.**
When loading filament, if the filament doesn't make it all the way to the FINDA sensor, the MMU re-homes. If the filament is partially in the selector, this can cause the filament to be pulled to the loading position and cause complex jams.

**Describe the solution you'd like**
Once the decision has been made to re-home, retract ~2

[2019-11-25 15:18] XRyu opened #171 "Integrate G81 Center Relative for Nyloc-Mod as Standard-Behavior in TZB-Firmware"
What do you think about setting the G81-Center-Relative Behavior as a standard?
This is mostly used by Nyloc-Mod-Users which improves Bed Leveling a ton

https://github.com/PrusaOwners/prusaowners/wiki/Bed_Leveling_without_Wave_Springs

[2019-11-27 06:07] TheZeroBeast commented on #171
Hi @XRyu, has this been requested to be pulled into PRUSA stock FW?

[2019-11-27 06:10] TheZeroBeast commented on #165
Hi @alackofcolor, I have been testing the OLED updates with my codebase over the past week and all appears good with an LCD display, I'll attach the hex for you to try.

Hey @3d-gussner, thanks for the resorces, I was able to merge without many issues and I already have made a PlatformIO script to build each or all variants configured.

[2019-11-27 06:11] TheZeroBeast commented on #164
@alackofcolor, as per your other thread I've been testing and will post hex with OLED code encorporated soon.

[2019-11-27 06:19] TheZeroBeast commented on #167
Hi @AbeFM,

The entire point of this initial load is to detect hotend Jams by attempting to insert into cold zone then testing if it lost steps.
So the distance is important and should be at a point where we don't get blobs but also still get into the cold zone for the test.

Was there a smaller amount of change than 5mm that still provided desired results?

[2019-11-27 06:21] TheZeroBeast commented on #169
Sorry, I have put many hours into just tuning homing and it needs to be like this to ensure an accurate homing.

[2019-11-27 06:36] XRyu commented on #171
No, i dont think so, as its more a thing of the modders and tinkerers to do the nyloc-mod i think :)

[2019-11-27 18:16] AbeFM commented on #167
I guess I haven't tried. It's a 7% adjustment and adds a lot of reliability - I've been banging out prints and the only issues are missed loads within the MMU, and the lingering complaint about winding the selector out of the way. :-)

You can make the number as small as you want, heck, set it negative and ensure EVERY print fails.... My feeling is the jam detection causes problems and that settin

[2019-11-27 18:19] AbeFM commented on #167
82 mm gears-to-tip, 70 is the normal number, I'm pushing that to 65, or a net underload of 17. The block and nozzle are 16, so I'm still under the "heat break" (skinny part in the neck). Everything there SHOULD be molten.

[2019-11-27 18:22] AbeFM commented on #169
Fair enough, its a minor concern.

I can't say I was having issues with poor homing except when my screws were loose. The problem I have is filament missing the selector.

[2019-11-27 22:22] TheZeroBeast commented on #170
I'll have a look at solutions.

Although if the FINDA isn't tripped you've ground your filament most likely, but it might prevent the jam at back of SEL.

[2019-11-27 22:23] TheZeroBeast commented on #169
Missing the selector? as in your selector isn't aligning correctly? What selector mod are you using?

[2019-11-27 22:23] #169 closed, assigned to nobody

[2019-11-29 19:54] AbeFM commented on #169
It's missing... 1% of the time? Maybe 0.5%.

Yeah, the tips just started missing occasionally a few months ago, not sure
why. It seems like if the gap for the razor wasn't there we'd be  a lot
better off.

I'm use JTLX's selector, and been using it for over a year.

I've been a bit suspicious that flexing of the MMU body leads to poor
alignment, but more likely the filament is getting a small curv

[2019-11-29 19:58] AbeFM commented on #170
Generally the situation is:
I'm trying to get the MMU gears to pick up filament, and it takes a while. It finally grabs, feeds a couple CM then gives up.

If it backed up a couple CM before re-homing you would avoid the issue. In short, of the ~5.5 cm from gears to sensor, the last 2.5 cm are all in-selector-but-unsensed, and are bad if you then move selector, at a minimum when you return you'll h

[2019-11-30 11:13] danielegger1 opened #172 "MMU2S does not work correctly"
Hello TZB,

I have an issue with your firmware and I have no idea what`s the root cause, tested several szenarious already.
Everytime when I start a print either in MMU or Single Mode after MeshBedLevelling the printer thinks it must load a filament and runs another MBL afterwards again and asks for the filament I want to pick, I have a video attached. I reflashed the firmware already without any

[2019-11-30 11:56] danielegger1 commented on #172
Unfortunetly I just found out that MMU printing threw Octoprint doesn`t work at all because at tool change no Unload / Load Action happens, it seems that one of my plugins causes an issue together with the firmware, tested it twice (no video recorded yet) and the same GCode works on the SD Card, will report more details as soon as I find something more out

[2019-11-30 12:00] danielegger1 commented on #172
Forgot to upload image of the flashing menu

![image](https://user-images.githubusercontent.com/16063664/69900246-4f3f4480-1371-11ea-89e9-6dd509e7de4f.png)

[2019-11-30 17:59] gizzburn commented on #172
I have the same problem but Robert suggested to turn off the filament sensor, I did this and now its working as it should, but not sure about the effects of having the sensor turned off.
I made a post about a month ago about but have only just got around to re-installing the TZb firmware.

[2019-12-02 16:04] danielegger1 commented on #172
The issue on octoprint seems to come from the printer, Octoprint sends the T0 command but receives a "Duplicate T-code ignored." Message, why does that happen?
[Octoprint.zip](https://github.com/TheZeroBeast/TZB-MMU2S-Firmware/files/3912102/Octoprint.zip)
![image](https://user-images.githubusercontent.com/16063664/69974434-8b1b0b00-1525-11ea-8816-228bd65b00fe.png)

[2019-12-02 16:05] danielegger1 commented on #172
Thanks gizzburn for your reply, at the moment I will start the prints with the filament in the nozzle until TZB will give a respsonse about the importancy of the filament sensor activated

[2019-12-02 16:25] gizzburn commented on #172
Just an update I have printed a test piece of about 5 hours and apart from some filament issues's (crappy filament) and some load / unload issues the TZB FW is working well with the sensor disabled, just need Robert to try and sort it when he has the time.

[2019-12-05 12:51] gizzburn commented on #168
Hi Robert seeing some issues with the sensor being disabled, its not loading and unloading the same all the time, sometimes it does not fully unload and breaks the filament off, this is random and it could be any filament, apart from this it seems to be working well.

Just had a stoppage it went from F5 to F1, in the correct position for F1, but the MMU loaded F3 and F4 together, really weird, it

[2019-12-05 21:34] AbeFM commented on #168
I had a failed unload I couldn't figure out - I believe it was an unload... I found the machine stopped, with the selector on a higher numbered filament, but the lower numbered one still in the tube but not into the extruder.

I don't have a good reason to suspect anything in particular happened - maybe the upper filament sensor triggered after just a bit of unloading. I could think the MMU pulled

[2019-12-06 08:55] gizzburn commented on #168
I loaded on the Bondtech firmware last night and did a 7 hour print with exactly the same settings, the print completed fully without issue 200 tool changes, there are some bugs in the firmware somewhere or the filament sensor issue needs sorting.

[2019-12-06 20:17] danielegger1 commented on #172
Also an update from my side, I am printing basically 24/7 since the original post and I have to say, god damn this firmware is awesome!
Since the last roughly 2000 filament changes there was just 3 load / unload issues and 1 of that was caused by me :D By the way I disabled the sensor as you mentioned and it didn`t cause any issues yet
Only problem I really have at the moment is that I cannot prin

[2019-12-09 05:33] AbeFM commented on #172
That mirrors my experience, since the adjustment to that initial feed. I
went back to TPU and needed a few degrees of turn on door sensor screw, and
have had a similar number of errors.

On Fri, Dec 6, 2019 at 12:17 PM danielegger1 <notifications@github.com>
wrote:

[2019-12-16 14:21] XRyu commented on #171
Close the issue, someone started making an awesome Octoprint Addon for the process, based on the Stock-G81, so any modifications for this would make this harder in the future :)
https://github.com/scottrini/OctoPrint-PrusaLevelingGuide

[2019-12-16 14:21] #171 closed, assigned to nobody

[2019-12-23 09:51] FredMk3 opened #173 "mmu security after upgrade to last fw"
hi, i don't can use the last 3.0.2 fw because this one make not use good mmu2 because at load print mmu2 load filament on the extrudeur (calibration in center of bondtech ok) but nema of extrudeur make new load filament and this one make stop working mmu2 because of grinding filament.

the only solution is go back to 3.0.0 or 3.0.1 for get working.

i use this files
TZB-MK3S-3.0.2-BN2472
and TZB-M

[2019-12-25 00:10] kajsilander78 opened #174 "RPI broken?"
TZB-MK3S-3.0.2

Bug description:
MK3S wont boot if I power my raspberry. Get just two lines with squares on display.
Not done much more investigation than...

[2019-12-25 04:04] TheZeroBeast commented on #174
How is your Pi connected? Has your Pi worked on other versions of this FW?

[2019-12-25 04:05] TheZeroBeast commented on #173
Can you please go into further detail on this issue you’re having, I don’t follow.

[2019-12-25 04:08] TheZeroBeast commented on #172
Octoprint is fixable by following their guide to setup multitool printers. It’s only come able on the last couple months due to an update they did. I’ve printed a few hundred hours through octoprint with this FW in the last few months without issue.

[2019-12-25 08:56] kajsilander78 commented on #174
Its connected to the einsy with the pins, the ones that prusa originally have recommended. Hmm, if it has worked before on this fw, thats a tougher one.... Have not used the Pi for a while, but know it has worked. (its not connected wrong at least ;)  ), think it has worked on this fw also(80%)...but not sure. Sorry.

I have not had chance to investigate more, just noticed when I tried switching o

[2019-12-25 09:16] kajsilander78 commented on #174
Hmm, not sure I have used it since mmu2s upgrade? I'll try to get my hands on it for a quick peek later... Maybe just have to do some config:
https://community.octoprint.org/t/i-installed-octoprint-1-3-12-or-later-and-now-my-mmu2-doesnt-work-properly-the-whole-printer-resets-how-to-fix-this/12962

[2019-12-25 09:24] danielegger1 commented on #172
Thanks for the answer
Can you explain more in details how todo that?

[2019-12-25 09:33] kajsilander78 commented on #174
Tried changing to 5 extruder setup, no help... Just get 2 lines filled with boxes on display when I flick on power to mk3s.

[2019-12-25 14:25] kajsilander78 commented on #174
Tried flashing down to 3.0.1 version, same result. If I power on printer first it boots fine, then when I boot up PI, it crashes again... not getting any communication, screenshot from octopi:

Connected to: Serial<id=0x689013d0, open=True>(port='/dev/ttyAMA0', baudrate=115200, bytesize=8, parity='N', stopbits=1, timeout=10.0, xonxoff=False, rtscts=False, dsrdtr=False), starting monitor
Changing m

[2019-12-25 19:39] danielegger1 commented on #172
I got it working by changing the following settings to what you can see on the image:
![image](https://user-images.githubusercontent.com/16063664/71449836-8f1dff80-2756-11ea-86bb-07c07eb62480.png)

[2019-12-25 19:39] #172 closed, assigned to nobody

[2019-12-25 20:02] FredMk3 commented on #173
Sorry for my bad English.

On the last rev I cannot print.
I make flash mk3 and mmu, I calibrate Bowden (same as previous version) but when I test to print a file, the filament go to extruder and the motor run for approximately 7 seconds and this make out filament inside chamber and blocks it.
The ir sensor see filament, but motor don't stop.
This stop print and I do manually push button on mmu fo

[2019-12-26 20:50] kajsilander78 commented on #174
Guess we can close this for now. Think my pi is broken, could not get it to connect even on original anymore, tried reflashing it with octopi. Now it wont boot. Hehe, more issues... I'll try with some other card. But it would had been nice to know if there is a issue with Rpi or not? Anyone who can confirm it working?

[2019-12-26 20:50] #174 closed, assigned to TheZeroBeast

[2019-12-27 22:42] AbeFM commented on #173
Are you REALLY sure the IR sensor is working well?

https://photos.app.goo.gl/qeCGaoDjEYcVkrec6

On Wed, Dec 25, 2019 at 12:02 PM FredMk3 <notifications@github.com> wrote:

[2019-12-27 22:47] FredMk3 commented on #173
Yes i'm sure and see it in the support menu.
I actually make a 17hours print on 3.0.1 with no issue.
I have test this afternoon to flash 3.0.2 another bit same issue 🤔

[2020-01-18 15:39] CaiJonas commented on #152
Hi Robert,

Are there any news About your design? Look what I found on Aliexpress:

https://www.aliexpress.com/snapshot/0.html?spm=a2g0s.9042647.0.0.287b4c4dHOVAWU&orderId=8009463021723304&productId=4000404170721

I’ve ordered one, Maybe it’s good. What do you think?

Best Regards
Cai

Gesendet von Mail<https://go.microsoft.com/fwlink/?LinkId=550986> für Windows 10

Von: Robert McKenzie<mailto:not

[2020-02-18 11:42] TheZeroBeast commented on #164
Testing has been solid with this, I'm in the process of pulling us up to Stock-3.9.0-RC1, I will include this enhancement in that.

[2020-02-18 11:53] TheZeroBeast commented on #152
Hi @CaiJonas,

Busy start of the year, new Dad 👏👍

No progress on design apart from further testing on my now MK2.5S which is working flawlessly 🤘👍

[2020-02-18 11:56] TheZeroBeast commented on #152
Link update
https://www.prusaprinters.org/prints/7690-tzb-mk3smk25smmu2s-extruder-mmu2s-no-tower-v2

[2020-02-18 19:06] AbeFM commented on #152
A bit confused - you changed something? What? Is it just for the 2.5?

On Tue, Feb 18, 2020 at 3:57 AM Robert McKenzie <notifications@github.com>
wrote:

[2020-02-18 19:41] kajsilander78 commented on #152
Could maybe make magnet-pockets a bit tighter. Works wonders so far! Have not looked (maybe done), turn hole for pin 180 degree in new placement. Add some meat around filament entrence to hide threads just for the look ;) Otherwise perfect! Suppose thats the reason this thread is so quiet....

[2020-02-19 18:20] AbeFM commented on #152
It's been working well for me. I feel there's a chance that the adjustment
screw should stand a bit more proud to ensure you're in the adjustment
range, the fan shroud is a little easy to monkey up, the pin is pretty hard
to get into place (bump could be smaller)... But the only real show stopper
is that the flag is marginal. It sounds like others haven't seen it but it
has been consistent between

[2020-03-09 08:40] TheZeroBeast commented on #164
This is now implemented on latest release with 3.9.0-RC1 upstream rebase.

[2020-03-09 08:40] #164 closed, assigned to nobody

[2020-03-09 08:42] TheZeroBeast commented on #173
Hi @FredMk3,

Can you please see if this issue is still present on the release today and advise?

[2020-03-09 08:45] TheZeroBeast commented on #168
Hi @gizzburn,
during upstream merge to 3.9.0-RC1 I found an issue with M600 triggering before filament loads when running stock start gcodes.
This seams like what you may have been experiencing and should now be resolved in the latest release from earlier today.
Please review and advise.

[2020-03-10 18:51] FredMk3 commented on #173
Yes. I make test this week because I think before I don't have time.

I send you if good or same immediately after.

Thanks

Le lun. 9 mars 2020 à 09:42, Robert McKenzie <notifications@github.com> a
écrit :

[2020-03-15 13:48] FredMk3 commented on #173
All is perfect sir 😉
Work a charm for now.

Le mar. 10 mars 2020 à 19:50, frederic cabeza <fredcabeza.pub@gmail.com> a
écrit :

[2020-03-15 13:48] FredMk3 commented on #173
All work a charm now.
Thanks for your work.

I close this issue. 😉

[2020-03-15 13:48] #173 closed, assigned to TheZeroBeast

[2020-03-16 14:16] gizzburn commented on #168
Hi Robert all good here, just uploaded the latest and a test cube printed with no issues, thanks for your hard work..

[2020-04-04 20:03] habitforming11 opened #175 "Please publish the correct length for PTFE tubing in the hot end"
**Is your feature request related to a problem? Please describe.**
I recently needed to replace the PTFE in the hot end, and after printing the cutting jig for original prusa size, I realised it is not the correct length (44.2mm).

**Describe the solution you'd like**
Please provide the correct overall PTFE length for this extruder design.  I will design a cutting jig for length & end taper, simil

[2020-04-16 13:08] Naugrimohtar opened #176 "MMU2 not seen by MK3"
**TZB-MMU2S Release Version**
TZB-MK3S_EINSy10a-3.0.3-BN2480
TZB-MMU2S-3.0.3-BN364

**Describe the bug**
I flashed the firmware per Wiki instructions. Flashing was successful. Upon first reboot I confirmed in the support screen that the versions listed above were correct. I tried to go into the setting menu by going to position 6. The MMU calibrated its position but seemed to reboot after going to

[2020-04-16 14:08] TheZeroBeast commented on #176
Hi @Naugrimohtar,

It sounds like your in the disable mmu2s state.
Can you move selector to left most with mmu2s buttons then reboot printer?

[2020-04-16 14:12] observatoer commented on #176
Wait; there is a disable mmu2s state? How to get into this?

[2020-04-16 14:15] TheZeroBeast commented on #176
Disable mmu2s feature is accessed by going to 6th position (service position) and then rebooting.

Move off that position to one of the 5 filament channels and reboot to reconnect mmu2s.

This allows you to quickly use your printer without the mmu2s, very handy at times

[2020-04-16 16:56] Naugrimohtar commented on #176
WOW! That seems to be it! What a great feature! Thanks so much! I am *very* excited to explore! I just completed bowden calibration. Awesomeness!

[2020-04-16 19:05] #176 closed, assigned to TheZeroBeast

[2020-04-17 04:02] TheZeroBeast commented on #175
Hi @habitforming11,

This firmware doesn't require my upgraded extruder although I do have it on my list to add the correct, shorter length to my Extruder upgrade that's referenced here.

[2020-04-17 04:08] habitforming11 commented on #175
I understand. I was just trying to reach out to you to request that dimension, as I was unable to find it.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Robert McKenzie <notifications@github.com>
Sent: Friday, April 17, 2020 12:02:45 AM
To: TheZeroBeast/TZB-MMU2S-Firmware <TZB-MMU2S-Firmware@noreply.github.com>
Cc: habitforming11 <andy_feger@hotmail.com>;

[2020-04-17 11:20] TheZeroBeast commented on #168
Awesome to hear 👍

[2020-04-17 11:20] #168 closed, assigned to TheZeroBeast

[2020-04-22 00:27] gutschke commented on #175
I measured 41.2 for my teflon tube. Looks fine, but who knows whether it is. The extruder currently works a lot worse than before. Most of the time, I can't load filament it tells me that my heat break is clogged. This is almost certainly an incorrect error message and something else is going wrong. I just haven't been able to find it yet.

[2020-04-22 06:44] TheZeroBeast commented on #175
Hi @gutschke, thanks for mesuring it.
Correct you are, that is due to the IR_Sensor not being tuned.
When tuned and showing correct states that message is shown when it can't load into the heatbreak (usually due to a jam)

Some tips that may help.
1. Ensure your pin is free, it shouldn't be hard to push in and out.
2. Adjust idler so that when loaded and extruding you don't get false negatives and

[2020-04-22 15:27] gutschke commented on #175
I certainly was struggling a lot more with this extruder than with either of the Prusa designs. Yours seems a great design, so not sure why I was having so much trouble. But I think, I finally got it calibrated correctly, after taking it apart a few more times. The pin definitely had to be trimmed and sanded a little bit, and I kept running into issues with the door binding for no good reason (yes

[2020-04-22 15:28] AbeFM commented on #175
FYI, I've had a couple set ups where the sensor turns on-off-on again,
though it got no attention. I ended up having to print a bigger flag and
cut it down. Once I did that, and shortened the load distance a little,
it's been flawless for months on end.

                  Thanks!
                          -Abe.
Sent from my "smart"phone, please excuse brevity and Swype-oes

On Tue, Apr 21, 2020, 1

[2020-04-22 15:33] gutschke commented on #175
@AbeFM, That's a good clue. I wonder if that was happening for me. If this was an official Prusa-sponsored design, maybe the pin should be an off-the-shelf metal part with precise dimensions (e.g. something along the lines of https://smile.amazon.com/uxcell-Stainless-Support-Fasten-Elements/dp/B07MR4VPXM). For an after-market user-provided upgrade, a printed pin is of course fine. And if this is a

[2020-04-22 15:36] AbeFM commented on #175
https://photos.app.goo.gl/KZ6GWcQnyC1Dfunm9
I believe there are differences in the hardware between my printer and
TZB's. In the past I was told I had stuff adjusted wrong but it wasn't
that. The same for the loading being too far. As soon as I adjusted it the
problem was fixed and this information was never used to look for possible
issues.

It's not meant to belittle the project, it represents a

[2020-04-22 15:41] AbeFM commented on #175
I feel the printed pin works. It's really tight to get it. I may have
trimmed it a bit. It's been a while but I suspect the pin is at the limit
of working so you have to back the screw off all the way and/or trim the
pin then do that.

Actually, I may have trimmed the door back just a bit to make room.

As I said, once it started working it's literally worked without issue.
I'll try to see if I ca

[2020-04-22 15:47] TheZeroBeast commented on #175
Hi @AbeFM,
Flag is no longer an issue because it prints on the bed and as long as black plastics are used IR can't get through.

I agree an LED like @AbeFM added and @gutschke is planning to add would greatly assist in tuning.
Which load procedures do you want me to elaborate on?

Also, yes the PIN can print tighter at times, usually when I had played with dif. Slic3r profiles (ie. PrettyPETG from

[2020-04-22 16:12] gutschke commented on #175
In order to test MMU and extruder, I typically use "load to nozzle". There obviously is a lot going on, when doing this. And a lot that can go wrong, if the hardware isn't calibrated correctly. As I learn more about my printer, I am able to deduce some of the steps. But it would make diagnostics easier, if there was a straight-forward "flow chart" of the different things that need to happen. Somet

[2020-04-22 16:24] gutschke commented on #175
@AbeFM:

Yes, either a through-hole LED and a hole, or an SMD LED and a diffuser should work just the same. A fringe benefit of the window is that it makes for a great test case for the multi-material capabilities of the printer. If it printed fine, the extruder is clearly capable of loading/unloading materials repeatedly.

I uploaded my *.gcode file to the prusaprinters.org listing, and I am atta

[2020-04-22 21:50] AbeFM commented on #175
I agree with this. It's a pain to write it up, but it is probably the single thing that makes trouble shooting someone else's procedure difficult.

Not quite following here. Perhaps you meant to say (step 1.5) that the filament is fed forward first? Before the selector is homed I don't think it moves the filament at all.

I think it's a distance, not a time.

This is where the on-off-on messes you